
.uttaraKannada{
	position: absolute;
	top: 573px;
	left: 20px;
}
.uttaraKannadaText{
	position: absolute;
	top: 45%;
	left:30%;
}
.uttaraKannadaNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.belagavi{
	position: absolute;
	top: 327px;
    left: -4px;
}
.belagaviText{
	position: absolute;
	top: 45%;
	left:40%;
}
.belagaviNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.vijayapura{
	position: absolute;
	top: 252px;
    left: 222px;
}
.vijayapuraText{
	position: absolute;
	top: 45%;
	left:40%;
}
.vijayapuraNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.gulbarga{
	position: absolute;
	top: 200px;
    left: 344px;
}
.gulbargaText{
	position: absolute;
	top: 45%;
	left:40%;
}
.gulbargaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.bidar{
	position: absolute;
	top: 91px;
    left: 440px;
}
.bidarText{
	position: absolute;
	top: 45%;
	left:40%;
}
.bidarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.yadgir{
	position: absolute;
	top: 342px;
    left: 378px;
}
.yadgirText{
	position: absolute;
	top: 20%;
	left:45%;
}
.yadgirNumber{
	position: absolute;
	top: 35%;
	left:45%;
}
.bagalkot{
	position: absolute;
	top: 370px;
    left: 170px;
}
.bagalkotText{
	position: absolute;
	top: 55%;
	left:40%;
}
.bagalkotNumber{
	position: absolute;
	top: 65%;
	left:40%;
}
.dharwad{
	position: absolute;
	top: 545px;
    left: 122px;
}
.dharwadText{
	position: absolute;
	top: 45%;
	left:30%;
}
.dharwadNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.haveri{
	position: absolute;
	top: 633px;
    left: 171px;
}
.haveriText{
	position: absolute;
	top: 45%;
	left:30%;
}
.haveriNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.gadag{
	position: absolute;
	top: 518px;
    left: 213px;
}
.gadagText{
	position: absolute;
	top: 45%;
	left:35%;
}
.gadagNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.koppal{
	position: absolute;
	top: 497px;
    left: 295px;
}
.koppalText{
	position: absolute;
	top: 45%;
	left:35%;
}
.koppalNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.raichur{
	position: absolute;
	top: 406px;
    left: 367px;
}
.raichurText{
	position: absolute;
	top: 45%;
	left:35%;
}
.raichurNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.bellary{
	position: absolute;
	top: 529px;
    left: 274px;
}
.bellaryText{
	position: absolute;
	top: 45%;
	left:50%;
}
.bellaryNumber{
	position: absolute;
	top: 55%;
	left:45%;
}
.davangere{
	position: absolute;
	top: 680px;
    left: 234px;
}
.davangereText{
	position: absolute;
	top: 45%;
	left:30%;
}
.davangereNumber{
	position: absolute;
	top: 55%;
	left:30%;
}
.shivamogga{
	position: absolute;
	top: 721px;
    left: 102px;
}
.shivamoggaText{
	position: absolute;
	top: 45%;
	left:30%;
}
.shivamoggaNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.udupi{
	position: absolute;
	top: 831px;
    left: 88px;
}
.udupiText{
	position: absolute;
	top: 45%;
	left:35%;
}
.udupiNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.chikkamagaluru{
	position: absolute;
	top: 851px;
    left: 178px;
}
.chikkamagaluruText{
	position: absolute;
	top: 45%;
	left:25%;
}
.chikkamagaluruNumber{
	position: absolute;
	top: 55%;
	left:30%;
}
.chitradurga{
	position: absolute;
	top: 661px;
    left: 330px;
}
.chitradurgaText{
	position: absolute;
	top: 55%;
	left:30%;
}
.chitradurgaNumber{
	position: absolute;
	top: 65%;
	left:35%;
}
.tumakuru{
	position: absolute;
	top: 777px;
    left: 380px;
}
.tumakuruText{
	position: absolute;
	top: 50%;
	left:30%;
}
.tumakuruNumber{
	position: absolute;
	top: 60%;
	left:35%;
}
.hassan{
	position: absolute;
	top: 908px;
    left: 250px;
}
.hassanText{
	position: absolute;
	top: 45%;
	left:35%;
}
.hassanNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.kodagu{
	position: absolute;
	top: 1029px;
    left: 214px;
}
.kodaguText{
	position: absolute;
	top: 45%;
	left:30%;
}
.kodaguNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.mysuru{
	position: absolute;
	top: 1058px;
    left: 307px;
}
.mysuruText{
	position: absolute;
	top: 45%;
	left:35%;
}
.mysuruNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.chamarajanagar{
	position: absolute;
	top: 1119px;
    left: 386px;
}
.chamarajanagarText{
	position: absolute;
	top: 45%;
	left:30%;
}
.chamarajanagarNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.mandya{
	position: absolute;
	top: 994px;
    left: 375px;
}
.mandyaText{
	position: absolute;
	top: 45%;
	left:30%;
}
.mandyaNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.channapatnaRamanagara{
	position: absolute;
	top: 971px;
    left: 496px;
}
.channapatnaRamanagaraText{
	position: absolute;
	top: 45%;
	left:5%;
}
.channapatnaRamanagaraNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
.bengaluru{
	position: absolute;
	top: 967px;
    left: 528px;
}
.bengaluruText{
	position: absolute;
	top: 40%;
	left:30%;
}
.bengaluruNumber{
	position: absolute;
	top: 55%;
	left:45%;
}
.bengaluruRural{
	position: absolute;
    top: 922px;
    left: 506px;
}
.bengaluruRuralText{
	position: absolute;
    top: 20%;
	left:20%;
}
.bengaluruRuralNumber{
	position: absolute;
    top: 30%;
	left:35%;
}
.chikkaballapur{
	position: absolute;
	top: 845px;
    left: 544px;
}
.chikkaballapurText{
	position: absolute;
	top: 40%;
	left:30%;
}
.chikkaballapurNumber{
	position: absolute;
	top: 55%;
	left:45%;
}
.kolar{
	position: absolute;
	top: 904px;
    left: 622px;
}
.kolarText{
	position: absolute;
	top: 45%;
	left:35%;
}
.kolarNumber{
	position: absolute;
	top: 55%;
	left:35%;
}
