.jobListWrapper{
	min-height: 700px;
	height: auto;
	color: var(--main-txt-color);
	background-color: var(--main-bg-color);
}

.EmployeeListWrapperMain{
	background-color: var(--main-bg-color);
	padding-bottom: 30px;
}

.jobListContainer{
	height: 275px;
	margin-top: 30px;
	border-radius: 10px;
	border: 1px solid var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListContainer .jobListLeftContent{
	height: 233px;
	margin-top: 20px;
	border-right: 1px solid var(--main-border-color);
}

.jobListLeftContent .iconsBar{
	background-color: yellow;
	margin-left: -11px;
	margin-top: -5px;
}

.jobListLeftContent .iconsBar ul{
	height: 29px;
	padding: 0;
	padding-top: 2px;
	list-style: none;
	float: left;
}

.jobListLeftContent .iconsBar ul li{
	float: left;
	margin-top: 5px;
}
 
.jobListLeftContent .iconsBar ul li i{
	margin-left: 22px;
}

.jobListLeftContent .iconsBar i{
	color: var(--main-border-color);
	font-size: 20px;
	height: 20px;
}

.jobListLeftContent .infoLog{
	padding: 6px 10px;
	height: 29px;
	border-radius: 3px;
	min-width: 8%;
	max-width: 15%;
	margin-left: 18px;
	font-size: 11px;
	float: left;
	margin-top: 2px;
	border: 1px solid var(--main-border-color);
	color: var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListDesignation{
	font-size: 22px;
	color: var(--main-border-color);
	margin-top: 3px;
	margin-left: -5px;
	font-family: 'Montserrat-SemiBold';
}

.jobListCompanyName{
	margin-top: 7px;
	margin-left: -5px;
	font-family: 'Montserrat-SemiBold';
}

.jobListExperience{
	font-size: 14px !important;
	margin-left: -5px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListMonSal{
	font-size: 10px !important; 
	border: 1px solid #D3950A;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 13px;
	margin-left: -8px;
	color: var(--main-border-color);
}

.jobListLocation{
	font-size: 16px !important;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 9px;
	margin-left: -9px;
	color: var(--main-border-color);
}

.jobListNumPositions{
	font-size: 13px !important;
	margin-left: -6px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListRightContent{
	height: 220px;
	margin-top: 18px;
}

.listEditBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 10px;
	margin-left: 19px;
}

.listViewBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 17px;
}

.listDelBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 19px;
	cursor: pointer;
}

/*******************Search Tab********************/

.jobListSearchTab{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);
}

.searchTabAddOn{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);	
}

.searchMainTab{
	margin-top: 32px;
	margin-left: -20px;
	margin-right: 20px;
}