.alirajpur{
	position: absolute;
	left: 10px;
    top: 700px;
}
.jhabua{
	position: absolute;
	left: 45px;
    top: 624px;
}
.ratlam{
	position: absolute;
	left: 69px;
    top: 535px;
}
.mandsaur{
	position: absolute;
	left: 112px;
    top: 425px;
}
.neemuch{
	position: absolute;
	left: 91px;
    top: 389px;
}
.barwani{
	position: absolute;
	left: 57px;
    top: 766px;
}
.khargone{
	position: absolute;
	    left: 157px;
    top: 711px;
}
.burhanpur{
	position: absolute;
	left: 254px;
    top: 836px;
}
.khandwa{
	position: absolute;
	left: 256px;
    top: 738px;
}
.harda{
	position: absolute;
	left: 346px;
    top: 711px;
}
.betul{
	position: absolute;
	left: 388px;
    top: 738px;
}
.chhindwara{
	position: absolute;
	left: 526px;
    top: 689px;
}
.seoni{
	position: absolute;
	left: 641px;
    top: 675px;
}
.balaghat{
	position: absolute;
    left: 680px;
    top: 736px;
}
.mandla{
	position: absolute;
    left: 726px;
    top: 643px;
}
.dindori{
	position: absolute;
    left: 779px;
    top: 611px;
}
.annupur{
	position: absolute;
    left: 858px;
    top: 599px;
}
.shahdol{
	position: absolute;
    left: 834px;
    top: 500px;
}
.sidhi{
	position: absolute;
    left: 866px;
    top: 447px;
}
.singrauli{
	position: absolute;
    left: 943px;
    top: 432px;
}
.rewa{
	position: absolute;
    left: 834px;
    top: 372px;
}
.satna{
	position: absolute;
    left: 750px;
    top: 367px;
}
.umaria{
	position: absolute;
    left: 779px;
    top: 522px;
}
.katni{
	position: absolute;
    left: 702px;
    top: 520px;
}
.jabalpur{
	position: absolute;
    left: 651px;
    top: 583px;
}
.narsinghpur{
	position: absolute;
    left: 557px;
    top: 634px;
}
.hoshangabad{
	position: absolute;
    left: 396px;
    top: 663px;
}
.dewas{
	position: absolute;
    left: 231px;
    top: 608px;
}
.indore{
	position: absolute;
    left: 178px;
    top: 645px;
}
.dhar{
	position: absolute;
    left: 72px;
    top: 638px;
}
.ujjain{
	position: absolute;
    left: 145px;
    top: 562px;
}
.shajapur{
	position: absolute;
    left: 262px;
    top: 576px;
}
.sehore{
	position: absolute;
    left: 311px;
    top: 569px;
}
.hoshangabad{
	position: absolute;
    left: 398px;
    top: 664px;
}
.agarMalwa{
	position: absolute;
    left: 209px;
    top: 481px;
}
.rajgarh{
	position: absolute;
    left: 274px;
    top: 489px;
}
.bhopal{
	position: absolute;
    left: 392px;
    top: 544px;
}
.raisen{
	position: absolute;
    left: 421px;
    top: 570px;
}
.sagar{
	position: absolute;
    left: 494px;
    top: 473px;
}
.damoh{
	position: absolute;
    left: 611px;
    top: 474px;
}
.panna{
	position: absolute;
    left: 689px;
    top: 383px;
}
.chhatarpur{
	position: absolute;
    left: 597px;
    top: 336px;
}
.tikamgarh{
	position: absolute;
    left: 559px;
    top: 357px;
}
.niwari{
	position: absolute;
    left: 537px;
    top: 319px;
}
.vidisha{
	position: absolute;
    left: 398px;
    top: 490px;
}
.guna{
	position: absolute;
    left: 252px;
    top: 142px;
}
.ashoknagar{
	position: absolute;
    left: 418px;
    top: 400px;
}
.shivpuri{
	position: absolute;
    left: 373px;
    top: 284px;
}
.sheopur{
	position: absolute;
    left: 302px;
    top: 244px;
}
.gwalior{
	position: absolute;
    left: 433px;
    top: 240px;
}
.datia{
	position: absolute;
    left: 511px;
    top: 248px;
}
.bhind{
	position: absolute;
    left: 503px;
    top: 158px;
}
.morena{
	position: absolute;
    left: 367px;
    top: 150px;
}
