
.pernem{
	position: absolute;
	left: 1px;
	top:  11px;
}
.pernemText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.pernemNumber{
	position: absolute;
	top: 53%;
    left: 45%;
}
.mapusa{
	position: absolute;
	left: 40px;
    top: 123px;
}
.mapusaText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.mapusaNumber{
	position: absolute;
	top: 53%;
    left: 45%;
}
.bicholim{
	position: absolute;
	left: 192px;
    top: 108px;
}
.bicholimText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.bicholimNumber{
	position: absolute;
	top: 42%;
    left: 25%;
}
.panjim{
	position: absolute;
	left: 96px;
    top: 243px;
}
.panjimText{
	position: absolute;
	top: 55%;
    left: 50%;
}
.panjimNumber{
	position: absolute;
	top: 62%;
    left: 55%;
}
.satari{
	position: absolute;
	left: 302px;
    top: 132px;
}
.satariText{
	position: absolute;
	top: 45%;
    left: 50%;
}
.satariNumber{
	position: absolute;
	top: 52%;
    left: 52%;
}
.ponda{
	position: absolute;
	left: 226px;
    top: 273px;
}
.pondaText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.pondaNumber{
	position: absolute;
	top: 52%;
    left: 45%;
}
.sanguem{
	position: absolute;
	left: 366px;
    top: 322px;
}
.sanguemText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.sanguemNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}
.quepem{
	position: absolute;
	left: 238px;
    top: 544px;
}
.quepemText{
	position: absolute;
	top: 50%;
    left: 30%;
}
.quepemNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.canacona{
	position: absolute;
	left: 212px;
    top: 702px;
}
.canaconaText{
	position: absolute;
	top: 50%;
    left: 50%;
}
.canaconaNumber{
	position: absolute;
	top: 55%;
    left: 55%;
}
.salcette{
	position: absolute;
	left: 88px;
    top: 401px;
}
.salcetteText{
	position: absolute;
	top: 45%;
    left: 60%;
}
.salcetteNumber{
	position: absolute;
	top: 50%;
    left: 65%;
}