@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.mapTextLabel{
	font-size: 10px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}

.mapCountLabel{
	font-size: 11px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}

.classHover:hover .mapTextLabel{
	font-size: 12px;
	font-family: 'Montserrat-Bold';
	z-index: 1;
}

.classHover:hover .mapCountLabel{
	font-size: 16px;
	font-family: 'Montserrat-Bold';
}
.pernem{
	position: absolute;
	left: 1px;
	top:  10px;
}
.mapusa{
	position: absolute;
	left: 40px;
    top: 124px;
}
.bicholim{
	position: absolute;
	left: 192px;
    top: 108px;
}
.panjim{
	position: absolute;
	left: 96px;
    top: 243px;
}
