
.pernem{
	position: absolute;
	left: 31px;
	top:  31px;
}
.pernemText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.pernemNumber{
	position: absolute;
	top: 53%;
    left: 45%;
}
.mapusa{
	position: absolute;
	left: 70px;
    top: 143px;
}
.mapusaText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.mapusaNumber{
	position: absolute;
	top: 53%;
    left: 45%;
}
.bicholim{
	position: absolute;
	left: 222px;
    top: 128px;
}
.bicholimText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.bicholimNumber{
	position: absolute;
	top: 42%;
    left: 25%;
}
.panjim{
	position: absolute;
	left: 126px;
    top: 263px;
}
.panjimText{
	position: absolute;
	top: 55%;
    left: 50%;
}
.panjimNumber{
	position: absolute;
	top: 62%;
    left: 55%;
}
.satari{
	position: absolute;
    left: 331px;
    top: 153px;
}
.satariText{
	position: absolute;
	top: 45%;
    left: 50%;
}
.satariNumber{
	position: absolute;
	top: 52%;
    left: 52%;
}
.ponda{
	position: absolute;
	left: 256px;
    top: 293px;
}
.pondaText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.pondaNumber{
	position: absolute;
	top: 52%;
    left: 45%;
}
.sanguem{
	position: absolute;
	left: 396px;
    top: 342px;
}
.sanguemText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.sanguemNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}
.quepem{
	position: absolute;
	left: 268px;
    top: 564px;
}
.quepemText{
	position: absolute;
	top: 50%;
    left: 30%;
}
.quepemNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.canacona{
	position: absolute;
	left: 242px;
    top: 722px;
}
.canaconaText{
	position: absolute;
	top: 50%;
    left: 50%;
}
.canaconaNumber{
	position: absolute;
	top: 55%;
    left: 55%;
}
.salcette{
	position: absolute;
	left: 118px;
    top: 421px;
}
.salcetteText{
	position: absolute;
	top: 45%;
    left: 60%;
}
.salcetteNumber{
	position: absolute;
	top: 50%;
    left: 65%;
}