.peren{
	position: absolute;
	left: 30px;
	top: 700px;
}
.perenText{
    position: absolute;
    top: 43%;
    left: 40%;
}
.perenNumber{
    position: absolute;
    top: 50%;
    left: 35%;
}
.dimapur{
	position: absolute;
	left: 99px;
    top: 574px;
}
.dimapurText{
    position: absolute;
    top: 55%;
    left: 40%;
}
.dimapurNumber{
    position: absolute;
    top: 65%;
    left: 42%;
}
.kohima{
	position: absolute;
	left: 229px;
    top: 548px;
}
.kohimaText{
    position: absolute;
    top: 55%;
    left: 40%;
}
.kohimaNumber{
    position: absolute;
    top: 65%;
    left: 42%;
}
.phek{
	position: absolute;
	left: 359px;
    top: 611px;
}
.phekText{
    position: absolute;
    top: 30%;
    left: 30%;
}
.phekNumber{
    position: absolute;
    top: 40%;
    left: 25%;
}
.kiphireSadar{
	position: absolute;
	left: 488px;
    top: 533px;
}
.kiphireSadarText{
    position: absolute;
    top: 30%;
    left: 30%;
}
.kiphireSadarNumber{
    position: absolute;
    top: 40%;
    left: 32%;
}
.zunhebotoSadar{
	position: absolute;
	left: 353px;
    top: 424px;
}
.zunhebotoSadarText{
    position: absolute;
    top: 30%;
    left: 40%;
}
.zunhebotoSadarNumber{
    position: absolute;
    top: 40%;
    left: 44%;
}
.wokhaSadar{
	position: absolute;
	left: 247px;
    top: 322px;
}
.wokhaSadarText{
    position: absolute;
    top: 45%;
    left: 38%;
}
.wokhaSadarNumber{
    position: absolute;
    top: 52%;
    left: 44%;
}
.tuensangSadar{
	position: absolute;
	left: 472px;
    top: 341px;
}
.tuensangSadarText{
    position: absolute;
    top: 45%;
    left: 38%;
}
.tuensangSadarNumber{
    position: absolute;
    top: 52%;
    left: 44%;
}
.mokochung{
	position: absolute;
	left: 362px;
    top: 213px;
}
.mokochungText{
    position: absolute;
    top: 45%;
    left: 38%;
}
.mokochungNumber{
    position: absolute;
    top: 52%;
    left: 44%;
}
.longleng{
	position: absolute;
	left: 499px;
    top: 195px;
}
.longlengText{
    position: absolute;
    top: 50%;
    left: 25%;
}
.longlengNumber{
    position: absolute;
    top: 60%;
    left: 40%;
}
.mon{
	position: absolute;
	left: 537px;
    top: 92px;
}
.monText{
    position: absolute;
    top: 40%;
    left: 45%;
}
.monNumber{
    position: absolute;
    top: 45%;
    left: 40%;
}
