.peren{
	position: absolute;
	left: 10px;
	top: 650px;
}
.dimapur{
	position: absolute;
	left: 79px;
    top: 524px;
}
.kohima{
	position: absolute;
	left: 209px;
    top: 498px;
}
.phek{
	position: absolute;
	left: 340px;
    top: 561px;
}
.kiphireSadar{
	position: absolute;
	left: 469px;
    top: 483px;
}
.zunhebotoSadar{
	position: absolute;
	left: 333px;
    top: 373px;
}
.wokhaSadar{
	position: absolute;
	left: 227px;
    top: 272px;
}
.tuensangSadar{
	position: absolute;
	left: 452px;
    top: 291px;
}
.mokochung{
	position: absolute;
	left: 342px;
    top: 163px;
}
.longleng{
	position: absolute;
	left: 479px;
    top: 145px;
}
.mon{
	position: absolute;
	left: 516px;
    top: 42px;
}
