.font40{
	font-size: 60px;
	text-align: center;
	margin-top: 200px;
}
.mb25{
	margin-bottom: 25px;
}
.vehicleIconimg{
    height: 4.9em;
    padding: 0;
    width: 50%;
}
.locationWidth{
    width: 200px;
    white-space: pre-line;
}
.TabName {
  	border-radius: 0;
  	color: #fff;
  	background: #666;
    white-space: nowrap;
    position: relative;
   display: block;
   text-align: center;
}
.todaysdate{
  height: 35px;
}
.blueBtn{
  background-color: var(--blue-color);
}

.input-group-addon {
    padding: 9px 12px!important;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee!important;
    border-right: 1px solid #ccc!important;
    border-top: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc!important;
    cursor: pointer;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
    border-color: #ddd;
}

.profileImage{
  height: 80px;
  border: 1px solid #eee;
  box-shadow: 2px 1px 3px 1px #eee;

  margin-top: -5px;
  border-radius: 10px;
}
.profileImage img{
  height: 100%;
  padding: 5px;
  width: 100%;

}
.addExpenseBtn{
  font-size: 20px;
  color: #367ea8 !important;
}
.ulWidth{
  width: 100px !important;
}
.btnText{
  color: #fff !important
}
.summaryCol{
  background: #2b2a2a;
}
.actionBtn{
  font-weight: 600;
  padding: 1px 9px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  width: 100% !important;
}
.ulAllign{
  right: 0 !important;
}