.kasaragod{
	position: absolute;
	left: 10px;
	top: 10px;
}
.kannur{
	position: absolute;
	left: 65px;
    top: 101px;
}
.wayand{
	position: absolute;
	left: 177px;
    top: 160px;
}
.kozhikode{
	position: absolute;
	left: 133px;
    top: 195px;
}
.malappuram{
	position: absolute;
	left: 186px;
    top: 250px;
}
.palakkad{
	position: absolute;
	left: 226px;
    top: 300px;
}
.thrissur{
	position: absolute;
	left: 213px;
    top: 388px;
}
.ernakulam{
	position: absolute;
	left: 253px;
    top: 479px;
}
.idukki{
	position: absolute;
	left: 336px;
    top: 466px;
}
.kottayam{
	position: absolute;
	left: 289px;
    top: 557px;
}
.alappuzha{
	position: absolute;
	left: 270px;
    top: 554px;
}
.pathanamthitta{
	position: absolute;
    left: 308px;
    top: 630px;
}
.kollam{
	position: absolute;
	left: 310px;
    top: 691px;
}
.thiruvanthapuram{
	position: absolute;
	left: 340px;
    top: 748px;
}
