.contactWrapper{
	margin-bottom: 100px;
}
/********************React phone input custom classes*******************/
.react-tel-input .form-control{
	background-color: var(--input-bg-color) !important;
	border: 1px solid var(--main-border-color) !important;
	font-size:13px !important;
}

.react-tel-input .flag-dropdown{
	background-color:#eee !important;
	border: 1px solid var(--main-border-color) !important;
	color: #555 !important;
	z-index: 100 !important;
}
.react-tel-input .country-list{
	width: 255px !important;
	font-size:13px !important;
}
.react-tel-input .selected-flag{
	background-color: #eee !important;

}

.react-tel-input .flag-dropdown:hover{
	background-color: var(--main-bg-color) !important;
}

.react-tel-input .selected-flag:hover{
	background-color: var(--main-bg-color) !important;
}

[role=button] {
	background-color: var(--main-bg-color) !important;
}

.react-tel-input .selected-flag .arrow{
    border-top: 4px solid #000 !important;
}

.react-tel-input .selected-flag .arrow.up{
	border-bottom: 0px solid #555 !important;
}

.react-tel-input .country-list{
	background-color: var(--main-bg-color) !important;
	border: 1px solid var(--main-border-color) !important;
	border-radius: 5px !important;
}

.react-tel-input .country-list .country:hover{
	background-color: var(--main-border-color) !important;
}

.react-tel-input .country-list .country.highlight{
	background-color: var(--main-border-color) !important;
}

.react-tel-input .country-list .country .dial-code{
	color: var(--main-txt-color) !important;
}
/************************End of react phone input***********************/