.downloadicon{
    font-size: 16px !important;
    color: #333;
    margin: 10px !important;
}
.headerupperborder{
    border-top: 6px solid var(--waikawagrey-background);
    margin-bottom: 20px;
}
.headersubtitle{
    margin-top: 20px;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
}
.headerlogo{
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
}
.greyheaderdiv{
    -webkit-print-color-adjust: exact;
    background: #ebebeb;
    padding: 13px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 4px;
}
.headerbottomborder{
    border-top: 4px solid var(--waikawagrey-background);
    margin-bottom: 20px;
}
.companyinfo{
    background: var(--whitesmoke-color);
    padding: 8px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 4px;
    text-transform: uppercase;
}
.entityinfo{
    background: var(--whitesmoke-color);
    padding: 8px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 4px;
    text-transform: uppercase;
}
.contracttext p{
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.terminfo{
    background: var(--whitesmoke-color);
    padding: 8px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}
.packageinfo{
    background: var(--whitesmoke-color);
    padding: 8px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}
.signtitle{
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 65px;
    /*text-align: center;*/
}
.signborder{
    border-top: 2px solid  #ccc;
    margin-bottom: 20px;
}
.footerbottomborder{
    border-top: 4px solid var(--waikawagrey-background);
    margin-top: 20px;
    margin-bottom: 20px;
}
.termDiv{
    overflow: hidden;
    word-break: break-word;
}
.viewBoxImg{
    margin-top: 10px;
    height: 100px;
    background-size: 100% 100%;
}
.viewBoxImg img{
  width: 100%;
  height: 100%;
}
.margBtm40{
    margin-bottom: 40px;
}
.packageDetails{
    padding-top: 30px;
    padding-bottom: 30px;
}
.right-text
{
    text-align: right;
}
.informationtext{
    padding-bottom: 15px;
}
.address-ico{
    font-size: 16px;
}
.authority-name{
    font-weight: 600;
    font-size: 13px;
}
.signDiv{
    text-align: left;
}
.cityClass-title{
    padding: 6px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.empid{
    font-size: 10px;
}
.comapnyName{
    font-size: 12px;
    font-weight: bold;
}
.signDate, .location{
    font-weight: 600;
    font-size: 11px;
}
.signdate, .loc{
    font-size: 11px;
}
.listIcon{
    width: 15px;
}
.globe-ico{
    font-size: 14px;
    text-align: left !important;
}
.listItem{
    font-size: 10px;
    font-weight: 600;
}
.entityName{
    font-size: 12px;
    font-weight: bold;
}
.locType{
    font-weight: 500;
    font-size: 13px;
}
.notAvailablemsg{
    color : #ce0503;
    font-size: 10px;
}
.cityNames{
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
}
.cityTitle{
    font-weight: bold;
}
.packagesTable{
    border-collapse: separate;
    border-top: 3px solid #c1c0c0;
    box-shadow: 0px 2px 12px 1px #ddd;
    border-radius: 5px !important;
    padding-bottom: 10px;
}
.packagesTable thead tr th{
    border-bottom: 0 !important;
}
.packagesTable tbody {
    border-top: 0 !important;
}
/*.packagesTable tbody tr td{
    border-top: 0 !important;
}*/
.packagesTable tr{
    box-shadow: none !important;
}
/*.packagesTable thead {
  background-color: #969696;
  color: white;
}*/
.locType{
    font-weight: bold;
}
.designation{
    font-size: 10px;
}