.jobPostProfileWrapper{
	min-height: 670px;
	height: auto;
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	padding-top: 30px;
	padding-bottom: 30px;
}

.leftSideMain{
	min-height: 670px;
	height: 1375px;
	border: 1px solid var(--main-border-color);
}

.leftHeader{
	height: 215px;
	border-bottom: 1px solid var(--main-border-color);
}

.leftImgContainer{
	height: 215px;
	/*background-color: red;*/
}

.leftImgContainer .imgbox{
	margin-top: 45px;
	margin-left: 15px;
	height: 130px;
	border-radius: 3px;
	background-color: #fff;
}

.leftImgContainer .logo{
	height: 55px;
	margin-top: 40px;
	border-radius: 5px;
}

.imgContent .contentMain{
	padding-top: 5px;
}

.imgContent{
	height: 215px;
	/*background-color: maroon;*/
}

.imgContent .contentHead{
	font-size: 27px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	padding-top: 60px;
	font-family: 'Montserrat-SemiBold';
	margin-left: -52px;
}

.imgContent .subContentHead{
	margin-top: -3px;
	margin-left: -52px;
	font-size: 18px;
	font-family: 'Montserrat-SemiBold';

}

.imgContent .locationinfo{
	padding-top: 1px;
	margin-left: -52px;
	font-family: 'Montserrat-Thin';
	font-size: 13px;
}

.mainContent{
	height: auto; 
	/*background-color: #444;*/
}

.contentWrapper1{
	margin-top: -5px;
}

.content1 ul{
	margin-top: 10px;
}

.content1 .timeline:before{
	content: '';
	position: absolute;
	top: 70px;
	left: 40px;
	width: 2px;
	height: 356px;
	background-color: var(--main-border-color);
}

.contentWrapper2{
	margin-top: -32px;
}

.contentWrapper3{
	margin-top: -30px;
}

.content1{
	height: auto;
	/*background-color: blue;*/
}

.content1:before{
	content: "\25C8";
	position: absolute;
	font-size: 27px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	top: 40px;
	left: 33px;
}

.timeline:after{
	content: "";
	/*font-size: 30px;*/
	position: absolute;
	top: 56px;
	left: 53px;
	width: 25px;
	height: 2px;
	background-color: var(--main-border-color);
}

.timeline ul { list-style: none; }

.timeline li::before {
    content: "\25C6";
    font-weight: bold;
    padding-right: 6px;
    margin-left: -15px;
}

.content2 ul{
	margin-top: 10px;
}

.content2 .eduSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.content2 .eduDuration{
	font-family: 'Montserrat-Regular';
}

.content2 .timeline:before{
	content: '';
	position: absolute;
	top: 70px;
	left: 40px;
	width: 2px;
	height: 117px;
	background-color: var(--main-border-color);
}

.content2:before{
	content: "\25C8";
	position: absolute;
	font-size: 27px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	top: 40px;
	left: 33px;
}

.content3 .timeline:before{
	content: '';
	position: absolute;
	top: 71px;
	left: 40px;
	width: 2px;
	height: 435px;
	background-color: var(--main-border-color);
}

.content3 ul li:nth-child(1){
	font-weight: bold;
	font-size: 16px;
}

.content3:before{
	content: "\25C8";
	position: absolute;
	font-size: 27px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	top: 40px;
	left: 33px;
}

.contentHeading{
	font-size: 21px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	/*background-color: red;*/
	margin-top: 42px; 
	font-family: 'Montserrat-SemiBold';
}

.blankSpace{
	/*background-color: green;*/
	margin-top: 43px;
	height: 30px;
}

.skillsHeadOne{
	/*background-color: maroon;*/
	margin-top: 10px;
}

.skillsHeadOne .skillsTitle{
	font-size: 15px;
	font-family: 'Montserrat-SemiBold';
	color: var(--main-subheading-font-color);
}

.skillsHeadOne .skillSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.skillsHeadOne .skillDuration{
	font-family: 'Montserrat-Regular';
}

.skillsHeadOne li:nth-child(2){
	margin-top: 42px;
	/*background-color: red;*/
}

.skillsHeadTwo{
	/*background-color: gray;*/
	margin-top: 10px;
}

.skillsHeadTwo .skillsTitle{
	font-size: 15px;
	font-family: 'Montserrat-SemiBold';
	color: var(--main-subheading-font-color);
}

.skillsHeadTwo .skillSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.skillsHeadTwo .skillDuration{
	font-family: 'Montserrat-Regular';
}

.skillsHeadTwo li:nth-child(2){
	margin-top: 62px;
	/*background-color: red;*/
}

.skillsHeadThree{
	margin-top: 10px;
	/*background-color: red;*/
}

.skillsHeadThree .skillsTitle{
	font-size: 15px;
	font-family: 'Montserrat-SemiBold';
	color: var(--main-subheading-font-color);
}

.skillsHeadThree .skillSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.skillsHeadThree .skillDuration{
	font-family: 'Montserrat-Regular';
}

.skillsHeadThree li:nth-child(2){
	margin-top: 62px;
	/*background-color: red;*/
}

.skillsHeadFour{
	margin-top: 10px;
	/*background-color: red;*/
}

.skillsHeadFour .skillsTitle{
	color: var(--main-subheading-font-color);
}

.skillsList{
	/*background-color: brown;*/
	margin-top: 22px;
	position: absolute;
	font-family: 'Montserrat-Regular';
}

.buttonMain{
	margin-top: 115px;
}

.btnEdit{
	border: 1px solid var(--main-border-color);
    background-color: transparent;
    color: var(--main-txt-color);
    margin-left: -50px;
    margin-right: 0px;
}

.btnEdit:hover{
	color: var(--main-txt-color);
}

.btnSubmit{ 
	background-color: var(--yellow-button-color);
	margin-left: 33px;
}

.btnSubmit:hover{ 
	color: var(--main-txt-color);
}

.rightSideMain{
	min-height: 1375px;
	height: auto;
	border: 1px solid var(--main-border-color);
}

.rightSideHeader{
	height: 215px;
	border-bottom: 1px solid var(--main-border-color);
}

.rightContentHead{
	font-size: 28px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	padding-top: 30px;
	padding-left: 22px;
	font-family: 'Montserrat-SemiBold';
}

.rightSideTitle{
	font-size: 20px;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 7px;
	color: var(--main-subheading-font-color);
	font-family: 'Montserrat-SemiBold';
}

.rightSideSub{
	padding-left: 25px;
	padding-top: 2px;
	font-family: 'Montserrat-Regular';
}

.mapImg{
	height: 175px;
	margin-top: 20px;
	margin-left: 50px;
}

.rightSideImg{
	height: 300px;
	margin-left: 30px;
	margin-top: 330px;
}
.input-group-addon{
	background-color: transparent !important;
}
.addJobForm{
	margin-top: 100px;
	min-height: 500px;
	height: auto;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

.addJobBackgroundColor{
	background-color: var(--main-bg-color);	
}

.addJobBorderColor{
	border-color: var(--main-border-color); 
}

.addJobHeadingColor{
	color: var(--main-heading-color); 
}

.buttonYellow{
	background-color: var(--yellow-button-color);
	color: var(--main-txt-color);
	height: 30px;
	line-height: 15px;
}

.addJobWrapperBorder{
	border: 3px solid var(--main-border-color);
	border-radius: 10px;
	background-color: #242933;
}

.addJobFormHeading{
	margin-top: 25px;
	font-size: 25px;
	/*font-weight: bold;*/
	color: var(--main-heading-font-color);
	font-family: 'Montserrat-SemiBold'; 
}

.addJobFormHr{
	border-top: 1px solid var(--main-border-color);
	margin-top: 15px;
}

.addJobMainHead{
	font-size: 21px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	font-family: 'Montserrat-SemiBold'; 
}

.addJobMainHead i{
	color: var(--main-txt-color);
	border: 1px solid #fff;
	padding: 1px 7px;
	font-size: 18px;
	border-radius: 6px;
}

.addJobMainHead .labelLeftPadding{
	padding-left: 17px;
}

.addJobSubHead{
	font-size: 21px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	font-family: 'Montserrat-SemiBold';
}

.addJobSubHead i{
	color: var(--main-txt-color);
	font-size: 25px;
	margin-top: 18px;
}

.addJobSubHead .labelLeftPadding{
	padding-left: 17px;
}

.jobDesc{
	margin-top: 20px;
	padding-bottom: 6px;
	font-family: 'Montserrat-Regular';
}

.addJobFormSection{
	margin-left: 40px;
	margin-right: 40px;
}

.addjobformLable{
	font-family: 'Montserrat-Regular';
	font-size: 12px; 
	font-weight: 100;
	color: var(--main-txt-color);
	letter-spacing: 1px;
}

.addJobFieldRow {
    margin-top: 15px;
}

.addJobFormField {
    border: 1px solid var(--main-border-color) !important;
    background-color: transparent  !important;
    color: var(--main-txt-color)  !important;
}

.addJobFormField:hover{
	color: var(--main-txt-color)  !important;
}

.form-control:focus{
	border-color: rgba(211,149,10,0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(211, 149, 10, 0.6);
}

.locationIcon{
	font-size: 15px;
}

.workLable{
 	margin-left: 10px;
}

/*****************************Custom Checkbox***************************/
.containerWfh{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    color: var(--main-txt-color);
  }
  
  .containerWfh input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark2{
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid var(--main-border-color); 
  }
  
  .containerWfh:hover input ~ .checkmark2{
    background-color: transparent;
  }
  
  .containerWfh input:checked ~ .checkmark2{
    background-color: transparent;	
  }
  
  .checkmark2:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .containerWfh input:checked ~ .checkmark2:after{
    display: block;
  }
  
  .containerWfh .checkmark2:after{
  left: 5px;
  top: 3px;
  width: 6px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
/******************************************************************/

select{
	border: 1px solid var(--main-border-color);
    background-color: transparent;
    color: var(--main-txt-color) !important;
	/*border-left: transparent !important;*/
}

option{
	border: 1px solid var(--main-border-color);
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

option:hover{
	background-color: var(--main-bg-color) !important;
}

.optionContainer{
	background-color: var(--main-bg-color);
	white-space: nowrap; 
 	overflow: hidden;
 	text-overflow: ellipsis;
}

.optionContainer li:hover,
.optionContainer .highlight{
  background-color: var(--main-border-color);
  color: var(--main-txt-color);
}

.addJobPreviewBtn{
	height: 40px;
	width: 150px;
	margin-top: 60px;
	margin-right: 30px;
	margin-left: 95px;
}

.addJobSubmitBtn{
	height: 40px;
	width: 150px;
	margin-top: 60px;
}

.addJobSubmitBtn:hover{
	color: var(--main-txt-color);
}

.errorMsg{
	color: red;
	font-size: 12px;
}