
.middelContentWrapper{
	min-height:450px;
	height:auto;
	color: #dddddd;
	text-transform: capitalize;
}
.middelContentHeadingWrapper i{
	margin-left:-3px;
	font-size:10px;
	color: var(--main-border-color);
} 
.midlleContentrotate45:after{
	content:'';
	background:var(--main-border-color);
	height:2px;
	width:20px;
	display:block;
	position:absolute;
	transform: rotate(-45deg);
	left:10px;
	top:-10px;
}

.midlleContentrotate45{
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.middleContentHeading{
	margin-top: 2px;
	font-size:16px;
	letter-spacing:1px;
	color: var(--main-heading-font-color);
	font-family: Montserrat-Bold,Sans-Serif;
}
.middelContentText{	
	min-height:100px;
	height:auto;
	margin-bottom:0px;
	padding-bottom:12px;
	border-left:2px solid var(--main-heading-font-color);
	font-family: Montserrat-Medium,Sans-Serif;
	font-size:13px;
}
.secondP{
	margin-top:20px;
}
.SubHeadingPadding{
	padding-left: 20px;
	padding-top:10px;
} 
.SubHeadingPadding2{
	padding-left:10px;
	padding-top:10px;
}
.profesion{
	font-size:14px;
	color: var(--main-subheading-font-color);
	font-weight:800;
	padding-top:5px;
	padding-bottom:10px;
	font-family: Montserrat-Medium,Sans-Serif;
}
.companyName{
	font-size:13px;
	font-weight:600;
	color: var(--main-txt-color);
	font-family: Montserrat-Medium,Sans-Serif;
}
.companyExperience,.companyAddress{
	padding-top:3px;
	font-size:12px;
	font-family: Montserrat-Medium,Sans-Serif;
}

.middleContentHr{
	height:1px!important;
	border:none;
	background-color:var(--main-heading-font-color);
}
.companyImages img{
	width:70px;
	margin-right:5px;
}
.executiveSummaryWraap{
	padding-left: 50px;
	padding-top: 20px;
}
@media(min-width:992px) and (max-width:1024px){
  .middleContentHeading{
  	padding-left: 18px;
  }
}
@media(min-width:768px) and (max-width:992px){
	

}
@media(min-width:576px) and (max-width:768px){
	.companyImages img{
		width: 55px;
	}
}
@media (max-width:576px){
	.executiveSummaryWraap,.SubHeadingPadding{
		padding-left: 0px;
	}
	.middelContentText{
		border-left: none;
	}
	.middleContentHeading{
		margin-left: 0px;
	}
	.SubHeadingPadding{
		margin-left: -30px;
		margin-right: -30px;
	}
	.companyImages img {
		width: 40px;
		margin-top: 10px;
	}
	.candidateSkillsBlock{
		border-bottom: 1px solid var(--main-border-color);
		margin-bottom: 15px;
	}
	.executiveSummaryWraap,.middelContentText{
		border-bottom: 1px solid var(--main-border-color);
		margin-bottom: 25px;
	
	}
	.middelContentText{
		padding-bottom: 20px;
	}
	
}