mobileapp/node_modules
/webapp/adminportal/node_modules
webapp/adminportal/node_modules
webapp/candidateteportal/node_modules
webapp/employerportal/node_modules
api/node_modules
/api/node_modules
webapp/adminportal/.env
webapp/candidateteportal/.env
webapp/employerportal/.env
nodemon.js