mobileapp/node_modules
webapp/adminportal/node_modules
webapp/website/node_modules
webapp/employerportal/node_modules
api/node_modules
webapp/adminportal/.env
webapp/website/.env
webapp/employerportal/.env
api/nodemon.js