
.adilabad{
	position: absolute;
	left:  201px;
    top: 31px
}
.adilabadText{
	position: absolute;
	top: 40%;
    left: 45%;
}
.adilabadNumber{
	position: absolute;
	top: 50%;
    left: 50%;
}
.komaramBheem{
	position: absolute;
	left: 330px;
    top: 93px;
}
.komaramBheemText{
	position: absolute;
	top: 30%;
    left: 35%;
}
.komaramBheemNumber{
	position: absolute;
	top: 42%;
    left: 45%;
}
.nirmal{
	position: absolute;
	left: 135px;
    top: 140px;
}
.nirmalText{
	position: absolute;
	top: 38%;
    left: 30%;
}
.nirmalNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.mancherial{
	position: absolute;
    left: 341px;
    top: 159px;
}
.mancherialText{
	position: absolute;
	top: 30%;
    left: 40%;
}
.mancherialNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.nizamabad{
	position: absolute;
	left:  128px;
    top: 208px;
}
.nizamabadText{
	position: absolute;
	top: 30%;
    left: 45%;
}
.nizamabadNumber{
	position: absolute;
	top: 45%;
    left: 50%;
}
.jagtial{
	position: absolute;
	left: 272px;
    top: 195px;
}
.jagtialText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.jagtialNumber{
	position: absolute;
	top: 52%;
    left: 45%;
}
.peddapalle{
	position: absolute;
	left: 385px;
    top: 236px;
}
.peddapalleText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.peddapalleNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.jayaShankar{
	position: absolute;
	left:  468px;
    top: 238px;
}
.jayaShankarText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.jayaShankarNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.kamareddy{
	position: absolute;
	left: 89px;
    top: 281px;
}
.kamareddyText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.kamareddyNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.sircilla{
	position: absolute;
	left: 277px;
    top: 280px;
}
.sircillaText{
	position: absolute;
	top: 30%;
    left: 20%;
}
.sircillaNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.karimnagar{
	position: absolute;
	left: 355px;
    top: 273px;
}
.karimnagarText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.karimnagarNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}
.sangareddy{
	position: absolute;
	left:  71px;
    top: 343px;
}
.sangareddyText{
	position: absolute;
	top: 60%;
    left: 30%;
}
.sangareddyNumber{
	position: absolute;
	top: 70%;
    left: 35%;
}
.medak{
	position: absolute;
	left:143px;
    top: 360px;
}
.medakText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.medakNumber{
	position: absolute;
	top: 52%;
    left: 40%;
}
.siddipet{
	position: absolute;
	left:259px;
    top: 324px;
}
.siddipetText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.siddipetNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}
.jangaon{
	position: absolute;
	left:339px;
    top: 362px;
}
.jangaonText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.jangaonNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.warangalUrban{
	position: absolute;
	left:416px;
    top: 351px;
}
.warangalUrbanText{
	position: absolute;
	top: 35%;
    left: 40%;
}
.warangalUrbanNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.warangalRural{
	position: absolute;
	left:459px;
    top: 354px;
}
.warangalRuralText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.warangalRuralNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.Mahabubabad{
	position: absolute;
	left: 683px;
    top: 300px;
}
.MahabubabadText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.MahabubabadNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.mahabubabad{
	position: absolute;
	left:462px;
    top: 387px;
}
.mahabubabadText{
	position: absolute;
	top: 50%;
    left:30%;
}
.mahabubabadNumber{
	position: absolute;
	top: 60%;
    left: 35%;
}
.kothagudem{
	position: absolute;
	left:579px;
    top: 358px;
}
.kothagudemText{
	position: absolute;
	top: 45%;
    left:25%;
}
.kothagudemNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.vikarabad{
	position: absolute;
	left:54px;
    top: 471px;
}
.vikarabadText{
	position: absolute;
	top: 40%;
    left:35%;
}
.vikarabadNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.rangareddy{
	position: absolute;
	left: 161px;
    top: 482px;
}
.rangareddyText{
	position: absolute;
	top: 40%;
    left:40%;
}
.rangareddyNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}
.medchal{
	position: absolute;
	left: 242px;
    top: 459px;
}
.medchalText{
	position: absolute;
	top: 30%;
    left:20%;
}
.medchalNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.bhavnagiri{
	position: absolute;
	left:  305px;
    top: 439px;
}
.bhavnagiriText{
	position: absolute;
	top: 40%;
    left:25%;
}
.bhavnagiriNumber{
	position: absolute;
	top: 50%;
    left: 30%;
}
.suryape{
	position: absolute;
	left:  430px;
    top: 498px;
}
.suryapeText{
	position: absolute;
	top: 35%;
    left:35%;
}
.suryapeNumber{
	position: absolute;
	top: 45%;
    left: 40%;
}
.khammam{
	position: absolute;
	left: 510px;
    top: 484px;
}
.khammamText{
	position: absolute;
	top: 35%;
    left:30%;
}
.khammamNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.nalgonda{
	position: absolute;
	left:298px;
    top: 525px;
}
.nalgondaText{
	position: absolute;
	top: 40%;
    left:40%;
}
.nalgondaNumber{
	position: absolute;
	top: 47%;
    left: 40%;
}
.nagarkurnool{
	position: absolute;
	left: 189px;
    top: 631px;
}
.nagarkurnoolText{
	position: absolute;
	top: 45%;
    left:30%;
}
.nagarkurnoolNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.mahabubnagar{
	position: absolute;
	left:30px;
    top: 589px;
}
.mahabubnagarText{
	position: absolute;
	top: 35%;
    left:30%;
}
.mahabubnagarNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.wanaparthy{
	position: absolute;
	left:115px;
    top: 670px;
}
.wanaparthyText{
	position: absolute;
	top: 30%;
    left:30%;
}
.wanaparthyNumber{
	position: absolute;
	top: 40%;
    left: 45%;
}
.jogulambaGadwal{
	position: absolute;
	left: 75px;
    top: 715px;
}
.jogulambaGadwalText{
	position: absolute;
	top: 40%;
    left:10%;
}
.jogulambaGadwalNumber{
	position: absolute;
	top: 52%;
    left: 25%;
}

