
.bijapur{
	position: absolute;
	left: 1px;
	top:700px;
}
.bijapurText{
	position: absolute;
	top: 30%;
    left: 40%;
}
.bijapurNumber{
	position: absolute;
	top: 40%;
    left: 45%;
}
.sukma{
	position: absolute;
	left: 91px;
    top: 796px;
}
.sukmaText{
	position: absolute;
	top: 40%;
    left: 25%;
}
.sukmaNumber{
	position: absolute;
	top: 50%;
    left: 30%;
}
.dantewada{
	position: absolute;
	left: 122px;
    top: 725px;
}
.dantewadaText{
	position: absolute;
	top: 40%;
    left: -3%;
}
.dantewadaNumber{
	position: absolute;
	top: 50%;
    left: 20%;
}
.bastar{
	position: absolute;
	left: 154px;
    top: 680px;
}
.bastarText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.bastarNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}
.narayanpur{
	position: absolute;
	left: 60px;
    top: 614px;
}
.narayanpurText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.narayanpurNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.kondagaon{
	position: absolute;
	left: 148px;
    top: 586px;
}
.kondagaonText{
	position: absolute;
	top: 40%;
    left: 25%;
}
.kondagaonNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.uttarKanker{
	position: absolute;
	left: 24px;
    top: 533px;
}
.uttarKankerText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.uttarKankerNumber{
	position: absolute;
	top: 45%;
    left: 40%;
}
.rajnandgaon{
	position: absolute;
	left: 24px;
    top: 345px;
}
.rajnandgaonText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.rajnandgaonNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.balod{
	position: absolute;
	left: 84px;
    top: 463px;
}
.balodText{
	position: absolute;
	top: 30%;
    left: 40%;
}
.balodNumber{
	position: absolute;
	top: 50%;
    left: 50%;
}
.dhamtari{
	position: absolute;
	left: 162px;
    top: 465px;
}
.dhamtariText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.dhamtariNumber{
	position: absolute;
	top: 40%;
    left: 30%;
}
.ghariaband{
	position: absolute;
	left: 229px;
    top: 457px;
}
.ghariabandText{
	position: absolute;
	top: 40%;
    left: 25%;
}
.ghariabandNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.mahasamund{
	position: absolute;
	left: 244px;
    top: 386px;
}
.mahasamundText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.mahasamundNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}
.raipur{
	position: absolute;
	left: 182px;
    top: 383px;
}
.raipurText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.raipurNumber{
	position: absolute;
	top: 45%;
    left: 30%;
}
.durg{
	position: absolute;
	left: 128px;
    top: 394px;
}
.durgText{
	position: absolute;
	top: 35%;
    left: 30%;
}
.durgNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.kawardha{
	position: absolute;
	left: 88px;
    top: 246px;
}
.kawardhaText{
	position: absolute;
	top: 45%;
    left: 30%;
}
.kawardhaNumber{
	position: absolute;
	top: 58%;
    left: 35%;
}
.bemetara{
	position: absolute;
	left: 129px;
    top: 321px;
}
.bemetaraText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.bemetaraNumber{
	position: absolute;
	top: 50%;
    left: 30%;
}
.balodaBazar{
	position: absolute;
	left: 197px;
    top: 340px;
}
.balodaBazarText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.balodaBazarNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.mungeli{
	position: absolute;
	left: 176px;
    top: 225px;
}
.mungeliText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.mungeliNumber{
	position: absolute;
	top: 45%;
    left: 30%;
}
.bilaspur{
	position: absolute;
	left: 210px!important;
    top: 159px!important;
}
.bilaspurText{
	position: absolute;
	top: 60%!important;
    left: 35%!important;
}
.bilaspurNumber{
	position: absolute;
	top: 67%!important;
    left: 40%!important;
}
.janjgirChampa{
	position: absolute;
	left: 288px;
    top: 285px;
}
.janjgirChampaText{
	position: absolute;
	top: 45%;
    left: 10%;
}
.janjgirChampaNumber{
	position: absolute;
	top: 60%;
    left: 20%;
}
.raigarh{
	position: absolute;
	left: 374px;
    top: 206px;
}
.raigarhText{
	position: absolute;
	top: 35%;
    left: 30%;
}
.raigarhNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.korba{
	position: absolute;
	left: 264px;
    top: 178px;
}
.korbaText{
	position: absolute;
	top: 45%;
    left: 35%;
}
.korbaNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.koriya{
	position: absolute;
	left: 189px;
    top: 42px;
}
.koriyaText{
	position: absolute;
	top: 45%;
    left: 55%;
}
.koriyaNumber{
	position: absolute;
	top: 55%;
    left: 60%;
}
.surajpur{
	position: absolute;
	left: 312px;
    top: 51px;
}
.surajpurText{
	position: absolute;
	top: 45%;
    left: 35%;
}
.surajpurNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.balrampur1{
	position: absolute!important;
	left: 333px!important;
    top: 15px!important;
}
.balrampur1Text{
	position: absolute!important;
	top: 45%!important;
    left: 45%!important;
}
.balrampur1Number{
	position: absolute!important;
	top: 55%!important;
    left: 50%!important;
}
.surguja{
	position: absolute;
	left: 350px;
    top: 142px;
}
.surgujaText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.surgujaNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.jashpur{
	position: absolute;
	left: 436px;
    top: 139px;
}
.jashpurText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.jashpurNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
