
.bijapur{
	position: absolute;
	left: 1px;
	top:715px;
}
.bijapurText{
	position: absolute;
	top: 30%;
    left: 40%;
}
.bijapurNumber{
	position: absolute;
	top: 40%;
    left: 45%;
}
.sukma{
	position: absolute;
	left: 91px;
    top: 811px;
}
.sukmaText{
	position: absolute;
	top: 40%;
    left: 25%;
}
.sukmaNumber{
	position: absolute;
	top: 50%;
    left: 30%;
}
.dantewada{
	position: absolute;
	left: 122px;
    top: 740px;
}
.dantewadaText{
	position: absolute;
	top: 40%;
    left: -3%;
}
.dantewadaNumber{
	position: absolute;
	top: 50%;
    left: 20%;
}
.bastar{
	position: absolute;
	left: 154px;
    top: 695px;
}
.bastarText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.bastarNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}
.narayanpur{
	position: absolute;
	left: 60px;
    top: 629px;
}
.narayanpurText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.narayanpurNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.kondagaon{
	position: absolute;
	left: 148px;
    top: 601px;
}
.kondagaonText{
	position: absolute;
	top: 40%;
    left: 25%;
}
.kondagaonNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.uttarKanker{
	position: absolute;
	left: 24px;
    top: 548px;
}
.uttarKankerText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.uttarKankerNumber{
	position: absolute;
	top: 45%;
    left: 40%;
}
.rajnandgaon{
	position: absolute;
	left: 24px;
    top: 360px;
}
.rajnandgaonText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.rajnandgaonNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.balod{
	position: absolute;
	left: 84px;
    top: 478px;
}
.balodText{
	position: absolute;
	top: 30%;
    left: 40%;
}
.balodNumber{
	position: absolute;
	top: 50%;
    left: 50%;
}
.dhamtari{
	position: absolute;
	left: 162px;
    top: 480px;
}
.dhamtariText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.dhamtariNumber{
	position: absolute;
	top: 40%;
    left: 30%;
}
.ghariaband{
	position: absolute;
	left: 229px;
    top: 472px;
}
.ghariabandText{
	position: absolute;
	top: 40%;
    left: 25%;
}
.ghariabandNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.mahasamund{
	position: absolute;
	left: 244px;
    top: 401px;
}
.mahasamundText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.mahasamundNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}
.raipur{
	position: absolute;
	left: 182px;
    top: 398px;
}
.raipurText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.raipurNumber{
	position: absolute;
	top: 45%;
    left: 30%;
}
.durg{
	position: absolute;
	left: 128px;
    top: 409px;
}
.durgText{
	position: absolute;
	top: 35%;
    left: 30%;
}
.durgNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.kawardha{
	position: absolute;
	left: 88px;
    top: 261px;
}
.kawardhaText{
	position: absolute;
	top: 45%;
    left: 30%;
}
.kawardhaNumber{
	position: absolute;
	top: 58%;
    left: 35%;
}
.bemetara{
	position: absolute;
	left: 129px;
    top: 336px;
}
.bemetaraText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.bemetaraNumber{
	position: absolute;
	top: 50%;
    left: 30%;
}
.balodaBazar{
	position: absolute;
	left: 197px;
    top: 355px;
}
.balodaBazarText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.balodaBazarNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.mungeli{
	position: absolute;
	left: 176px;
    top: 240px;
}
.mungeliText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.mungeliNumber{
	position: absolute;
	top: 45%;
    left: 30%;
}
.bilaspur{
	position: absolute;
	left: 210px;
    top: 174px;
}
.bilaspurText{
	position: absolute;
	top: 60%;
    left: 35%;
}
.bilaspurNumber{
	position: absolute;
	top: 67%;
    left: 40%;
}
.janjgirChampa{
	position: absolute;
	left: 288px;
    top: 300px;
}
.janjgirChampaText{
	position: absolute;
	top: 45%;
    left: 10%;
}
.janjgirChampaNumber{
	position: absolute;
	top: 60%;
    left: 20%;
}
.raigarh{
	position: absolute;
	left: 374px;
    top: 221px;
}
.raigarhText{
	position: absolute;
	top: 35%;
    left: 30%;
}
.raigarhNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.korba{
	position: absolute;
	left: 264px;
    top: 192px;
}
.korbaText{
	position: absolute;
	top: 45%;
    left: 35%;
}
.korbaNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.koriya{
	position: absolute;
	left: 189px;
    top: 57px;
}
.koriyaText{
	position: absolute;
	top: 45%;
    left: 55%;
}
.koriyaNumber{
	position: absolute;
	top: 55%;
    left: 60%;
}
.surajpur{
	position: absolute;
	left: 312px;
    top: 66px;
}
.surajpurText{
	position: absolute;
	top: 45%;
    left: 35%;
}
.surajpurNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}

.Balrampur{
	position: absolute;
	left: 333px;
    top: 30px;
}
.BalrampurText{
	position: absolute;
	top: 45%;
    left: 45%;
}
.BalrampurNumber{
	position: absolute;
	top: 55%;
    left: 50%;
}
.surguja{
	position: absolute;
	left: 350px;
    top: 157px;
}
.surgujaText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.surgujaNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.jashpur{
	position: absolute;
	left: 436px;
    top: 154px;
}
.jashpurText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.jashpurNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
