@font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}
.mapTextLabel{
    font-size: 10px;
    font-family: 'Montserrat-Regular';
    color: var(--main-txt-color);
}

.mapCountLabel{
    font-size: 11px;
    font-family: 'Montserrat-Regular';
    color: var(--main-txt-color);
}

.classHover:hover .mapTextLabel{
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    z-index: 1;
}

.classHover:hover .mapCountLabel{
    font-size: 16px;
    font-family: 'Montserrat-Bold';
}
.kurnool{
	position: absolute;
	top: 375px;
	left: 80px;
}
.kurnoolText{
    position: absolute;
    top: 375px;
    left: 80px;
}
.kurnoolNumber{
    position: absolute;
    top: 375px;
    left: 80px;
}
.anantapur {
    position: absolute;
    top: 476px;
    left: 61px;
}
.anantapurText {
    position: absolute;
    top: 476px;
    left: 61px;
}
.anantapurNumber {
    position: absolute;
    top: 476px;
    left: 61px;
}
.ysr {
    position: absolute;
    top: 237px;
    left: 90px;
}
.ysrText {
    position: absolute;
    top: 237px;
    left: 90px;
}
.ysrNumber {
    position: absolute;
    top: 237px;
    left: 90px;
}
.chittoor {
    position: absolute;
    top: 602px;
    left: 195px;
}
.chittoorText {
    position: absolute;
    top: 602px;
    left: 195px;
}
.chittoorNumber {
    position: absolute;
    top: 602px;
    left: 195px;
}
.nellore {
    position: absolute;
    top: 486px;
    left: 288px;
}
.nelloreText {
    position: absolute;
    top: 486px;
    left: 288px;
}
.nelloreNumber {
    position: absolute;
    top: 486px;
    left: 288px;
}
.prakasam {
    position: absolute;
    top: 366px;
    left: 255px;
}
.prakasamText {
    position: absolute;
    top: 366px;
    left: 255px;
}
.prakasamNumber {
    position: absolute;
    top: 366px;
    left: 255px;
}
.guntur {
    position: absolute;
    top: 310px;
    left: 299px;
}
.gunturText {
    position: absolute;
    top: 310px;
    left: 299px;
}
.gunturNumber {
    position: absolute;
    top: 310px;
    left: 299px;
}
.krishna {
    position: absolute;
    top: 278px;
    left: 374px;
}
.krishnaText {
    position: absolute;
    top: 278px;
    left: 374px;
}
.krishnaNumber {
    position: absolute;
    top: 278px;
    left: 374px;
}
.westGodawari {
    position: absolute;
    top: 243px;
    left: 458px;
}
.westGodawariText {
    position: absolute;
    top: 243px;
    left: 458px;
}
.westGodawariNumber {
    position: absolute;
    top: 243px;
    left: 458px;
}
.eastGodawari {
    position: absolute;
    top: 179px;
    left: 519px;
}
.eastGodawariText {
    position: absolute;
    top: 179px;
    left: 519px;
}
.eastGodawariNumber {
    position: absolute;
    top: 179px;
    left: 519px;
}
.vishakhapatnam {
    position: absolute;
    top: 126px;
    left: 555px;
}
.vishakhapatnamText {
    position: absolute;
    top: 126px;
    left: 555px;
}
.vishakhapatnamNumber {
    position: absolute;
    top: 126px;
    left: 555px;
}
.vizianagaram {
    position: absolute;
    top: 58px;
    left: 655px;
}
.vizianagaramText {
    position: absolute;
    top: 126px;
    left: 555px;
}
.vizianagaramNumber {
    position: absolute;
    top: 58px;
    left: 655px;
}
.srikakulam {
    position: absolute;
    top: 57px;
    left: 707px;
}
.srikakulamText {
    position: absolute;
    top: 57px;
    left: 707px;
}
.srikakulamNumber {
    position: absolute;
    top: 57px;
    left: 707px;
}
