@font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}
.mapTextLabel{
    font-size: 10px;
    font-family: 'Montserrat-Regular';
    color: var(--main-txt-color);
}

.mapCountLabel{
    font-size: 11px;
    font-family: 'Montserrat-Regular';
    color: var(--main-txt-color);
}

.classHover:hover .mapTextLabel{
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    z-index: 1;
}

.classHover:hover .mapCountLabel{
    font-size: 16px;
    font-family: 'Montserrat-Bold';
}
.kurnool{
	position: absolute;
	top: 375px;
	left: 80px;
}
.kurnoolText{
    position: absolute;
    top: 43%;
    left: 34%;
}
.kurnoolNumber{
    position: absolute;
    top: 53%;
    left: 40%;
}
.anantapur {
    position: absolute;
    top: 476px;
    left: 62px;
}
.anantapurText{
    position: absolute;
    top: 25%;
    left: 30%;
}
.anantapurNumber{
    position: absolute;
    top: 35%;
    left: 40%;
}

.ysr {
    position: absolute;
    top: 474px;
    left: 181px;
}
.ysrText {
    position: absolute;
    top: 35%;
    left: 40%;
}
.ysrNumber {
    position: absolute;
    top: 45%;
    left: 45%;
}
.chittoor {
    position: absolute;
    top: 602px;
    left: 195px;
}
.chittoorText {
    position: absolute;
    top: 25%;
    left: 35%;
}
.chittoorNumber {
    position: absolute;
    top: 35%;
    left: 40%;
}
.nellore {
    position: absolute;
    top: 486px;
    left: 288px;
}
.nelloreText {
    position: absolute;
    top: 35%;
    left: 40%;
}
.nelloreNumber {
    position: absolute;
    top: 45%;
    left: 45%;
}
.prakasam {
    position: absolute;
    top: 366px;
    left: 254px;
}
.prakasamText {
    position: absolute;
    top: 40%;
    left: 30%;
}
.prakasamNumber {
    position: absolute;
    top: 50%;
    left: 40%;
}
.guntur {
    position: absolute;
    top: 310px;
    left: 299px;
}
.gunturText {
    position: absolute;
    top: 30%;
    left: 40%;
}
.gunturNumber {
    position: absolute;
    top: 45%;
    left: 45%;
}
.krishna {
    position: absolute;
    top: 278px;
    left: 374px;
}
.krishnaText {
    position: absolute;
    top: 30%;
    left: 40%;
}
.krishnaNumber {
    position: absolute;
    top: 40%;
    left: 50%;
}
.westGodawari {
    position: absolute;
    top: 243px;
    left: 458px;
}
.westGodawariText {
    position: absolute;
    top: 35%;
    left: 2%;
}
.westGodawariNumber {
    position: absolute;
    top: 48%;
    left: 25%;
}
.eastGodawari {
    position: absolute;
    top: 178px;
    left: 519px;
}
.eastGodawariText {
    position: absolute;
    top: 35%;
    left: 10%;
}
.eastGodawariNumber {
    position: absolute;
    top: 45%;
    left: 30%;
}
.vishakhapatnam {
    position: absolute;
    top: 126px;
    left: 554px;
}
.vishakhapatnamText {
    position: absolute;
    top: 45%;
    left: 15%;
}
.vishakhapatnamNumber {
    position: absolute;
    top: 55%;
    left: 25%;
}
.vizianagaram {
    position: absolute;
    top: 58px;
    left: 654px;
}
.vizianagaramText {
    position: absolute;
    top: 25%;
    left: -10%;
}
.vizianagaramNumber {
    position: absolute;
    top: 35%;
    left: 30%;
}
.srikakulam {
    position: absolute;
    top: 56px;
    left: 705px;
}
.srikakulamText {
    position: absolute;
    top: 50%;
    left: 20%;
}
.srikakulamNumber {
    position: absolute;
    top: 65%;
    left: 30%;
}
