
.kurnool{
	position: absolute;
	top: 415px;
	left: 30px;
}
.kurnoolText{
    position: absolute;
    top: 43%;
    left: 34%;
}
.kurnoolNumber{
    position: absolute;
    top: 53%;
    left: 35%;
}
.anantapur {
    position: absolute;
    top: 516px;
    left: 12px;
}
.anantapurText{
    position: absolute;
    top: 25%;
    left: 30%;
}
.anantapurNumber{
    position: absolute;
    top: 35%;
    left: 40%;
}

.ysr {
    position: absolute;
    top: 514px;
    left: 131px;
}
.ysrText {
    position: absolute;
    top: 35%;
    left: 40%;
}
.ysrNumber {
    position: absolute;
    top: 45%;
    left: 45%;
}
.chittoor {
    position: absolute;
    top: 642px;
    left: 145px;
}
.chittoorText {
    position: absolute;
    top: 25%;
    left: 35%;
}
.chittoorNumber {
    position: absolute;
    top: 35%;
    left: 40%;
}
.nellore {
    position: absolute;
    top: 526px;
    left: 238px;
}
.nelloreText {
    position: absolute;
    top: 35%;
    left: 40%;
}
.nelloreNumber {
    position: absolute;
    top: 45%;
    left: 45%;
}
.prakasam {
    position: absolute;
    top: 406px;
    left: 204px;
}
.prakasamText {
    position: absolute;
    top: 40%;
    left: 30%;
}
.prakasamNumber {
    position: absolute;
    top: 50%;
    left: 40%;
}
.guntur {
    position: absolute;
    top: 350px;
    left: 249px;
}
.gunturText {
    position: absolute;
    top: 30%;
    left: 40%;
}
.gunturNumber {
    position: absolute;
    top: 45%;
    left: 45%;
}
.krishna {
    position: absolute;
    top: 318px;
    left: 324px;
}
.krishnaText {
    position: absolute;
    top: 30%;
    left: 40%;
}
.krishnaNumber {
    position: absolute;
    top: 40%;
    left: 50%;
}
.westGodawari {
    position: absolute;
    top: 283px;
    left: 408px;
}
.westGodawariText {
    position: absolute;
    top: 35%;
    left: 2%;
}
.westGodawariNumber {
    position: absolute;
    top: 48%;
    left: 25%;
}
.eastGodawari {
    position: absolute;
    top: 218px;
    left: 469px;
}
.eastGodawariText {
    position: absolute;
    top: 35%;
    left: 10%;
}
.eastGodawariNumber {
    position: absolute;
    top: 45%;
    left: 30%;
}
.vishakhapatnam {
    position: absolute;
    top: 166px;
    left: 504px;
}
.vishakhapatnamText {
    position: absolute;
    top: 45%;
    left: 15%;
}
.vishakhapatnamNumber {
    position: absolute;
    top: 55%;
    left: 25%;
}
.vizianagaram {
    position: absolute;
    top: 98px;
    left: 604px;
}
.vizianagaramText {
    position: absolute;
    top: 45%;
    left: 0%;
}
.vizianagaramNumber {
    position: absolute;
    top: 55%;
    left: 30%;
}
.srikakulam {
    position: absolute;
    top: 96px;
    left: 655px;
}
.srikakulamText {
    position: absolute;
    top: 50%;
    left: 20%;
}
.srikakulamNumber {
    position: absolute;
    top: 65%;
    left: 30%;
}
