.tuipang{
	position: absolute;
	left: 183px;
    top: 425px;
}
.tuipangText{
    position: absolute;
    top: 50%;
    left: 40%;
}
.tuipangNumber{
    position: absolute;
    top: 58%;
    left: 45%;
}
.lawngtlai{
	position: absolute;
	left: 100px;
    top: 439px;
}
.lawngtlaiText{
    position: absolute;
    top: 35%;
    left: 35%;
}
.lawngtlaiNumber{
    position: absolute;
    top: 45%;
    left: 40%;
}
.lunglei{
	position: absolute;
	left: 63px;
    top: 293px;
}
.lungleiText{
    position: absolute;
    top: 35%;
    left: 35%;
}
.lungleiNumber{
    position: absolute;
    top: 43%;
    left: 40%;
}
.searchhip{
	position: absolute;
	left: 132px;
    top: 239px;
}
.searchhipText{
    position: absolute;
    top: 40%;
    left: 35%;
}
.searchhipNumber{
    position: absolute;
    top: 50%;
    left: 40%;
}
.aizawl{
	position: absolute;
	left:116px;
    top: 44px;
}
.aizawlText{
    position: absolute;
    top: 48%;
    left: 28%;
}
.aizawlNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.mamit{
	position: absolute;
	left:37px;
    top: 88px;
}
.mamitText{
    position: absolute;
    top: 38%;
    left: 28%;
}
.mamitNumber{
    position: absolute;
    top: 45%;
    left: 32%;
}
.champhai{
	position: absolute;
	left:  184px;
    top: 114px;
}
.champhaiText{
    position: absolute;
    top: 40%;
    left: 40%;
}
.champhaiNumber{
    position: absolute;
    top: 45%;
    left: 45%;
}
.kolasib{
	position: absolute;
	left: 85px;
    top: 27px;
}
.kolasibText{
    position: absolute;
    top: 40%;
    left: 35%;
}
.kolasibNumber{
    position: absolute;
    top: 50%;
    left: 40%;
}
