.kokrajhar{
	position: absolute;
    top: 250px;
    left:50px;
}
.kokrajharText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.kokrajharNumber{
	position: absolute;
	top: 50%;
    left: 25%;
}

.dhuburi{
	position: absolute;
    top: 321px;
    left: 35px;
}
.dhuburiText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.dhuburiNumber{
	position: absolute;
	top: 50%;
    left: 25%;
}

.chirang{
	position: absolute;
   top: 246px;
    left: 116px;
}
.chirangText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.chirangNumber{
	position: absolute;
	top: 55%;
    left: 25%;
}

.bongaigaon{
	position: absolute;
   top: 302px;
    left: 127px;
}
.bongaigaonText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.bongaigaonNumber{
	position: absolute;
	top: 55%;
    left: 25%;
}

.gopalpara{
	position: absolute;
    top: 341px;
    left: 93px;
}
.gopalparaText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.gopalparaNumber{
	position: absolute;
	top: 45%;
    left: 25%;
}

.baksa{
	position: absolute;
    top: 255px;
    left: 185px;
}
.baksaText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.baksaNumber{
	position: absolute;
	top: 45%;
    left: 25%;
}

.barpeta{
	position: absolute;
    top: 283px;
    left: 157px;
}
.barpetaText{
	position: absolute;
	top: 45%;
    left: 30%;
}
.barpetaNumber{
	position: absolute;
	top: 65%;
    left: 35%;
}

.nalbari{
	position: absolute;
    top: 294px;
    left: 228px;
}
.nalbariText{
	position: absolute;
	top: 45%;
    left: 30%;
}
.nalbariNumber{
	position: absolute;
	top: 65%;
    left: 35%;
}

.kamrup{
	position: absolute;
    top: 300px;
    left: 193px;
}
.kamrupText{
	position: absolute;
	top: 45%;
    left: 30%;
}
.kamrupNumber{
	position: absolute;
	top: 65%;
    left: 35%;
}

.udalguri{
	position: absolute;
    top: 242px;
    left: 290px;
}
.udalguriText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.udalguriNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.darrang{
	position: absolute;
    top: 283px;
    left: 298px;
}
.darrangText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.darrangNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.kamrup_metro{
	position: absolute;
    top: 336px;
    left: 275px;
}
.kamrup_metroText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.kamrup_metroNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.marigaon{
	position: absolute;
    top: 300px;
    left: 325px;
}
.marigaonText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.marigaonNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.sonitpur{
	position: absolute;
   	top: 227px;
    left: 369px;
}
.sonitpurText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.sonitpurNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.biswanath{
	position: absolute;
   	top: 232px;
    left: 464px;
}
.biswanathText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.biswanathNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.majuli{
	position: absolute;
   	top: 204px;
    left: 539px;
}
.majuliText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.majuliNumber{
	position: absolute;
	top: 65%;
    left: 55%;
}

.nagaon{
	position: absolute;
   	top: 275px;
    left: 380px;
}
.nagaonText{
	position: absolute;
	top: 25%;
    left: 20%;
}
.nagaonNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.karbi_anglong_west{
	position: absolute;
   	top: 354px;
    left: 344px;
}
.karbi_anglong_westText{
	position: absolute;
	top: 35%;
    left: 10%;
}
.karbi_anglong_westNumber{
	position: absolute;
	top: 55%;
    left: 25%;
}

.hojai{
	position: absolute;
    top: 344px;
    left: 417px;
}
.hojaiText{
	position: absolute;
	top: 35%;
    left: 40%;
}
.hojaiNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.karbi_anglong_west{
	position: absolute;
   	top: 354px;
    left: 344px;
}
.karbi_anglong_westText{
	position: absolute;
	top: 35%;
    left: 10%;
}
.karbi_anglong_westNumber{
	position: absolute;
	top: 55%;
    left: 25%;
}
.karbi_anglong_east{
	position: absolute;
   top: 288px;
    left: 428px;
}
.karbi_anglong_eastText{
	position: absolute;
	top: 35%;
    left: 30%;
}
.karbi_anglong_eastNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}

.golaghat{
	position: absolute;
   top: 257px;
    left: 492px;
}
.golaghatText{
	position: absolute;
	top: 15%;
    left: 40%;
}
.golaghatNumber{
	position: absolute;
	top: 30%;
    left: 65%;
}

.lakhimpur{
	position: absolute;
   top: 155px;
    left: 543px;
}
.lakhimpurText{
	position: absolute;
	top: 35%;
    left: 30%;
}
.lakhimpurNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}

.jorhat{
	position: absolute;
    top: 237px;
    left: 580px;
}
.jorhatText{
	position: absolute;
	top: 30%;
    left: 20%;
}
.jorhatNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.sibsagar{
	position: absolute;
    top: 192px;
    left: 633px;
}
.sibsagarText{
	position: absolute;
	top: 30%;
    left: 20%;
}
.sibsagarNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}

.dibrugarh{
	position: absolute;
    top: 129px;
    left: 655px;
}
.dibrugarhText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.dibrugarhNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}

.dhemaji{
	    position: absolute;
    top: 97px;
    left: 606px;
}
.dhemajiText{
	position: absolute;
	top: 50%;
    left: 20%;
}
.dhemajiNumber{
	position: absolute;
	top: 65%;
    left: 35%;
}

.tinsukia{
	position: absolute;
    top: 88px;
    left: 738px;
}
.tinsukiaText{
	position: absolute;
	top: 50%;
    left: 20%;
}
.tinsukiaNumber{
	position: absolute;
	top: 65%;
    left: 35%;
}

.dima_hasao{
	position: absolute;
    top: 400px;
    left: 394px;
}
.dima_hasaoText{
	position: absolute;
	top: 50%;
    left: 40%;
}
.dima_hasaoNumber{
	position: absolute;
	top: 65%;
    left: 55%;
}

.cachar{
	position: absolute;
    top: 498px;
    left: 379px;
}
.cacharText{
	position: absolute;
	top: 50%;
    left: 40%;
}
.cacharNumber{
	position: absolute;
	top: 65%;
    left: 55%;
}

.hailakandi{
	position: absolute;
    top: 534px;
    left: 381px;
}
.hailakandiText{
	position: absolute;
	top: 50%;
    left: 40%;
}
.hailakandiNumber{
	position: absolute;
	top: 65%;
    left: 55%;
}

.karimganj{
	position: absolute;
    top: 530px;
    left: 353px;
}
.karimganjText{
	position: absolute;
	top: 30%;
    left: 5%;
}
.karimganjNumber{
	position: absolute;
	top: 45%;
    left: 15%;
}