:root {
  --font-family : Montserrat-Regular, sans-serif;

  /* ======== Font Color =======*/
  --blue-color : #367ea8;
  --black-color : #333333;
  --bunting-color : #2a3245;
  --waikawagrey-color : #5e728e;
  --whitesmoke-color : #f1f1f1; 
  --white-color : #ffffff;
  
  /* ======== Background Color =======*/
  --blue-background : #367ea8;
  --black-background : #333333;
  --bunting-background : #2a3245;
  --waikawagrey-background : #5e728e;
  --whitesmoke-background : #f1f1f1; 
  --white-background : #ffffff;


  --admin-main-bg-color                   : #fff;
  --admin-input-bg-color                  : #3c8dbc;

  --admin-main-txt-color                  : #555;
  --admin-active-txt-color                : #fff;

  --admin-main-heading-font-color         : #444;
  --admin-diamond-color                   : #999;
  --admin-sub-heading-font-color          : #333;

  --admin-form-field-background-color     : #fff;

  --admin-main-border-color               : #ccc;
  --admin-icon-border-color               : #666;
  --admin-icon-color                      : #666;

  --admin-button-color                    : #fff;
}

