.jobListWrapper{
	min-height: 700px;
	height: auto;
	/*color: var(--admin-main-txt-color);*/
	background-color: var(--admin-main-bg-color);
}

.jobListWrapperMain{
	background-color: var(--admin-main-bg-color);
	padding-bottom: 30px;
}

.jobListContainer{
	height: 296px;
	/*margin-top: 30px;*/
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid var(--admin-main-border-color);
}

.jobListContainer .jobListLeftContent{
	height: 229px;
	margin-top: 20px;
	border-right: 1px solid var(--admin-main-border-color);
}

.jobListLeftContent .iconsBar{
	background-color: yellow;
	margin-left: -33px;
	margin-top: -5px;
}

.jobListLeftContent .iconsBar ul{
	list-style: none;
	height: 29px;
	padding: 0;
	padding-top: 2px;	
	float: left;
}

.jobListLeftContent .iconsBar ul li{
	float: left;
	margin-top: 5px;
}
 
.jobListLeftContent .iconsBar ul li i{
	margin-left: 22px;
}

.jobListLeftContent .iconsBar i{
	color: var(--admin-icon-color);
	font-size: 20px;
	height: 20px;
}

.bothIcon{
	border-left: 2px solid #F5A721;
	margin-left: 5px !important;
	padding-left: 3px;	
}

.jobListLeftContent .infoLog{
	padding: 6px 10px;
	height: 29px;
	border-radius: 3px;
	margin-left: 18px;
	font-size: 11px;
	float: left;
	margin-top: 2px;
	font-weight: 500;
	border: 1px solid var(--admin-main-border-color);
	/*color: var(--admin-icon-color);*/
	background-color: var(--admin-form-field-background-color);
}

.jobListDesignation{
	font-size: 21px;
	color: var(--main-border-color);
	padding-top: 3px;
	margin-left: -25px;
	font-family: 'Montserrat-SemiBold';
	/*font-weight: 600;*/
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: cyan;*/
}

.jobListDesignation a{
	text-decoration: none;
}

.jobListDesignation a:hover{
	color: var(--blue-color);
	cursor: pointer;
	text-decoration: underline !important;
}

.jobListCompanyTitle{
	padding-top: 7px;
	padding-left: 5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: blue;*/
}

.jobListExperienceTitle{
	padding-top: 10px;
	margin-left: -23px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: purple;*/
}

/*.jobListCompanyName{
	margin-top: 7px;
	margin-left: -5px;
	font-family: 'Montserrat-SemiBold';
}*/

.jobListExperience{
	font-size: 14px;
	color: var(--main-border-color);
	padding-right: 3px;
	color: var(--admin-icon-color);
}

.jobListCtcSalTitle{
	padding-top: 13px;
	margin-left: -25px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: grey;*/
}

.jobListCtcSal{
	font-size: 14px; 
	border: 1px solid var(--admin-icon-color);
	padding: 2px 4px 0px 4px;
	margin-right: 2px;
	border-radius: 50%;
	color: var(--admin-icon-color);
}

.jobListMonSal{
	font-size: 10px !important; 
	border: 1px solid var(--admin-icon-color);
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 13px;
	margin-left: -8px;
	color: var(--admin-icon-color);
}

.jobListLocation{
	font-size: 14px;
	padding: 3px 5px;
	border-radius: 50%;
	color: var(--admin-icon-color);
}

.joblistLocationInfo{
	padding-top: 12px;
	margin-left: -26px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*background-color: lightblue;*/
}

.jobListNumPositions{
	font-size: 14px;
	padding-right: 2px;
	color: var(--admin-icon-color);
}

.jobListNumPositionsTitle{
	padding-top: 13px;
	margin-left: -25px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: darkblue;*/
}

.jobListRightContent{
	height: 220px;
	margin-top: 18px;
}

.listEditBtn i{
	color: var(--admin-icon-color);
	font-size: 21px;
	margin-top: 10px;
	margin-left: 24px;
}

.listViewBtn i{
	color: var(--admin-icon-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 22px;
}

.listDelBtn i{
	color: var(--admin-icon-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 24px;
	cursor: pointer;
}

.listEditBtn i:hover, .listViewBtn i:hover, .listDelBtn i:hover{
	color: var(--blue-color);
}

.jobListNumapply{
	font-size: 15px !important;
	margin-left: -6px;
	margin-top: 13px;
	padding-left: 3px;
	color: var(--admin-icon-color);
}

.joblistNoCount{
	margin-top: 10px;
	height: 43px;
	/*float: right;
	margin-right: 20px;*/
	/*padding-right: 10px;*/
	
	padding-top: 9px;
	font-size: 15px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
	text-align: center;
	border: 1px solid  var(--main-border-color);
	border-radius: 5px;
}

a{
	color: var(--admin-sub-heading-font-color);
}

a:hover{
	color: var(--admin-sub-heading-font-color);
}

/*******************Search Tab********************/

.jobListSearchTab{
	background-color: var(--main-bg-color);
	border: 1px solid var(--border-color);
	color: var(--main-txt-color);
}

.searchTabAddOn{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);	
}

.searchMainTab{
	margin-top: 32px;
	margin-left: -20px;
	margin-right: 20px;
}

.bothIcon{
	border-left: 2px solid #666666;
	margin-left: 5px !important;
	padding-left: 3px;	
}

::selection {
  color: #fff;
  background-color: #3c8dbc;
}

.pagination{
	float: right
}


/********************tabs******************/

.leftSideMainBox{
	/*background-color: pink;*/
}

.leftSideBox{
	height: 235px;
	padding-top: 10px;
	/*background-color: red;*/
}

.rightSideBox{
	height: 235px;
	/*background-color: yellow;*/
}

.tierOneRow{
	padding-top: 16px;
}

.react1{
	border: 1px solid var(--main-border-color);
	height: 48px;
	font-size: 11px;
	font-weight: 400;
	padding-top: 7px;
	border-radius: 4px;
	margin-left: -15px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.react2{
	border: 1px solid var(--main-border-color);
	height: 48px;
	font-size: 11px;
	font-weight: 400;
	padding-top: 7px;
	border-radius: 4px;
	margin-left: 30px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.react3{
	border: 1px solid var(--main-border-color);
	height: 48px;
	font-size: 11px;
	font-weight: 400;
	padding-top: 7px;
	border-radius: 4px;
	margin-left: 30px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.multiCount{
	font-size: 13px;
}

/***********************************/

.btnsRow{
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}

.nav-pills>li.active>a{
    color: #fff;
    background-color: var(--main-border-color);
    font-weight: 600;
}
.nav-justified>li>a {
    border: 1px solid var(--main-border-color);
    color: var(--main-txt-color);
    font-weight: 600;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: var(--main-border-color);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: var(--main-border-color);
}

.jobStatusToggleWrapper{
	height:25px;
	border:1px solid #3C8DBC !important;
	margin-top: 15px;
	margin-bottom: 13px;
	margin-left: 22px;
    padding: 0px;
    width: 45%;
    border-radius: 1px;
 }

.jobStatusToggleWrapper .genderFeildVerti{
	border-radius:  0px !important;
	height: 15px !important;
	background-color:#3C8DBC !important;
}

.jobStatusToggleWrapper .genderFeildWrapper2{
    margin-top:6px;
}

.jobStatusToggleWrapper .genderFeild{
	height: 21px;
	border-radius: 20px;
	font-size: 10px;
	font-weight: 100!important;
	padding-top: 4px;
	text-align: center;
	background-color:#3C8DBC !important;
    transition: all 1s;
}

.jobStatusToggleWrapper .genderFeild:hover{
	cursor: pointer;
    /*background-color:var(--main-border-color);*/
}

.jobStatusToggleWrapper .genderFeildActive{
	background-color:#3C8DBC !important;
	transition:all 2s;
}

.jobStatusToggleWrapper .genderFeildInActive{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 1;
  background-color:#eee !important;
}