.signUpBoxWrapper{
	min-height: 400px;
	height: auto;
	background-color: var(--main-bg-color );
	margin-top: 50px;
	margin-bottom: 50px;
	border: 3px solid var(--main-border-color);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.signUpBoxFormWrapper{
	margin-top: 5px;
}

.signUpBoxForm{
	margin-top: 20px;
}

.buttonNext {
    height: 28px;
    width: 110px;
    background-color:var(--main-bg-color);
    border: 1px solid var(--main-border-color)!important;
    border-radius: 5px;
    font-family: 'Montserrat-Medium',Sans-Serif;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 2s;
    color: #ccc;
}
.buttonNext:hover{
	color: #eee;
	cursor: pointer;
	background-color: var(--main-border-color);
}
.inputBox{
	text-transform:capitalize!important;
}