
.rating{
	font-size:18px!important;
	margin-right:18px;
	margin-top:9px;
	color:var(--main-border-color);
}
.stars{
	color: var(--main-border-color);
}
.rating:hover{
	cursor: pointer;
}
.textareaFix{
	resize:none;
	height:100px; 
    min-height:100px;  
    max-height:auto;
    border-radius:5px!important;
    z-index:-1;
}

.optionContainer:hover{
  background-color: var(--main-border-color);
  color: var(--main-txt-color);
}

.certifiedWrapper{
	height:230px;
	border:2px solid var(--main-border-color) ;
	text-transform: uppercase;
	text-align:center;
	margin-top: 30px;
	padding-bottom:20px;
	margin-bottom:20px;
	font-family: 'Montserrat-Medium',Sans-Serif;
	border-radius: 5px;
}
.certificateTitle{
	padding-top:5px;
	text-align:center;
	font-size:20px;
	font-family:'Montserrat-Bold',Sans-Serif!important;;
	color: var(--main-heading-font-color);
}
.certificateLogo{
	height:50px;
	padding-bottom:5px;
}
.certificateText,.certificateText2{
	font-size:11px;
	text-align:center;
	margin-top: 3px;
	font-family: 'Montserrat-Medium',Sans-Serif;	
}
.certificateText2{
	font-size:11px;
}
.certificateNameText1,.certificateNameText2{
	font-family:'Montserrat-Bold',Sans-Serif;
	font-size:14px;
	color: var(--main-heading-font-color);
}
.certificateNameText2{
	font-size:10px;
	font-family: 'Montserrat-Bold',Sans-Serif!important;
	padding-bottom: 0px;
}
.certificateLogo2{
	height:25px;
}
.certificateFooter{
	margin-top:5px;
}
.certificateTitleWrapper{
	position:relative;
}
.AddressBoxRightIcon{
	position:absolute;
}
.skillsGenderWrapper{
	margin-top: 6px;
}

.iAssureITtable-bordered > tbody > tr > th,
.iAssureITtable-bordered > tfoot > tr > th,
.iAssureITtable-bordered > tbody > tr > td,
.iAssureITtable-bordered > tfoot > tr > td {
   border: 1px solid  var(--main-border-color)!important;
}
.iAssureITtable-bordered > thead > tr > th, 
 .iAssureITtable-bordered > thead > tr > td{
 	 border: 2px groove #fff6;
}
.col-lg-12.col-sm-12.col-md-12.col-xs-12.NOpadding.marginTop8,#tableComponent{
	padding-left: 0px;
	padding-right: 0px;
}

#tableComponent,.col-lg-12.col-sm-12.col-md-12.col-xs-12.NOpadding.marginTop8 {
    padding-left: 0px;
    padding-right: 0px;
}
th.umDynamicHeader.srpadd.text-center{
	text-align: left;
}
td#ActionContent{
	text-align: left!important;
}
.textAlignCenter,th.umDynamicHeader.srpadd.text-center{
	text-align: left!important;
}
.fixedWidth,.umDynamicHeader{
	font-family: 'Montserrat-Medium',Sans-Serif!important;
	text-transform: capitalize!important;
}
.skillPillsPadding{
	padding-left: 6px!important;
}
.iAssureTable1 .tempTableHeader{
	font-size: 15px;
}
.iAssureTable1 .noTempData{
	color: #fff;
	font-size: 13px;
}