
.rating{
	font-size:18px!important;
	margin-right:18px;
	margin-top:9px;
	color:var(--main-border-color);
}
.stars{
	color: var(--main-border-color);
}
.rating:hover{
	cursor: pointer;
}
.textareaFix{
	resize:none;
	height:100px; 
    min-height:100px;  
    max-height:auto;
    border-radius:5px!important;
    z-index:-1;
}

.optionContainer:hover{
  background-color: var(--main-border-color);
  color: var(--main-txt-color);
}

.certifiedWrapper{
	height:250px;
	border:3px inset var(--main-border-color) ;
	text-transform: uppercase;
	text-align:center;
	padding-bottom:20px;
	margin-bottom:20px;
	font-family:'Montserrat-Regular';
}
.certificateTitle{
	padding-top:10px;
	text-align:center;
	font-size:23px;
	font-family:Montserrat-Bold!important;;
	color: var(--main-heading-font-color);
}
.certificateLogo{
	height:60px;
	padding-bottom:5px;
}
.certificateText,.certificateText2{
	font-size:12px;
	text-align:center;	
}
.certificateText2{
	font-size:11px;
}
.certificateNameText1,.certificateNameText2{
	font-family:'Montserrat-Bold';
	font-size:14px;
	color: var(--main-heading-font-color);
	padding-top:2px;
}
.certificateNameText2{
	font-size:10px;
	font-family: Montserrat-Bold!important;
	padding-bottom: 3px;
}
.certificateLogo2{
	height:30px;
}
.certificateFooter{
	margin-top:15px;
}
.certificateTitleWrapper{
	position:relative;
}
.AddressBoxRightIcon{
	position:absolute;
}
.customCheckBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark:hover{
	cursor: pointer;
}

/* Hide the browser's default checkbox */
.customCheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 20px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.customCheckBox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customCheckBox input:checked ~ .checkmark {
  background-color: var(--yellow-button-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customCheckBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customCheckBox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tooltip {
  position: relative!important;
  display: inline-block!important;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.currentWoking{
  display:flex; flex-direction: row; align-items: center;top:10px;
}
.currentWokingLabel{
  margin-top:20px;
}