.jobListWrapper{
	min-height: 700px;
	height: auto;
	color: var(--main-txt-color);
	background-color: var(--main-bg-color);
}

.JobListWrapperMain{
	background-color: var(--main-bg-color);
	padding-bottom: 30px;
}

.jobListContainer{
	height: 280px;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListContainer .jobListLeftContent{
	height: 240px;
	margin-top: 20px;
	border-right: 1px solid var(--main-border-color);
}

.jobListLeftContent .iconsBar{
	background-color: yellow;
	margin-left: -11px;
	margin-top: -5px;
}

.jobListLeftContent .iconsBar ul{
	list-style: none;
	height: 29px;
	padding: 0;
	padding-top: 2px;	
	float: left;
}

.jobListLeftContent .iconsBar ul li{
	float: left;
	margin-top: 5px;
}
 
.jobListLeftContent .iconsBar ul li i{
	margin-left: 22px;
}

.jobListLeftContent .iconsBar i{
	color: var(--main-border-color);
	font-size: 20px;
	height: 20px;
}

.bothIcon{
	border-left: 2px solid #F5A721;
	margin-left: 5px !important;
	padding-left: 3px;	
}

.jobListLeftContent .infoLog{
	/*padding: 6px 9px;
	height: 29px;
	color: var(--main-border-color);
	border-radius: 3px;
	border: 1px solid var(--main-border-color);
	width: 36% !important;
	margin-left: 18px;
	font-size: 11px;
	float: left;
	margin-top: 2px;*/
	padding: 6px 10px;
	height: 29px;
	border-radius: 3px;
	margin-left: 18px;
	font-size: 11px;
	float: left;
	margin-top: 2px;
	font-weight: 500;
	border: 1px solid var(--main-border-color);
	color: var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListDesignation{
	font-size: 22px;
	color: var(--main-border-color);
	margin-top: 3px;
	margin-left: -5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.jobListCompanyName{
	margin-top: 7px;
	margin-left: -5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.jobListExperience{
	font-size: 14px !important;
	margin-left: -5px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListMonSal{
	font-size: 10px !important; 
	border: 1px solid #D3950A;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 13px;
	margin-left: -8px;
	color: var(--main-border-color);
}

.jobListLocation{
	font-size: 16px !important;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 9px;
	margin-left: 0px !important;
	color: var(--main-border-color);
}

.joblistLocationInfo{
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
  	overflow: hidden !important;
  	margin-left: -10px; 
}

.jobListNumPositions{
	font-size: 13px !important;
	margin-left: -6px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListRightContent{
	height: 220px;
	margin-top: 18px;
}

.jobListVerticleIcons i{
	color: var(--main-border-color);
}

.jobListVerticleIcons{
	cursor: pointer;
}

.jobListVerticleIcons ul{
	list-style: none;	
	padding: 0;
}

.jobListVerticleIcons ul li:nth-child(1){
	padding-right: 17px;
	padding-left: 3px; 
	border-radius: 3px;
	margin-left: -7px !important;
	margin-top: 6px;
	font-size: 20px;
}

.jobListVerticleIcons ul li:nth-child(2){
	padding-right: 16px;
	padding-left: 3px; 
	border-radius: 3px;
	margin-left: -9px !important;
	margin-top: 14px;
	font-size: 20px;
}

.jobListVerticleIcons ul li:nth-child(3){
	padding-right: 16px;
	margin-left: -6px !important;
	border-radius: 3px;
	margin-top: 12px;
	font-size: 20px;	
}

.listEditBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 10px;
	margin-left: 20px;
}

.listViewBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 18px;
}

.listDelBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 20px;
	cursor: pointer;
}

/*******************Search Tab********************/

.jobListSearchTab{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);
}

.searchTabAddOn{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);	
}

.searchMainTab{
	margin-top: 32px;
	margin-left: -20px;
	margin-right: 20px;
}



.link{
	font-size: 21px;
	color: var(--main-border-color);
	margin-top: 3px;
	margin-left: -5px;
}

/*.link:hover{
	text-decoration: underline;
}*/

.jobListDesignation a{
	text-decoration: none;
}

.jobListDesignation a:hover{
	color: var(--main-border-color);
	text-decoration: underline !important;
}

/***************************swal custom classes**********************************/

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
	border: 1px solid var(--main-border-color);
	padding: 30px;
	border-radius: 5px;
	background-color: var(--main-bg-color);
}

[class^=swal2]{
	color: #fff;
}

.swal2-styled.swal2-confirm{
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}

.swal2-styled.swal2-cancel{
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}
.pagination{
	float: right
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, .pagination>.disabled>span, 
.pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
color: #fff;
    background-color: #242933;
    border-color: var(--main-border-color);
}
.pagination>li>a, .pagination>li>span{
	background-color: var(--main-bg-color);
	color: #fff;
	border:1px solid var(--main-border-color);

}
.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: var(--yellow-button-color);
    border-color: var(--main-border-color);
}
/****************************select color*********************/

::selection {
  color: var(--main-txt-color);
  background-color: var(--main-border-color);
}