@font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.LeftSideFiltersWrapper{
	height: 250px;
	background-color: #1f262d;
}


.LeftSideFiltersDrop{
	background-color: #242933;
	color: #fff;
  overflow-x: hidden;

}

.LeftSideFiltersInputBox{
	height:auto;
	min-height: 40px;
  margin-top: 15px;
  text-align:left;
  padding-left: 10px;
  border: 1px solid #999;
  background-color: #242933 !important;
  color: #fff;
  border-radius: 10px !important;
   overflow-x: scroll;
}

.LeftSideFiltersInputBox:focus{
	border-color: #999;
	box-shadow: 0px 1px 1px rgba(153, 153, 153, 0.075) inset, 0px 0px 8px rgba(153, 153, 153, 0.5)  !important;
}

.optionContainer,
.optionContainer .highlight{
  background-color: #242933!important;
  color: #fff;
  z-index: 1;
}

.multiselect-container > li > a { white-space: none !important; }


.ApplyFilters{
  width: 72%;
  height: 35px;
  background-color: #242933;
  color: #ccc;
  text-align: left;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  padding: 5px;
  border:1px solid #4b5666;
  border-radius: 5px;
  padding-left: 10px;
 
}

.filtersIcon{
  padding: 5px;
}

.FilterDropDown{
  margin-top: 15px;

}

.leftDrawerToggel{
 
  position: absolute;
  
  transition:all 1s; 
  z-index: 0;
  transition-timing-function: ease-in-out;
}
#allIndustries, #allSectors, #allRoles, #allExperiences{
  width: 99%
}
