.candidateListWrapper{
	padding-bottom: 30px;
	background-color: var(--admin-main-bg-color);
}

.JobInfoContainer{
	height: 241px;
	color: var(--main-txt-color); 
	border-radius: 10px;
	border: 1px solid var(--admin-main-border-color);
	background-color: var(--admin-form-field-background-color);
}

.jobDescBlock{
	padding-top: 20px;
	background-color: var(--admin-main-bg-color);
	/*font-family: Montserrat-SemiBold;*/
}

.joblistDesignation{
	font-size: 22px;
	color: var(--admin-main-txt-color);
	margin-top: 3px;
	margin-left: -5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.joblistCompanyName{
	margin-top: 7px;
	margin-left: -5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.joblistExperience{
	font-size: 14px !important;
	margin-left: -5px;
	margin-top: 13px;
	color: var(--admin-icon-color);
}

.joblistCtcSal{
	font-size: 10px !important; 
	border: 1px solid var(--admin-icon-color);
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 13px;
	margin-left: -8px;
	color: var(--admin-icon-color);
}

.joblistLocation{
	font-size: 16px !important;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 9px;
	margin-left: -9px;
	color: var(--admin-icon-color);
}

.joblistNumPositions{
	font-size: 13px !important;
	margin-left: -6px;
	margin-top: 13px;
	color: var(--admin-icon-color);
}

.candidateList{
	min-height:600px;
	height:auto;
	padding-bottom:30px;
	background-color: var(--admin-main-bg-color);
	color: var(--admin-main-txt-color);
	/*font-family: Montserrat-Regular;*/
	font-weight: 400;
}

.candidateBlockWrapper{
	height:375px;
	margin-top: 30px;
	border:2px solid var(--admin-main-border-color);
	border-radius:10px;
	background-color: var(--admin-form-field-background-color);
}

.candidateInfoBlock{
	height:300px;
	border-right:1px solid var(--admin-main-border-color);
}

.salaryBlockWrapper{
	border-top:1px solid var(--admin-main-border-color);
	height:55px;
	padding-top:11px;
}

.candidateImgBlock{
	margin-top:15px;
	height:110px;
}

.candidateSkillsBlocks{
	height:100px;
	margin-top: 20px;
}

.imageOfCandidate{
	height:110px;
}

.imageOfCandidate1 img{
	width:90%;
	height:100px;
	margin-top: 5px;
	margin-left: 5%;

}
.deleteIcon2{
 color: var(--admin-main-txt-color)!important;
}
.deleteIcon2:hover{
	color: red;
}
.grayscale { filter: grayscale(100%); }
.displayInfoCandidate{
	height:110px;
	text-transform: capitalize;
}
.displayCandidateName1{
	font-size: 17px;
	font-weight: bold;
	
	margin-left:12px;
	margin-bottom:3px;
}
.displayCandidateName2{
	color: #222  !important;
}
.candidateIdNumber{
	font-size: 10px;
	color: var(--admin-main-txt-color);
	padding-left: 5px;
}

.postIcon{
	font-size: 10px;
	margin: 0px;
	padding-left: 20px;
	color:var(--main-heading-font-color);
}

.candListIcon{
	height: 18px;
	font-size: 10px;
	color:var(--admin-icon-color);
	margin-top: 2px;
}

.candListIcon4{
	font-size: 11px;
}

.postNameWrapper{
	padding-left: 37px;
}

.postName{
	height:18px;
	font-size:11px;
	color: var(--main-txt-color);
	margin-top: 2px;
}
.primaryBlock,.secondaryBlock{
	height: 70px;
	overflow: hidden;
}

.skillsHeading{
	font-size:11px;
	font-weight: bold;
	color: var(--admin-main-txt-color);
	/*font-family: Montserrat-SemiBold;*/
	font-weight: 600;
}

.listRoatate45{
	font-size:6px!important;
}

.skillsSubHeading{
	font-size:11px;
	margin-top:2px;
}

.skillsSubHeading i{
	font-size:5px!important;
	padding-right:5px;
}

.candidateSkillsBlocks .skillsHeadingBlock{
	padding-top:5px!important;
}

.marginForSkillHeading{
	margin-bottom:15px;
}

.profileSymbolsWrapper{
	height:263px;
}

.profileSymbols{
	height:45px;
}

.profileSymbols img{
	margin-left:50%;
	margin-top:39%;
	transform:translate(-50%,-50%);
}

.salaryBlockHeading{
	font-size: 11px;
	color: var(--admin-main-txt-color); 
}

.salrayBlockSubHeading{
	color: var(--admin-main-txt-color);
}

.expectSalaryBlock{
	padding-top:2px;
	/*padding-top: 20px;*/
}

.salaryBlock{
	height:28px;
	border-right:1px solid var(--admin-main-border-color);
}

.salaryBlock2{
	height:20px;
}

.expectSalaryBlockHeading{
	font-size: 11px;
	color: var(--admin-main-txt-color);
	text-align:center;
}

.expectSalaryBlockSubHeading{
	text-align:center;
	padding-top:2px;
	font-size: 11px;
	color: var(--admin-main-txt-color);
}

.profileSymbols img:hover{
	cursor: pointer;
}

.candidateListWrapperMain{
	margin-top: 30px;
	background-color: var(--admin-main-bg-color);
}

.downloadCount{
	color: var(--admin-main-txt-color);
	background-color: var(--admin-main-bg-color);
	font-size: 15px;
	margin-left: 15px;
	font-weight: 600;
}

.downloadCount .gridViewIcon{
	padding-top: 8px;
	border: 1px solid #eee;
}

.downloadCount .listViewIcon{
	margin-right: 15px;
	padding-top: 8px;
	border: 1px solid #eee;
}

.viewBtn{
	color: #fff;
}

.viewBtn:hover{
	color: #fff;
}

.gridBtnActive{
	background: var(--blue-color) !important;
	color:#fff;
}

.profileExlIcon{
	text-align: center;
	font-size: 16px;
	margin-top: 23px;
	cursor: pointer;
	color:#aaa;
}

.imageOfCandidate img{
	height: 110px;
}


.candidatePage{
	background-color: var(--admin-main-bg-color) !important;	
}

