.filterborder{
	border-bottom: 1px solid #eee;
}
.logoamey{
	border-radius: 10px;
	box-shadow: 1px 1px 11px 1px #ddd;
	margin-top: 8%;
	background-image: url("/images/1.png");
	height: 50px;
	background-size: 100% 100%;
}
.logoBalaji{
	border-radius: 10px;
	box-shadow: 1px 1px 11px 1px #ddd;
	margin-top: 8%;
	background-image: url("/images/2.png");
	height: 50px;
	background-size: 100% 100%;
}
.logoGlobal{
	border-radius: 10px;
	box-shadow: 1px 1px 11px 1px #ddd;
	margin-top: 8%;
	background-image: url("/images/3.png");
	height: 50px;
	background-size: 100% 100%;
}
.SSSamey{
	border-radius: 10px;
	box-shadow: 1px 1px 11px 1px #ddd;
	margin-top: 8%;
	background-image: url("/images/4.png");
	height: 50px;
	background-size: 100% 100%;
}
.borderlist{
	border: 1px solid #aaaaaa;
    /* margin-bottom: 5px; */
    box-shadow: 1px 1px 1px #eee;
    border-radius: 1px;
    padding-right: 0px !important;
    cursor: pointer;
}
.scrollbar{
	height: auto;
    overflow-y: scroll;
    margin-left: 22px;
    padding: 0;
    width: 45%;
}
.borderlist12{
	min-height: 340px;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ebebeb;
}
.filterMargin{
	    margin-top: 22px;
}
#style-2::-webkit-scrollbar
{
	width: 5px;
	background-color: #ebebeb;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1b1c20;
}

.listprofile1{
	font-size: 13px;
	white-space: nowrap;
	padding: 20px;	
	color: #666666;
}


.contentOfList{
	font-size: 13px;
	white-space: nowrap;
	padding: 10px;	
	color: #666666;
}

.titleprofileList{
	font-size: 16px;
    color: #000;
	padding: 0px 25px;
	font-weight: bold;

	
}
.brdtop{
	border-top: 0;
}
.box-title1{
	font-weight: bold;
	font-size: 18px;
    color: #444;
    padding: 0px 12px;
}
.searchbox{
	margin-top: 2%;
	box-shadow: 1px 1px 3px 1px #ddd;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #fff;
    padding: 5px;
}
.box-titleVL{
	margin-top: 22px;
}
.filter_wrapper{
	display: none;
	cursor: pointer !important;
}
.mrtpzero{
	margin-top: 0px;
}
.toggle{
	background-image:url("/images/filter.png");
	background-repeat: no-repeat;
 	display:inline-block;
	height:20px;
	width:20px;  
	cursor: pointer;
}
.toggle.expanded{
  background-image: url("/images/filter-tool-black-shape.png");
}
.selfilter{
	position: relative;
	top: -7px;
	font-size: 13px;
}
.alphab:focus{
	color: #fff;
	background: #000;
}
.texttrans{
	text-transform: none !important;
}
.selheight{
	height: 30px;
}
.showList{
	padding-left: 0px!important;
    padding: 10px;
    text-align: left;
    font-size: 0.9em;
}
.showList{
	display: block;
}
.hide{
	display: none;
}
.dropbtn2{
	color: black;
    background-color: #eee;
    color: #333;
    padding: 7px 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    right: 4px;
}

.fa-user-o,.fa-map-marker,.fa-arrows,.fa-globe,.text-align-center,.fa-address-card-o,.fa-microchip{
	text-align: center;
}
.selectedSupplier{
    z-index: 1;
    background: white;
    border: 1px solid var(--blue-color);
    border-radius: 0px;
}
.selectedSupplier .listprofile{
	padding-top: 15px;
	padding-bottom: 10px;
}
.mapIconMargin{
	margin-top: 2%;
}
.marginTop{
	margin-top: 64px;
}
.padding-top60{
	padding-top: 60px;
}
.removeTop{
	top:5px;
}
.singleClientDetails{
	padding: 10px;
}
.listfont{
	font-size: 12px;
	margin-left: 10px;
}
.listfont i{
	font-size: 10px;
}
.selectedSupplier .addedDiv{
	display: block !important;
}

.suppliersOneProfile{
	border-top:1.5px solid #eee;
	padding:15px;
}
.subDivDetails{
	border:1px solid #eee;

}
.locationHeading{
	font-size: 15px;
    color: #333;
    font-weight: 600;
}
.locationMainContainer{
	border:1px solid #eee;
	padding:10px;
	border-radius: 10px;
}
.marginTop50{
	margin-top: 30px;
}
.font40{
	font-size: 40px
}
.supplierLogoImage1{
	width: 65px;
    height: 65px;
    overflow: hidden;
    margin-top: 30px;
    border:0px !important;
}


.selectedSupplier .addedDiv1{
	display: block !important;
}
.addedDiv1{
    display: none;
   	height: 140px;
    background-color: var(--blue-color);
}
.addedDiv1 img{
	height: 20px;
    padding: 3px;
    margin-top: 55px;
}
.vehiclepdfContainer{
    text-align: center;
    border: 1px solid #ccc;
    white-space: normal;
    margin-right: 5px;
    overflow: hidden;
     height: 60px; 
    word-break: break-all;
    word-wrap: all;
    padding: 5px 0px;
    margin-bottom: 5px;
}
.pdfContainer img{
}
.marginTop20{
	margin-top: 20px;
}
.fileExt{
	height: 40px;
	/*margin-top: 5px;*/
}
.documentUplaod{
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 15px 0px 15px 15px !important;
}
/*carousel*/
.imgContainerBlog{
    height: 200px !important;
    font-family:Arial;
    overflow: hidden;

}
.imgContainerBlog img {
    border: none !important;
    height: 200px !important;
}
.imgContainerBlog label{
    font-size: 16px;
    padding-top: 8px;
}
.imgContainerBlog p{
    font-size: 14px;
    padding-top: 5px;
}
.imgContainerBlog a{
    font-weight: bold;
    color:#376bff !important;
}
.customItem{
	border:1px solid #eee !important;
	height:220px;
	padding: 10px;
}
.miniDiv{
	height: 70px;
    border: 0.5px solid #eee;
    cursor: pointer;
    padding: 10px 5px;
}
.miniDiv img{
	height: 100%;
	width : 100%;
}
.documents{
	text-align: left !important;
}
/*
.customnNavButtonEcommerceND .owl-nav button.owl-prev{
    display: block !important;
    background: transparent !important;
    border-radius: 0px !important;
    margin-top: -480px !important;
    margin-left: -7px;
    width: 25px;
    height: 32px;   
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
.customnNavButtonEcommerceND .owl-nav  button.owl-next{
   display: block !important;
    background: transparent !important;
    border-radius: 0px !important;
    margin-top: -40px;
    margin-left: 900px;
    width: 25px;
    height: 32px;
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
.customnNavButtonEcommerceND .owl-nav  button.owl-next:focus{
    outline: none !important;
}
.customnNavButtonEcommerceND .owl-nav  button.owl-prev:focus{
    outline: none !important;
}
.customnNavButtonEcommerceND .owl-nav  button.owl-next:hover{
    color: #333 !important;
}
.customnNavButtonEcommerceND .owl-nav button.owl-prev:hover{
    color: #333 !important;
}*/

.owl-carousel .owl-stage-outer{
	border-right: 1px solid #eee;
}