@font-face {
  font-family: Montserrat-Medium;
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

.pageWrapper{
	min-height: 650px;
	height: auto;
	width: 100%;
	color: var(--main-txt-color);
}

.nameTitleForm{
	color:var(--main-txt-color);
}
.formWrapper{
	margin-top:20px;
	/*color:var(--main-txt-color);*/

}
.nameTitleForm{
	font-family: 'Montserrat-Medium';
	font-size:12px;
	font-weight:100!important;

	color: #eee;
}
.nameTitleFormAge{
	font-family: 'Montserrat-Bold';
	color: #fff;
}
.nameTitleFormStar{
	color:#f00;
	padding-left: 2px;
}
.inputBoxIcon{
	border:1px solid var(--main-border-color)!important;
	border-right:none!important;
	background-color: var(--input-bg-color)!important;
	color:var(--main-txt-color)!important;
}
.inputBoxIcon1 i{
	padding:2px;
}
.inputBoxIcon2 i{
	padding:1px;
}
.inputBox{
	border-top-right-radius:3px!important;
	border-bottom-right-radius:3px!important;
	border:1px solid var(--main-border-color)!important;
    background-color: var(--input-bg-color)!important;
    color:var(--main-txt-color)!important;
    font-size:13.5px!important;
    z-index:0!important;
    text-transform:capitalize;

}

.showFeild{
	margin-top:9px;
	font-size:12px;
	font-weight:100!important;
	letter-spacing: 1px;
	font-family: 'Montserrat-Medium';
}
.showFeild2{
	margin-top:14px;
	font-size:12px;
	font-weight:100!important;
	letter-spacing: 1px;
	font-family: 'Montserrat-Medium';
}
.genderFeildWrapper{
	height:25px;
	border:1px solid var(--main-border-color)!important;
	width:100%;
	border-radius:20px;
	margin-top:3px;
}
.genderFeild{
	height:21px;
	margin-top:1px;
	border-radius:20px;
	font-size:10px;
	font-weight:100!important;
	padding-top:4px;
	text-align:center;
	background-color: var(--input-bg-color);
}
.genderFeild:hover{
	cursor: pointer;
}
.genderFeildActive{
	background-color:var(--main-border-color);
	transition:all 2s;

}
.buttonNext{
	height: 28px;
	width: 110px;
	background-color:var(--main-border-color);
	margin-top:30px;
	border:1px solid var(--main-border-color)!important;
	border-radius:5px;
	font-family: 'Montserrat-Medium';
	font-size:13px;

}
.nextArrow{
	font-size:12px;
	margin-left:3px;
} 
.backArrow{
	font-size:12px;
	margin-right:3px;
}
.buttonBack{
	height: 28px;
	width: 110px;
	margin-top:30px;
	border:1px solid var(--main-border-color)!important;
	border-radius:5px;
	background-color:var(--main-bg-color);
	font-family: 'Montserrat-Medium';
	font-size:13px;
	transition:all 0.5s;

}

.buttonBack:hover{
	cursor: pointer;
	background-color: var(--main-border-color);
}

.selectOption{
	padding-right: 5px!important;
}
.errorMsg{
  font-size:10px;
  color:var(--red-button-color );
}
.multiselectZ{
	z-index:6;
}
::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}
::-webkit-calendar-picker-indicator:hover{
	cursor: pointer;
}

.date{
	text-transform:uppercase;
	font-size:12px!important;
}
.inputImage{
	width:240px !important;
	margin-top: 3px;
	border:1px solid var(--main-border-color);
	padding:6px;
	background-color: var(--input-bg-color);
	border-radius: 3px!important;
	font-size:13.5px!important;
}
.inputImage:hover{
	cursor: pointer;
}
.profileImage{
	margin-top:5px;
}
.delImgIcon{
	position: absolute;
	top:-15px;
	right:10px;
	font-size: 14px;
	color:#f00;
}
.delImgIcon:hover{
	cursor: pointer;

}
/********************************************Properties Of React Tag Input******************************************/

div.ReactTags__tags {
    position: relative;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid var(--main-border-color);
    background-color: var(--form-field-background-color);
    /*padding-bottom: 1px;*/
}

div.ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
}

.ReactTags__tagInputField{
	/*border: 1px solid var(--main-border-color) !important;*/
	background-color: var(--form-field-background-color) !important;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 34px;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    border: none;
    width: 100%;
    padding: 0 4px;
    background-color: var(--main-bg-color);
    outline: none;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    background: #eee;
    font-size: 12px;
    display: inline-block;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin: 0 5px;
    cursor: move;
    border-radius: 10px;
    margin-top: 5px;
    color:#333;
}

div.ReactTags__selected a.ReactTags__remove {
    color: #fff;
    border-radius: 100%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: var(--main-bg-color);
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
	margin-left: 5px;
    position: absolute;
    z-index: 100 !important;
    background-color: var(--main-bg-color);
}

div.ReactTags__suggestions ul {
	width: 200px;
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    margin-top: 3px;
    /*background-color: var(--main-bg-color);*/
    border: 1px solid var(--main-border-color);
    color: #fff !important;
    border-radius: 4px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

div.ReactTags__suggestions li {
    /*border-bottom: 1px solid #ddd;*/
    padding: 5px 10px;
    margin: 0;
    margin-left: -40px !important;
}

div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
    /*color: #fff !important;*/
    color: var(--main-border-color) !important;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    cursor: pointer;
    background-color: var(--main-bg-color) !important;
    color: #fff !important;
    /*background-color: var(--main-border-color) !important;*/
}

/*input.ReactTags__tagInputField:focus{
	border: none !important;
}*/

input:focus {
    outline-offset: 0px !important;
}

user agent stylesheet:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

input::placeholder{
	color: #ccc !important;
}

.primarySkillsField{
	z-index: 3 !important;
}


/******************************************End Of React Tag Input Properties******************************************/
/********************************************Properties Of ReactTags******************************************/

div.ReactTags__tags {
    position: relative;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid var(--main-border-color )!important;
    background-color: var(--input-bg-color);
    /*padding-bottom: 1px;*/
}

div.ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
}

.ReactTags__tagInputField{
	/*border: 1px solid var(--main-border-color) !important;*/
	background-color: var(--input-bg-color) !important;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 34px;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    border: none;
    width: 100%;
    padding: 0 4px;
    background-color: var(--main-bg-color);
    outline: none;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    background: var(--main-border-color );
    font-size: 12px;
    display: inline-block;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0 5px;
    cursor: move;
    border-radius: 10px;
    margin-top: 5px;
    color: #fff;
}

div.ReactTags__selected a.ReactTags__remove {
    color: #fff;
    border-radius: 100%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: var(--main-bg-color);
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
	margin-left: 5px;
    position: absolute;
    z-index: 100 !important;
    background-color: var(--main-bg-color);
}

div.ReactTags__suggestions ul {
	width: 200px;
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    margin-top: 3px;
    /*background-color: var(--main-bg-color);*/
    border: 1px solid var(--main-border-color);
    color: #fff !important;
    border-radius: 4px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

div.ReactTags__suggestions li {
    /*border-bottom: 1px solid #ddd;*/
    padding: 5px 10px;
    margin: 0;
    margin-left: -40px !important;
}

div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
    /*color: #fff !important;*/
    color: var(--main-border-color )!important;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    cursor: pointer;
    background-color: var(--main-bg-color) !important;
    color: #fff !important;
    /*background-color: var(--main-border-color) !important;*/
}

input:focus {
    outline-offset: 0px !important;
}

user agent stylesheet:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.primarySkillsField{
	z-index: 3 !important;
}
.ReactTags__remove{
	background: transparent;
	border: none;
}
/*****************************************************End Of ReactTags Properties****************************************************/