.jobPostProfileWrapper{
	min-height: 670px;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
}

.leftSideMain{
	height: 1359px;
	border: 1px solid var(--main-border-color);
	padding-bottom: 100px;
}

.leftHeader{
	height: 215px;
	border-bottom: 1px solid var(--main-border-color);
}

.leftImgContainer{
	height: 215px;
	/*background-color: red;*/
}

.leftImgContainer .imgbox{
	margin-top: 45px;
	margin-left: 15px;
	height: 130px;
	border-radius: 3px;
	background-color: #fff;
}

.leftImgContainer .companyProfileLogo{
	height: 55px;
	margin-top: 40px;
	border-radius: 5px;
}

.imgContent .contentMain{
	padding-top: 5px;
}

.imgContent{
	height: 215px;
	/*background-color: maroon;*/
}

.imgContent .contentHead{
	font-size: 27px;
	font-weight: bold;
	padding-top: 60px;
	margin-left: -52px;
	color: var(--main-subheading-font-color);
	font-family: 'Montserrat-SemiBold';
}

.imgContent .subContentHead{
	margin-top: -3px;
	margin-left: -52px;
	font-size: 18px;
	font-family: 'Montserrat-SemiBold'
}

.imgContent .locationinfo{
	padding-top: 1px;
	margin-left: -52px;
	font-size: 14px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}

.jobProfileMain{ 
	height: auto;
}

.content1 .timeline .start{
	margin-left: 41px;
	margin-top: 70px;
	width: 1px;
	height: 356px;
	background-color: var(--main-border-color);
}

.timeline{
	height: 200px;
	/*background-color: red;*/
}

.jobDescContent{
	margin-left: -37px;
}

/*******************************Content Wrapper One********************************/

.contentWrapper1{
	height: auto;
	margin-top: -5px;
	/*min-height: 200px;*/
	/*background-color: blue;*/
}

.contentWrapper1 .DescriptionContainer{
	height: auto;
	margin-top: 63px;
	/*min-height: 100px;*/
	padding-bottom: 15px;
	padding-top: 18px;
	padding-left: 33px;
	border-left: 2px solid var(--main-border-color);
	/*background-color: green;*/
} 

.contentWrapper1 .profileheading{
	position: absolute;
	font-size: 21px;
	font-weight: bold;
	margin-top: 35px;
	margin-left: 40px;
	color: #3C8DBC;
	font-family: 'Montserrat-SemiBold';
}

.contentWrapper1 .profileSubContainer{
	height: auto;
	/*min-height: 200px;*/
	margin-left: 13px;
	margin-top: 5px;
	/*background-color: maroon;*/
}

.contentWrapper1 .horizontalRightLine{
	height: 2px;
	position: absolute;
	margin-top: 50px;
	margin-left: 12px;
	width: 25px;
	background-color: var(--main-border-color);
}

.contentWrapper1 .profileContent{
	font-family: 'Montserrat-Regular';
}

.contentWrapper1 .diamondBullet:before{
	content: "\25C8";
	position: absolute;
	top: -10px;
	left: -18px;
	font-size: 16px;
	font-weight: bold;
	color: #3C8DBC;
}

/*****************************End of Content Wrapper One**********************************/

/*******************************Content Wrapper Two***************************************/

.contentWrapper2{
	height: auto;
	/*min-height: 120px;*/
	/*background-color: blue;*/
}

.contentWrapper2 .DescriptionContainer{
	margin-top: 27px;
	height: auto;
	/*min-height: 100px;*/
	border-left: 2px solid var(--main-border-color);
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 35px;
	/*background-color: green;*/
} 

.contentWrapper2 .profileheading{
	position: absolute;
	font-size: 21px;
	font-weight: bold;
	color: #3C8DBC;;
	margin-top: -5px;
	margin-left: 40px;
	font-family: 'Montserrat-SemiBold';
}

.contentWrapper2 .profileSubContainer{
	height: auto;
	/*min-height: 120px;*/
	/*background-color: maroon;*/
	margin-left: 13px;
}

.contentWrapper2 .horizontalRightLine{
	height: 2px;
	position: absolute;
	margin-top: 12px;
	margin-left: 12px;
	width: 25px;
	background-color: var(--main-border-color);
}

.contentWrapper2 .profileContent{
	font-family: 'Montserrat-Regular';
}

.contentWrapper2 .diamondBullet:before{
	content: "\25C8";
	position: absolute;
	top: -10px;
	left: -18px;
	font-size: 16px;
	font-weight: bold;
	color: #3C8DBC;
}

.contentWrapper2 .eduSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.contentWrapper2 .eduDuration{
	font-family: 'Montserrat-Regular';
}

.profileContent li:before{
	content: "\25C6";
    font-weight: bold;
    padding-right: 6px;
    margin-left: -15px;	
}

.profileContent li{
	list-style: none;
}

/*************************End of Content Wrapper Two******************************/

/****************************Content Wrapper Three********************************/

.contentWrapper3{
	height: auto;
	/*min-height: 120px;*/
	/*background-color: blue;*/
}

.contentWrapper3 .DescriptionContainer{
	margin-top: 27px;
	height: auto;
	/*min-height: 100px;*/
	border-left: 2px solid var(--main-border-color);
	padding-top: 10px;
	padding-left: 35px;
	/*background-color: green;*/
} 

.contentWrapper3 .profileheading{
	position: absolute;
	font-size: 21px;
	font-weight: bold;
	color: #3C8DBC;
	margin-top: -5px;
	margin-left: 40px;
	font-family: 'Montserrat-SemiBold';
}

.contentWrapper3 .profileSubContainer{
	height: auto;
	/*min-height: 120px;*/
	/*background-color: maroon;*/
	margin-left: 13px;
}

.contentWrapper3 .horizontalRightLine{
	height: 2px;
	position: absolute;
	margin-top: 12px;
	margin-left: 12px;
	width: 25px;
	background-color: var(--main-border-color);
}

.contentWrapper3 .profileContent{
	font-family: 'Montserrat-Regular';
}

.contentWrapper3 .diamondBullet:before{
	content: "\25C8";
	position: absolute;
	top: -10px;
	left: -18px;
	font-size: 16px;
	font-weight: bold;
	color: #3C8DBC;
}

.contentWrapper3 .eduSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.contentWrapper3 .eduDuration{
	font-family: 'Montserrat-Regular';
}

.profileContent li:before{
	content: "\25C6";
    font-weight: bold;
    padding-right: 6px;
    margin-left: -15px;	
}

.profileContent li{
	list-style: none;
}

/*****************************End of Content Wrapper Three****************************/

.profileContent1 li{
	list-style: none;
}

.profileContent1 li:nth-child(1):before{
	content: "\25C6";
    font-weight: bold;
    padding-right: 6px;
    margin-left: -15px;
	list-style: none;
}

.skillsHeadOne{
	/*background-color: maroon;*/
	margin-left: 6px;
}

.skillsHeadOne .skillsTitle{
	font-size: 15px;
	font-family: 'Montserrat-SemiBold';
	color: #3C8DBC;
}

.skillsHeadOne .skillSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.skillsHeadOne .skillDuration{
	font-family: 'Montserrat-Regular';
}

.skillsHeadOne li:nth-child(2){
	margin-top: 42px;
	/*background-color: red;*/
}

.skillsHeadTwo{
	margin-top: 10px;
	margin-left: 6px;
	/*background-color: gray;*/
}

.skillsHeadTwo .skillsTitle{
	font-size: 15px;
	font-family: 'Montserrat-SemiBold';
	color: #3C8DBC;
}

.skillsHeadTwo .skillSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.skillsHeadTwo .skillDuration{
	font-family: 'Montserrat-Regular';
}

.skillsHeadTwo li:nth-child(2){
	margin-top: 62px;
	/*background-color: red;*/
}

.skillsHeadThree{
	margin-left: 6px;
	margin-top: 10px;
	/*background-color: red;*/
}

.skillsHeadThree .skillsTitle{
	font-size: 15px;
	font-family: 'Montserrat-SemiBold';
	color: #3C8DBC;
}

.skillsHeadThree .skillSubtitle{
	font-family: 'Montserrat-SemiBold';
}

.skillsHeadThree .skillDuration{
	font-family: 'Montserrat-Regular';
}

.skillsHeadThree li:nth-child(2){
	margin-top: 62px;
	/*background-color: red;*/
}

.skillsHeadFour{
	margin-left: 6px;
	margin-top: 10px;
	font-family: 'Montserrat-SemiBold';
	/*background-color: red;*/
}

.skillsHeadFour li:nth-child(2){
	margin-top: 62px;
}

.skillsHeadFour .skillsTitle{
	color: #3C8DBC;
}

.skillsList{
	/*background-color: brown;*/
	margin-top: 22px;
	position: absolute;
	font-family: 'Montserrat-Regular';
}

.buttonMain{
	margin-top: 50px;
	padding-bottom: 40px;
}

.btnEdit{
	border: 1px solid var(--main-border-color);
    background-color: transparent;
    color: var(--main-txt-color);
    margin-left: -50px;
    margin-right: 0px;
}

.btnEdit:hover{
	color: var(--main-txt-color);
}

.btnSubmit{ 
	background-color: var(--yellow-button-color);
	margin-left: 33px;
}

.btnSubmit:hover{ 
	color: var(--main-txt-color);
}

/**************************Right Aside Bar******************************/

.rightSideMain{
	height: auto;
	padding-bottom: 40px;
	border: 1px solid var(--main-border-color);
}

.rightSideHeader{
	height: 215px;
	border-bottom: 1px solid var(--main-border-color);
}

.mapImg{
	height: 175px;
	margin-top: 20px;
	margin-left: 50px;
}

.rightContentHead{
	font-size: 28px;
	font-weight: bold;
	color: #3C8DBC;
	padding-top: 30px;
	padding-left: 22px;
	font-family: 'Montserrat-SemiBold';
}

.rightSideTitle{
	font-size: 20px;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 7px;
	color: #3C8DBC;
	font-family: 'Montserrat-SemiBold';
}

.rightSideSub{
	padding-left: 25px;
	padding-top: 2px;
	font-family: 'Montserrat-Regular';
}

.rightSideImg{
	height: 300px;
	margin-left: 30px;
	margin-top: 330px;
}