.jobListWrapper{
	min-height: 700px;
	height: auto;
	color: var(--main-txt-color);
	background-color: var(--main-bg-color);
}

.EmployeeListWrapperMain{
	background-color: var(--main-bg-color);
	padding-bottom: 30px;
}

.jobListContainer{
	height: 296px;
	margin-top: 30px;
	border-radius: 10px;
	border: 1px solid var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListContainer .jobListLeftContent{
	height: 255px;
	margin-top: 20px;
	border-right: 1px solid rgba(245, 167, 33, 0.5);
}

.jobListLeftContent .iconsBar{
    /*height: auto;*/
	margin-left: -33px;
	margin-top: -5px;
}

.jobListLeftContent .iconsBar ul{
	height: 29px;
	padding: 0;
	padding-top: 2px;
	list-style: none;
	float: left;
}

.jobListLeftContent .iconsBar ul li{
	float: left;
	margin-top: 5px;
}
 
.jobListLeftContent .iconsBar ul li i{
	margin-left: 22px;
}

.jobListLeftContent .iconsBar i{
	color: var(--main-border-color);
	font-size: 20px;
	height: 20px;
}

.restRoomIcon{
	color: var(--main-border-color);
	font-size: 20px;
	height: 20px;
	float: left;
	margin-left: 20px;
	margin-top: 7px;
}

/*.iconsBar .sunIcon{
	margin-left: 25px;
}

.iconsBar .clockIcon{
	margin-left: 25px;
}*/

.jobListRightContent .excelDownload i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 20px;
	margin-left: 19px;
	cursor: pointer;
}

.bothIcon{
	border-left: 2px solid #F5A721;
	margin-left: 5px !important;
	padding-left: 3px;	
}

.jobListLeftContent .infoLog{
	padding: 6px 10px;
	height: 29px;
	border-radius: 3px;
	margin-left: 18px;
	font-size: 11px;
	float: left;
	margin-top: 2px;
	font-weight: 500;
	border: 1px solid var(--main-border-color);
	color: var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListDesignation{
	font-size: 21px;
	color: var(--main-border-color);
	padding-top: 3px;
	margin-left: -21px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: cyan;*/
}

.jobListDesignation a{
	text-decoration: none;
}

.jobListDesignation a:hover{
	color: var(--main-border-color);
	text-decoration: underline !important;
}

.jobListCompanyTitle{
	padding-top: 7px;
	padding-left: 5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: blue;*/
}

.jobListExperienceTitle{
	padding-top: 10px;
	margin-left: -23px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: purple;*/
}

.jobListExperience{
	font-size: 14px;
	color: var(--main-border-color);
	padding-right: 3px;
	/*background-color: yellow;*/
}

.jobListCtcSalTitle{
	padding-top: 13px;
	margin-left: -25px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: grey;*/
}

.jobListCtcSal{
	font-size: 14px; 
	border: 1px solid #D3950A;
	padding: 2px 4px 0px 4px;
	margin-right: 2px;
	border-radius: 50%;
	color: var(--main-border-color);
}

.jobListLocation{
	font-size: 14px;
	padding: 3px 5px;
	border-radius: 50%;
	color: var(--main-border-color);
}

.joblistLocationInfo{
	padding-top: 12px;
	margin-left: -26px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*background-color: lightblue;*/
}

.jobListNumPositions{
	font-size: 14px;
	padding-right: 2px;
	color: var(--main-border-color);
}

.jobListNumPositionsTitle{
	padding-top: 13px;
	margin-left: -25px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	/*background-color: darkblue;*/
}

.jobListRightContent{
	height: 220px;
	margin-top: 18px;
}

.listEditBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 10px;
	margin-left: 19px;
}

.listViewBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 17px;
}

.listDelBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 19px;
	cursor: pointer;
}

.jobListNumapply{
	font-size: 15px !important;
	margin-left: -6px;
	margin-top: 13px;
	padding-left: 3px;
	color: var(--main-border-color);
}

.joblistNoCount{
	margin-top: 10px;
	height: 43px;
	/*float: right;
	margin-right: 20px;*/
	/*padding-right: 10px;*/
	
	padding-top: 9px;
	font-size: 15px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
	text-align: center;
	border: 1px solid  var(--main-border-color);
	border-radius: 5px;
}

.joblistNoCount a{
	color: #fff;
}

.link{
	font-size: 21px;
	color: var(--main-border-color);
	margin-top: 3px;
	margin-left: -5px;
	cursor: pointer;
}

/*******************Search Tab********************/

.jobListSearchTab{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);
}

.searchTabAddOn{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);	
}

.searchMainTab{
	margin-top: 32px;
	margin-left: -20px;
	margin-right: 20px;
}

.applyjob{
	margin-left: 80px;
}

/***************************swal custom classes**********************************/

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
	border: 1px solid var(--main-border-color);
	padding-top: 80px;
	padding-bottom: 70px;
	border-radius: 5px;
	background-color: var(--main-bg-color);
}

.swal2-popup{
	width: 50em;
}

[class^=swal2]{
	color: #fff;
}

.swal2-styled.swal2-confirm{
	box-shadow: none;
	color: #fff;
	height: 33px;
	font-size: 11px;
	font-weight: 600;
	/*margin-right: 80px;*/
	margin-top: 30px;
	padding-top: 9px;
	/*padding-left: 53px;
	padding-right: 53px;*/
	background-color: var(--form-field-background-color) !important;
	border: 1px solid var(--main-border-color) !important;
}

.swal2-styled.swal2-confirm:hover{
	background-color: var(--main-border-color) !important;
}

.swal2-styled.swal2-cancel{
	box-shadow: none;
	color: #fff;
	height: 33px;
	font-size: 11px;
	font-weight: 600;
	/*margin-right: 30px;*/
	margin-top: 30px;
	padding-top: 9px;
	/*padding-left: 53px;*/
	/*padding-right: 53px;*/
	background-color: var(--form-field-background-color) !important;
	border: 1px solid var(--main-border-color) !important;
}

.swal2-styled.swal2-cancel:hover{
	background-color: var(--main-border-color) !important;
}

.swal2-title{
	font-size: 16px;
	font-weight: 400;
}

.swal2-content{
	font-size: 16px;
	font-weight: 400;
}

/*.swal2-actions .swal2-confirm .swal2-styled:nth-child(1){
	margin-left: 80px;
}*/

.swal2-close{
	/*background-color: var(--main-border-color);*/
    /*padding-left: 483px;
    padding-right: 16px;
    position: absolute;
    left: 0px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
}

.swal2-close:hover{
	/*background-color: var(--main-border-color);*/
}

/*********************************************************************************/

.showMoreBtn{
	background-color: var(--yellow-button-color);
    color: #fff;
    height: 30px;
    line-height: 15px;
    margin: 20px 0;
}

.pagination{
	float: right
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, .pagination>.disabled>span, 
.pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
color: #fff;
    background-color: #242933;
    border-color: var(--main-border-color);
}

.pagination>li>a, .pagination>li>span{
	background-color: var(--main-bg-color);
	color: #fff;
	border: 1px solid var(--main-border-color);

}

.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: var(--yellow-button-color);
    border-color: var(--main-border-color);
}

/*********************************************************************************/	
.leftSideMainBox{
	/*background-color: pink;*/
}

.leftSideBox{
	height: 235px;
	padding-top: 10px;
	/*background-color: red;*/
}

.rightSideBox{
	height: 235px;
	/*background-color: yellow;*/
}

.tierOneRow{
	padding-top: 16px;
}

.react1{
	border: 1px solid var(--main-border-color);
	height: 48px;
	font-size: 11px;
	font-weight: 400;
	padding-top: 7px;
	border-radius: 4px;
	margin-left: -15px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.react2{
	border: 1px solid var(--main-border-color);
	height: 48px;
	font-size: 11px;
	font-weight: 400;
	padding-top: 7px;
	border-radius: 4px;
	margin-left: 30px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.react3{
	border: 1px solid var(--main-border-color);
	height: 48px;
	font-size: 11px;
	font-weight: 400;
	padding-top: 7px;
	border-radius: 4px;
	margin-left: 30px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.multiCount{
	font-size: 13px;
}

/***********************************/

.btnsRow{
	padding-top: 30px;
	text-align: center;
}

.nav-pills>li.active>a{
    color: #fff;
    background-color: var(--form-field-background-color);
    font-weight: 600;
}

.nav-justified>li>a {
    border: 1px solid var(--main-border-color);
    color: #fff;
    font-weight: 600;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: var(--main-border-color);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: var(--main-border-color);
}

/************************************************************Media Query*************************************************************/

@media  screen and (max-width: 2880px) {

.listEditBtn i {
    margin-left: 24px;
}

.listViewBtn i {
    margin-left: 23px;
}

.listDelBtn i {
    margin-left: 25px;
}

}


@media  screen and (max-width: 1400px) {

.listEditBtn i {
    margin-left: 19px;
}

.listViewBtn i {
    margin-left: 17px;
}

.listDelBtn i {
    margin-left: 19px;
}

}



.jobStatusToggleWrapper{
	height:25px;
	border:1px solid var(--main-border-color)!important;
	border-radius: 20px;
	margin-top: 15px;
	margin-left: 5px;
    padding: 2px;
}

.genderFeildWrapper2{
    margin-top:6px;
}

.genderFeild{
	height: 21px;
	border-radius: 20px;
	font-size: 10px;
	font-weight: 100!important;
	padding-top: 4px;
	text-align: center;
	background-color: var(--input-bg-color);
    transition: all 1s;
}

.genderFeild:hover{
	cursor: pointer;
    /*background-color:var(--main-border-color);*/
}

.genderFeildActive{
	background-color:var(--main-border-color);
	transition:all 2s;
}