.jobListWrapper{
	min-height: 700px;
	height: auto;
	color: var(--main-txt-color);
	background-color: var(--main-bg-color);
}

.EmployeeListWrapperMain{
	background-color: var(--main-bg-color);
	padding-bottom: 30px;
}

.jobListContainer{
	height: 300px;
	margin-top: 30px;
	border-radius: 10px;
	border: 1px solid var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListContainer .jobListLeftContent{
	height: 260px;
	margin-top: 20px;
	border-right: 1px solid rgba(245, 167, 33, 0.5);
}

.jobListLeftContent .iconsBar{
	background-color: yellow;
	margin-left: 13px;
	margin-top: -5px;
}

.jobListLeftContent .iconsBar ul{
	height: 29px;
	padding: 0;
	padding-top: 2px;
	list-style: none;
	float: left;
}

.jobListLeftContent .iconsBar ul li{
	float: left;
	margin-top: 5px;
}
 
.jobListLeftContent .iconsBar ul li i{
	/*margin-left: 22px;*/
	/*margin-left: 7px;*/
}

.jobListLeftContent .iconsBar i{
	color: var(--main-border-color);
	font-size: 20px;
	height: 20px;
}

.restRoomIcon{
	color: var(--main-border-color);
	font-size: 20px;
	height: 20px;
	float: left;
	margin-left: 20px;
	margin-top: 7px;
}

.iconsBar .sunIcon{
	margin-left: 25px;
}

.iconsBar .clockIcon{
	margin-left: 25px;
}

.jobListRightContent .excelDownload i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 20px;
	margin-left: 19px;
	cursor: pointer;
}

.jobListLeftContent .infoLog{
	padding: 6px 10px;
	height: 29px;
	border-radius: 3px;
	margin-left: 18px;
	font-size: 11px;
	float: left;
	margin-top: 2px;
	font-weight: 500;
	border: 1px solid var(--main-border-color);
	color: var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListDesignation{
	font-size: 21px;
	color: var(--main-border-color);
	margin-top: 3px;
	margin-left: -5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.jobListCompanyName{
	margin-top: 7px;
	margin-left: -5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.jobListExperience{
	font-size: 14px !important;
	margin-left: -5px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListCtcSal{
	font-size: 10px !important; 
	border: 1px solid #D3950A;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 13px;
	margin-left: -8px;
	color: var(--main-border-color);
}

.jobListLocation{
	font-size: 16px !important;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 9px;
	margin-left: -9px;
	color: var(--main-border-color);
}

.jobListNumPositions{
	font-size: 13px !important;
	margin-left: -6px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListRightContent{
	height: 220px;
	margin-top: 18px;
}

.listEditBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 10px;
	margin-left: 19px;
}

.listViewBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 17px;
}

.listDelBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 19px;
	cursor: pointer;
}

.jobListNumapply{
	font-size: 15px !important;
	margin-left: -6px;
	margin-top: 13px;
	padding-left: 3px;
	color: var(--main-border-color);
}

.joblistNoCount{
	margin-left: -3px;
	margin-top: -3px;
}

a{
	color: var(--main-txt-color);
}

a:hover{
	color: var(--main-txt-color);
}

/*******************Search Tab********************/

.jobListSearchTab{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);
}

.searchTabAddOn{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);	
}

.searchMainTab{
	margin-top: 32px;
	margin-left: -20px;
	margin-right: 20px;
}

.applyjob{
	margin-left: 80px;
}

/***************************swal custom classes**********************************/

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
	border: 1px solid var(--main-border-color);
	padding: 30px;
	border-radius: 5px;
	background-color: var(--form-field-background-color);
}

[class^=swal2]{
	color: #fff;
}

.swal2-styled.swal2-confirm{
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}

.swal2-styled.swal2-cancel{
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}