:root {
  --main-bg-color                   : #1f262d;
  --header-bg-color                 : #191c24;
  --footer-bg-color                 : #191c24;
  --input-bg-color                  : #242933;

  --main-txt-color                  : #ffffff;

  --main-heading-font-color         : #f5a721;
  --main-subheading-font-color      : #f5a721;
  --main-white-subheading-font-color: #f5a721;

  --form-field-background-color     : #242933;

  --header-border-color             : #4b5666;
  --main-border-color               : #f5a721;

  --yellow-button-color             : #f5a721;
  --red-button-color                : #ff4444;
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("/fonts/Montserrat-Light.ttf");
}
body{
  padding: 0px !important;
 background-color: var(--main-bg-color )!important;
}
.basicInfoWrapper{
  min-height: 100px;
  height: auto;
  color:#fff;
  background-color: var(--main-bg-color );
  padding-bottom:70px;
}
.BasicInfoBlock{
  min-height: 200px;
  height: auto;
  border:3px solid var(--main-border-color);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-bg-color );
}
.mainPagesWrapper{
  min-height: 430px;
  height:auto;
  background-color: var(--main-bg-color );
}


.noPadding{
  padding : 0 !important;
}
.whitelink, .whitelink:hover{
  color: #fff
}

.OTPSentWrapper{
  min-height: 250px;
  height:auto;
  background-color: rgb(36 41 49 / 0.5) !important;
}
.OTPSent{
  width:100%;
  min-height: 250px;
  height:auto;
  background-color: #242931;
  border:3px solid #D3950A;
  border-radius: 10px;
  padding-bottom:30px;
}

.OTPSentTitle{
  min-height: 60px;
  height:auto;
  color: #D3950A;
  font-size:20px;
  text-align: center;
  padding-top: 30px;
  font-family: 'Montserrat-Bold';
}

.OTPSentHr{

  border-top: 1px solid #D3950A;
}

.OTPSentSentence{
  min-height:40px;
  height:auto;
  text-align: center;
  color: #aaa;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-top: 10px;
  font-size: 13px;
  font-family: 'Montserrat-Regular';
  padding-bottom:30px;
}

.buttonOTPSent{
  background-color: #D3950A;
  color: #fff;
  border: 1px solid #D3950A;
  margin-bottom: 2px;
  font-size: 14px;
  font-family: 'Montserrat-Bold';
}

.buttonOTPSent:hover{
  background-color: transparent;
  border: 1px solid #D3950A;
  margin-bottom: 0px;
  color:  #D3950A!important;
}

button.close{
  color: #fff;
  opacity: 1;
  margin: 10px;
}

a:hover{
  text-decoration: none!important;
}

/*******************************************************swal custom classes*******************************************************************/

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
  border: 1px solid var(--main-border-color) !important;
  border-radius: 5px !important;
  background-color: var(--main-bg-color) !important;
}

.swal2-container.swal2-shown {
    background-color: rgba(31, 38, 45, 0.8) !important;
}

.swal2-popup{
  width: 45em !important;
}

[class^=swal2]{
  color: #fff !important;
}

.swal2-header{
  background-color: var(--main-border-color) !important;
  height: 34px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  margin-bottom: 50px !important;
}

.swal2-icon{
  margin-top: 50px !important;
}

.swal2-popup{
  padding: 0 !important;
}

.swal2-styled.swal2-confirm{
  box-shadow: none !important;
  height: 33px !important;
  width: 28% !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  margin-top: 30px !important;
  color: #fff !important;
  background-color: var(--form-field-background-color) !important;
  border: 1px solid var(--main-border-color) !important;
}

.swal2-styled.swal2-confirm:hover{
  background-color: var(--main-border-color) !important;
  color: #fff;
}

.swal2-styled.swal2-cancel{
  box-shadow: none !important;
  color: #fff !important;
  height: 33px !important;
  width: 28% !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  margin-top: 30px !important;
  margin-right: 60px !important;
  background-color: var(--form-field-background-color) !important;
  border: 1px solid var(--main-border-color) !important;
}

.swal2-styled.swal2-cancel:hover{
  background-color: var(--main-border-color) !important;
  color: #fff !important;
}

.swal2-title{
  font-size: 16px !important;
  font-weight: 400 !important;
}

.swal2-header .swal2-content .swal2-content{
  padding-top: 30px !important;
}

.swal2-content{
  font-size: 16px !important;
  font-weight: 400 !important;
}

.swal2-actions{
    margin-bottom: 60px !important;
}

.swal2-close{
  color: #333 !important;
  font-weight: 100 !important;
  font-size: 15px !important;
  background-color: #fff !important;
  border-radius: 2px !important;
  height: 15px !important;
  width: 15px !important;
  margin-top: 9px !important;
  margin-right: 9px !important;
}

.swal2-close:hover{
  color: #000 !important;
  background-color: #E6E7EB !important;
}

/************************************************************************************************************************************/

