.india{
	width:65%;
	height: 900px;
	top: 150px;
	margin-top: 70px;
	margin: auto;
	border: 1px solid #ff0;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	color: #ff0;
   font-size: 10px;
   cursor: pointer;
}
.st{
	display: flex;
   align-items:center;
   vertical-align:middle;
}
.mh{
	height: auto;
	width: auto;
	border: 1px solid #f00;
}


















.kashmir{
	position: absolute;
	top: 15px;
	left: 200px;
	text-align: center;
	color: #ff0;
}
.kashmirText{
	position: relative;
	vertical-align:middle;
	text-align: center;
	padding-top: 10px;
	padding-left: 30px;
	color: #ff0;
}
.kashmirNumber{
	position: absolute;
	padding-top: 23px;
	padding-left: 30px;
	text-align: center;
	color: #ff0;
}
.ladakh{
	position: absolute;
	top: 46px;
	left: 262px;
}
.punjab{
	position: absolute;
	top: 134px;
	left: 217px;
}
.himachal{
	position: absolute;
	top: 112px;
	left: 257px;
}
.uttarakhand{
	position: absolute;
	top: 162px;
	left: 306px;	
}
.haryana{
	position: absolute;
	top: 174px;
	left: 234px;	
}
.rajasthan{
	position: absolute;
	top: 194px;
	left: 115px;	
}
.gujrat{
	position: absolute;
	top: 332px;
	left: 79px;	
}
.maharashtra{
	position: absolute;
	top: 403px;
	left: 176px;
}
.maharashtraText{
	position: absolute;
    top: 33%;
    left: 24%;
}
.maharashtraNumber{
	position: absolute;
    top: 41%;
    left: 34%;
}
.madhyapradesh{
	position: absolute;
	top: 279px;
	left: 210px;
}
.goa{
	position: absolute;
	top: 573px;
	left: 205px;
}
.karnataka{
	position: absolute;
	top: 503px;
	left: 210px;
}
.kerala{
	position: absolute;
	top: 668px;
	left: 240px;
}
.tamilnadu{
	position: absolute;
	top: 633px;
	left: 259px;
}
.andhrapradesh{
	position: absolute;
	top: 482px;
	left: 278px;
}
.telangana{
	position: absolute;
	top: 460px;
	left: 294px;
}
.orissa{
	position: absolute;
	top: 392px;
	left: 397px;
}
.chhattisgarh{
	position: absolute;
	top: 354px;
	left: 361px;
}
.uttarpradesh{
	position: absolute;
	top: 194px;
	left: 294px;
}
.westbengal{
	position: absolute;
	top: 267px;
	left: 505px;
}
.bihar{
	position: absolute;
	top: 262px;
	left: 435px;
}
.jharkhand{
	position: absolute;
	top: 315px;
	left: 440px;
}
.sikkim{
	position: absolute;
	top: 242px;
	left: 549px;
}

.assam{
	position: absolute;
	top: 230px;
	left: 586px;	
}
.meghalaya{
	position: absolute;
	top: 288px;
	left: 592px;	
}
.arunachalpradesh{
	position: absolute;
	top: 192px;
	left: 630px;	
}
.nagaland{
	position: absolute;
	top: 257px;
	left: 679px;	
}
.manipur{
	position: absolute;
	top: 297px;
	left: 673px;	
}
.mizoram{
	position: absolute;
	top: 331px;
	left: 655px;	
}
.tripura{
	position: absolute;
	top: 331px;
	left: 630px;	
}
