@media(min-width:992px) and (max-width:1024px){
 
}
@media(min-width:768px) and (max-width:992px){


.india{
	top: 0px;
}
}
@media(min-width:576px) and (max-width:768px){
	.india{
	top: 0px;
}
}
@media (max-width:576px){
 	.india{
	top: 0px;
}
}