.india{
	width:100%;
	height: 800px;
	top: -60px;
	position: absolute;
	/*margin-top: 70px;
	margin: auto;
	border: 1px solid #ff0 !important;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	color: #ff0;
   font-size: 12px;
   cursor: pointer;*/
}

.jammuKashmir{
	position: absolute;
	top: 14px;
	left: 200px;
}
.jammuKashmirText{
	position: absolute;
	top: 35%;
    left: 27%;
}
.jammuKashmirNumber{
	position: absolute;
	top: 70%;
    left: 34%;
}

.ladakh{
	position: absolute;
	top: 45px;
    left: 262px;
}
.ladakhText{
	position: absolute;
	top: 40%;
    left: 24%;
}
.ladakhNumber{
	position: absolute;
	top: 50%;
    left: 34%;
}
.punjab{
	position: absolute;
	top: 136px;
    left: 219px;
}
.punjabText{
	position: absolute;
	top: 48%;
    left: 34%;
}
.punjabNumber{
	position: absolute;
	top: 62%;
    left: 44%;
}

.chandigarh{
	position: absolute;
	top: 174px;
	left: 286px;
}
.chandigarhText{
	position: absolute;
	top: 48%;
    left: 34%;
}
.chandigarhNumber{
	position: absolute;
	top: 62%;
    left: 44%;
}

.delhi{
	position: absolute;
	top: 222px;
    left: 288px;
}
.delhiText{
	position: absolute;
	top: 30%;
    left: 50%;
}
.delhiNumber{
	position: absolute;
	top: 62%;
    left: 44%;
}
.himachal{
	position: absolute;
	top: 112px;
	left: 257px;
}
.himachalText{
	position: absolute;
	top: 38%;
    left: 34%;
}
.himachalNumber{
	position: absolute;
	top: 52%;
    left: 44%;
}
.uttarakhand{
	position: absolute;
	top: 162px;
	left: 306px;	
}
.uttarakhandText{
	position: absolute;
	top: 42%;
    left: 24%;	
}
.uttarakhandNumber{
	position: absolute;
	top: 56%;
    left: 34%;	
}
.haryana{
	position: absolute;
	top: 174px;
	left: 234px;	
}
.haryanaText{
	position: absolute;
	top: 42%;
    left: 30%;	
}
.haryanaNumber{
	position: absolute;
	top: 56%;
    left: 44%;		
}
.rajasthan{
	position: absolute;
	top: 194px;
	left: 115px;	
}
.rajasthanText{
	position: absolute;
	top: 46%;
    left: 40%;		
}
.rajasthanNumber{
	position: absolute;
	top: 54%;
    left: 44%;		
}
.gujrat{
	position: absolute;
	top: 332px;
	left: 79px;	
}
.gujratText{
	position: absolute;
	top: 32%;
    left: 45%;		
}
.gujratNumber{
	position: absolute;
	top: 44%;
    left: 50%;	
}
.maharashtra{
	position: absolute;
	top: 403px;
	left: 176px;
}
.maharashtraText{
	position: absolute;
    top: 33%;
    left: 24%;
}
.maharashtraNumber{
	position: absolute;
    top: 41%;
    left: 34%;
}
.madhyapradesh{
	position: absolute;
	top: 279px;
	left: 210px;
}
.madhyapradeshText{
	position: absolute;
	top: 58%;
    left: 32%;
}
.madhyapradeshNumber{
	position: absolute;
	top: 66%;
    left: 45%;
}
.goa{
	position: absolute;
	top: 573px;
	left: 205px;
}
.goaText{
	position: absolute;
	top: 19%;
    left: -14px;
}
.goaNumber{
	position: absolute;
	top: 67%;
    left: -68%;
}
.karnataka{
	position: absolute;
	top: 503px;
	left: 210px;
}
.karnatakaText{
	position: absolute;
	top: 32%;
    left: 15%;	
}
.karnatakaNumber{
	position: absolute;
	top: 38%;
    left: 30%;	
}
.kerala{
	position: absolute;
	top: 657px;
    left: 234px;
}
.keralaText{
	position: absolute;
	top: 42%;
    left: -11%;	
}
.keralaNumber{
	position: absolute;
	top: 52%;
    left: 4%;
}
.tamilnadu{
	position: absolute;
	top: 633px;
	left: 259px;
}
.tamilnaduText{
	position: absolute;
	top: 42%;
    left: 30%;	
}
.tamilnaduNumber{
	position: absolute;
	top: 52%;
    left: 40%;	
}
.andhrapradesh{
	position: absolute;
	top: 482px;
	left: 278px;
}
.andhrapradeshText{
	position: absolute;
	top: 55%;
    left: 7%;	
}
.andhrapradeshNumber{
	position: absolute;
	top: 62%;
    left: 20%;	
}
.telangana{
	position: absolute;
	top: 460px;
	left: 294px;
}
.telanganaText{
	position: absolute;
	top: 42%;
    left: 20%;	
}
.telanganaNumber{
	position: absolute;
	top: 52%;
    left: 30%;	
}
.orissa{
	position: absolute;
	top: 392px;
	left: 397px;
}
.orissaText{
	position: absolute;
	top: 32%;
    left: 40%;	
}
.orissaNumber{
	position: absolute;
	top: 44%;
    left: 45%;	
}
.chhattisgarh{
	position: absolute;
	top: 354px;
	left: 361px;
}
.chhattisgarhText{
	position: absolute;
	top: 38%;
    left: 20%;	
}
.chhattisgarhNumber{
	position: absolute;
	top: 45%;
    left: 30%;	
}
.uttarpradesh{
	position: absolute;
	top: 194px;
	left: 294px;
}
.uttarpradeshText{
	position: absolute;
	top: 42%;
    left: 30%;	
}
.uttarpradeshNumber{
	position: absolute;
	top: 50%;
    left: 43%;
}
.westbengal{
	position: absolute;
	top: 267px;
	left: 505px;
}
.westbengalText{
	position: absolute;
	top: 68%;
    left: 11%;	
}
.westbengalNumber{
	position: absolute;
	top: 76%;
    left: 39%;	
}
.bihar{
	position: absolute;
	top: 262px;
	left: 435px;
}
.biharText{
	position: absolute;
	top: 42%;
    left: 43%;	
}
.biharNumber{
	position: absolute;
	top: 55%;
    left: 45%;	
}
.jharkhand{
	position: absolute;
	top: 315px;
	left: 440px;
}
.jharkhandText{
	position: absolute;
	top: 40%;
    left: 20%;	
}
.jharkhandNumber{
	position: absolute;
	top: 52%;
    left: 38%;	
}
.sikkim{
	position: absolute;
	top: 242px;
	left: 549px;
}
.sikkimText{
	position: absolute;
	top: 18%;
    left: -109%;	
}
.sikkimNumber{
	position: absolute;
	top: 47%;
    left: -59%;
}
.assam{
	position: absolute;
	top: 230px;
	left: 586px;	
}
.assamText{
	position: absolute;
	top: 42%;
    left: 11%;		
}
.assamNumber{
	position: absolute;
	top: 42%;
    left: 37%;		
}
.meghalaya{
	position: absolute;
	top: 288px;
	left: 592px;	
}
.meghalayaText{
	position: absolute;
	top: 42%;
    left: 17%;		
}
.meghalayaNumber{
	position: absolute;
	top: 83%;
    left: 38%;	
}
.arunachalpradesh{
	position: absolute;
	top: 192px;
	left: 630px;	
}
.arunachalpradeshText{
	position: absolute;
	top: 17%;
    left: 30%;		
}
.arunachalpradeshNumber{
	position: absolute;
	top: 42%;
    left: 30%;		
}
.nagaland{
	position: absolute;
	top: 257px;
	left: 679px;	
}
.nagalandText{
	position: absolute;
	top: 23%;
    left: 61%;	
}
.nagalandNumber{
	position: absolute;
	top: 46%;
    left: 100%;		
}
.manipur{
	position: absolute;
	top: 297px;
	left: 673px;	
}
.manipurText{
	position: absolute;
	top: 19%;
    left: 30%;		
}
.manipurNumber{
	position: absolute;
	top: 42%;
    left: 30%;		
}
.mizoram{
	position: absolute;
	top: 331px;
	left: 655px;	
}
.mizoramText{
	position: absolute;
	top: 42%;
    left: 30%;		
}
.mizoramNumber{
	position: absolute;
	top: 42%;
    left: 30%;	
}
.tripura{
	position: absolute;
	top: 331px;
	left: 630px;	
}
.tripuraText{
	position: absolute;
	top: 48%;
    left: -51%;		
}
.tripuraNumber{
	position: absolute;
	top: 74%;
    left: -36%;		
}


.andaman_nicobar{
	position: absolute;
    top: 631px;
    left: 680px;	
}
.andaman_nicobarText{
	position: absolute;
	top: 48%;
    left: 30%;		
}
.andaman_nicobarNumber{
	position: absolute;
	top: 74%;
    left: 36%;		
}

.lakshadweep{
	position: absolute;
    top: 664px;
    left: 130px;
}
.lakshadweepText{
	position: absolute;
	top: 48%;
    left: 51%;		
}
.lakshadweepNumber{
	position: absolute;
	top: 74%;
    left: 36%;		
}

.dadraNagarHaveli{
	position: absolute;
    top: 447px;
    left: 192px;
}
.dadraNagarHaveliText{
	position: absolute;
	top: 50%;
    left: -51%;		
}
.dadraNagarHaveliNumber{
	position: absolute;
	top: 150%;
    left: -36%;		
}

.damanDiu{
	position: absolute;
    top: 430px;
    left: 135px;
}
.damanDiuText{
	position: absolute;
	top: 50%;
    left: -51%;		
}
.damanDiuNumber{
	position: absolute;
	top: 180%;
    left: -36%;		
}
