
#LogoImageUp {
    position: absolute;
    top: 1px;
    height: 100%;
}
.LogoImageUp {
    position: absolute;
    top: 1px;
    height: 100%;
}
.deletelist {
    background-color: #D9534F! important;
    color: #ffffff ! important;
}
.border{
    border-top: 1px solid #e2e2e2;
}
#authorizationUpto, #permitValidUpto,  #insuranceDate, #registrationDate, #PUCValidUpto{
    padding: 6px 3px;
}
.pdfContainerVM img{
	height: 30px;
	margin-left: 25%;
}
.pdfContainerVM{
	word-break: break-all;
	text-align: center !important;
	padding: 4px;
}
.pdfContainerVM span{
	font-size: 10px !important;
}
#loader_img{
	display: none;
	background-image: url("/images/loading.gif");
}
.vehicleProfile {
    font-size: 16px;
    color: #333;
    margin-top: 4px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.pdfImg{
    height: 30px;
}
.padtop{
    padding-top: 10px;
}
.pdfbox{
    margin-top: 2px;
}
.pdfName{
    font-size: 11px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    width: 90px;
    white-space: nowrap;
}
.vehiclePdfName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}