@font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.changePasswordWrapper{
	min-height: 300px;
	height: auto;
	background-color:transparent;
}

.changePassword{
	height: auto;
	min-height: 350px;
	margin-top: 50px;
	background-color: transparent;
	border:3px solid #3C8DBC !important;
	border-radius: 10px;
	padding-bottom: 50px;
}

.changePasswordTitle{
	height: 80px;
	color: #3C8DBC;
	font-size:20px;
	text-align: center;
	padding-top: 40px;
	font-family: 'Montserrat-Bold';
	/*background-color: pink;*/
}

.changePasswordHr{
	width:92%;
	
	border-top: 1px solid #3C8DBC !important;
}

.changePasswordInputBox{
  
  text-align:left;
  padding-left: 10px;
  border: 1px solid #3C8DBC !important;
  background-color: transparent !important;
  color: #333 !important;
  font-size: 14px;
  font-family: 'Montserrat-Regular';


}

.changePasswordInputBox:focus{
	border-color: #3C8DBC !important;
	/*box-shadow: 0px 1px 1px rgba(211, 149, 10, 0.075) inset, 0px 0px 8px rgba(211, 149, 10, 0.5)  !important;*/
}


.changePasswordInputIcon{
	font-size: 20px;
	border: 1px solid #3C8DBC !important;
	background-color: transparent !important;
	color: #eee;
}


.changePasswordInputIcon1{
	font-size: 14px;
	 border: 1px solid #3C8DBC !important;
	background-color: transparent !important;
	color: #eee;
}
.buttonChangePassword{
	background-color: #3C8DBC;
	color: #fff;
	border: 1px solid #3C8DBC;
	margin-bottom: 2px;
	font-size: 16px;
	font-family: 'Montserrat-Bold';
}

.buttonChangePassword:hover{
	background-color: transparent;
	color: #3C8DBC;
	border: 2px solid #3C8DBC !important;
	font-weight: bold;
	margin-bottom: 0px;
}



.errorMsg{
	color: #f00;
	font-family: 'Montserrat-Regular';
	font-size: 11px;
}

.changePasswordIcon{
	font-size: 18px;
	border: 1px solid #3C8DBC !important;
	border-left: transparent!important;
	background-color: transparent !important;
	color:#3C8DBC;
}