font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.forgotPasswordWrapper{
	height: auto;
	min-height: 300px;
	background-color:#242931;
	margin-top: 100px;
	border:3px solid #D3950A !important;
	border-radius: 10px;
}

.forgotPasswordTitle{
	color:  #D3950A;
	text-align: center;
}

.forgotPasswordText{
	color:  #efefef;
	text-align: center;
}

.forgotPasswordHr {
    width: 92%;
    border-top: 1px solid #D3950A !important;
}

.forgotPasswordLabel{
	font-family: 'Montserrat-Regular';
	color: #efefef;
}

/*.form-control{
  width: 100% !important;
  background-color: var(--input-bg-color) !important;
  border: 1px solid var(--main-border-color) !important;
  color: #fff !important;
  font-size:13px !important;
}*/
.sendOTP{
	background-color: #D3950A;
	margin-top: 20px;
	color: #efefef;
	font-family: 'Montserrat-Regular';
}

.sendOTP:hover{
background-color:#efefef;
	
	color:  #D3950A;
}
.forgotPasswordSignin{
	color:  #D3950A;
   font-family: 'Montserrat-Regular';
   font-size: 14px;
   text-align: center;
   margin-top: 10px;

}
.forgotPasswordSignin:hover{
	color : #D3950A;
	font-size: 15px;
}
