.border{
    border-top: 1px solid #e2e2e2;
}
#authorizationUpto, #permitValidUpto,  #insuranceDate, #registrationDate, #PUCValidUpto{
    padding: 6px 3px;
}
.pdfContainerVM img{
	height: 30px;
	margin-left: 25%;
}
.pdfContainerVM{
	word-break: break-all;
	text-align: center !important;
	padding: 4px;
}
.pdfContainerVM span{
	font-size: 10px !important;
}
#loader_img{
	display: none;
	background-image: url("/images/loading.gif");
}