
.tawang{
	position: absolute;
	top: 375px;
	left: 20px;
}
.tawangText{
    position: absolute;
    top: 42%;
    left: 23%;
}
.tawangNumber{
    position: absolute;
    top: 60%;
    left: 32%;
}
.westKameng{
    position: absolute;
    top: 376px;
    left: 80px;
}
.westKamengText{
    position: absolute;
    top: 50%;
    left: 20%;
}
.westKamengNumber{
    position: absolute;
    top: 60%;
    left: 32%;
}
.eastKameng{
    position: absolute;
    top: 354px;
    left: 134px;
}
.eastKamengText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.eastKamengNumber{
    position: absolute;
    top: 50%;
    left: 50%;
}
.kurungKumey{
    position: absolute;
    top: 324px;
    left: 161px;
}
.kurungKumeyText{
    position: absolute;
    top: 30%;
    left: 30%;
}
.kurungKumeyNumber{
    position: absolute;
    top: 45%;
    left: 50%;
}
.papumPare{
    position: absolute;
    top: 400px;
    left: 234px;
}
.papumPareText{
    position: absolute;
    top: 45%;
    left: 18%;;
}
.papumPareNumber{
    position: absolute;
    top: 60%;
    left: 25%;
}
.lowerSubansiri{
    position: absolute;
    top: 349px;
    left: 270px;
}
.lowerSubansiriText{
    position: absolute;
    top: 45%;
    left: 23%;
}
.lowerSubansiriNumber{
    position: absolute;
    top: 60%;
    left: 30%;
}
.upperSubansiri{
    position: absolute;
    top: 247px;
    left: 222px;
}
.upperSubansiriText{
    position: absolute;
    top: 27%;
    left: 25%;
}
.upperSubansiriNumber{
    position: absolute;
    top: 40%;
    left: 50%;
}
.kraDaadi{
    position: absolute;
    top: 296px;
    left: 181px;
}
.kraDaadiText{
    position: absolute;
    top: 17%;
    left: 30%;
}
.kraDaadiNumber{
    position: absolute;
    top: 30%;
    left: 65%;
}

.westSiang{
    position: absolute;
    top: 192px;
    left: 315px;
}
.westSiangText{
    position: absolute;
     top: 25%;
    left: 20%;
}
.westSiangNumber{
    position: absolute;
    top: 32%;
    left: 35%;
}
.yingkiong{
    position: absolute;
    top: 151px;
    left: 344px;
}
.yingkiongText{
    position: absolute;
    top: 30%;
    left: 35%;
}
.yingkiongNumber{
    position: absolute;
    top: 40%;
    left: 45%;
}
.eastSiang{
    position: absolute;
    top: 259px;
    left: 416px;
}
.eastSiangText{
    position: absolute;
    top: 52%;
    left: 35%;
}
.eastSiangNumber{
    position: absolute;
    top: 65%;
    left: 45%;
}
.dibangValley{
    position: absolute;
    top: 123px;
    left: 476px;
}
.dibangValleyText{
    position: absolute;
    top: 47%;
    left: 30%;
}
.dibangValleyNumber{
    position: absolute;
    top: 58%;
    left: 45%;
}
.lowerDibangValley{
    position: absolute;
    top: 252px;
    left: 490px;
}
.lowerDibangValleyText{
    position: absolute;
    top: 38%;
    left: 30%;
}
.lowerDibangValleyNumber{
    position: absolute;
    top: 55%;
    left: 45%;
}
.lohit{
    position: absolute;
    top: 267px;
    left: 552px;
}
.lohitText{
    position: absolute;
    top: 55%;
    left: 40%;
}
.lohitNumber{
    position: absolute;
    top: 65%;
    left: 45%;
}
.anjaw{
    position: absolute;
    top: 260px;
    left: 612px;
}
.anjawText{
    position: absolute;
    top: 35%;
    left: 40%;
}
.anjawNumber{
    position: absolute;
    top: 50%;
    left: 45%;
}
.changlang{
    position: absolute;
    top: 369px;
    left: 539px;
}
.changlangText{
    position: absolute;
    top: 20%;
    left: 30%;
}
.changlangNumber{
    position: absolute;
    top: 30%;
    left: 36%;
}
.namsai{
    position: absolute;
    top: 363px;
    left: 552px;
}
.namsaiText{
    position: absolute;
    top: 10%;
    left: 0%;
}
.namsaiNumber{
    position: absolute;
    top: 40%;
    left: 20%;
}
.khonsa{
    position: absolute;
    top: 435px;
    left: 508px;
}
.khonsaText{
    position: absolute;
    top: 40%;
    left: 10%;
}
.khonsaNumber{
    position: absolute;
    top: 60%;
    left: 20%;
}
.langding{
    position: absolute;
    top: 456px;
    left: 486px;
}
.langdingText{
    position: absolute;
    top: 40%;
    left: -30%;
}
.langdingNumber{
    position: absolute;
    top: 60%;
    left: 30%;
}

