.bijapur{
	position: absolute;
	left: 1px;
	top:700px;
}
.sukma{
	position: absolute;
	left: 91px;
    top: 796px;
}
.dantewada{
	position: absolute;
	left: 122px;
    top: 725px;
}
.bastar{
	position: absolute;
	left: 154px;
    top: 680px;
}
.narayanpur{
	position: absolute;
	left: 60px;
    top: 614px;
}
.kondagaon{
	position: absolute;
	left: 148px;
    top: 586px;
}
.uttarKanker{
	position: absolute;
	left: 24px;
    top: 533px;
}
.rajnandgaon{
	position: absolute;
	left: 24px;
    top: 345px;
}
.balod{
	position: absolute;
	left: 84px;
    top: 463px;
}
.dhamtari{
	position: absolute;
	left: 162px;
    top: 465px;
}
.ghariaband{
	position: absolute;
	left: 229px;
    top: 457px;
}
.mahasamund{
	position: absolute;
	left: 244px;
    top: 387px;
}
.raipur{
	position: absolute;
	left: 182px;
    top: 383px;
}
.durg{
	position: absolute;
	left: 128px;
    top: 394px;
}
.kawardha{
	position: absolute;
	left: 88px;
    top: 246px;
}
.bemetara{
	position: absolute;
	left: 128px;
    top: 311px;
}
.balodaBazar{
	position: absolute;
	left: 197px;
    top: 341px;
}
.mungeli{
	position: absolute;
	left: 176px;
    top: 225px;
}
.bilaspur{
	position: absolute;
	left: 210px;
    top: 159px;
}
.janjgirChampa{
	position: absolute;
	left: 288px;
    top: 285px;
}
.raigarh{
	position: absolute;
	left: 374px;
    top: 206px;
}
.korba{
	position: absolute;
	left: 264px;
    top: 178px;
}
.koriya{
	position: absolute;
	left: 189px;
    top: 42px;
}
.surajpur{
	position: absolute;
	left: 312px;
    top: 51px;
}
.balrampur{
	position: absolute;
	left: 333px;
    top: 15px;
}
.surguja{
	position: absolute;
	left: 350px;
    top: 142px;
}
.jashpur{
	position: absolute;
	left: 436px;
    top: 139px;
}
