@font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.FunctionalJobsWrapper{
	background-color: #1f262d;
	height: auto;
	min-height: 500px;
}

.FunctionalJobsBlock{
	background-color: #242933;
	height: 170px;
	border-radius: 10px;
	border:1px solid #f5a721;
	padding-top: 10px;
}

.FunctionalJobsBlock:hover{
	background-color: #f5a721;
}

.FunctionalJobsBlock:hover > .FunctionalJobsBlockName{
	color: #eee;
}


.FunctionalJobsBlockImg{
	width: 60px;
	height: 70px;
	margin: auto;
	
	padding-top: 1px;
}

.FunctionalJobsPng{
	width: 40px;
	height: 40px;
	margin: 10px;
}

.FunctionalJobsBlockName{
	width: 100%;
	height: 40px;
	text-align: center;
	color: #f5a721;
	font-size: 16px;
	font-family: 'Montserrat-Regular';
}

.FunctionalJobsBlockNumber{
	width: 100%;
	height: 40px;
	text-align: center;
	color: #eee;
	font-size: 20px;
	font-family: 'Montserrat-Regular';
}

.FunctionalJobsRow{
	margin-top: 30px;
}