/*.jobListWrapper{
	min-height: 1300px;
	height: auto;
	color: var(--main-txt-color);
}

.JobListWrapperMain{
	background-color: var(--main-bg-color);
	padding-bottom: 30px;
}

.jobListContainer{
	height: 280px;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid var(--main-border-color);
}

.jobListContainer .jobListLeftContent{
	height: 240px;
	margin-top: 20px;
	border-right: 1px solid var(--main-border-color);
}

.jobListLeftContent .iconsBar{
	background-color: yellow;
	margin-left: -11px;
	margin-top: -5px;
}

.jobListLeftContent .iconsBar ul{
	list-style: none;
	height: 29px;
	padding: 0;
	padding-top: 2px;	
	float: left;
}

.jobListLeftContent .iconsBar ul li{
	float: left;
	margin-top: 5px;
}
 
.jobListLeftContent .iconsBar ul li i{
	margin-left: 22px;
}

.jobListLeftContent .iconsBar i{
	color: var(--main-border-color);
	font-size: 20px;
	height: 20px;
}

.jobListLeftContent .infoLog{
	padding: 6px 9px;
	height: 29px;
	color: var(--main-border-color);
	border-radius: 3px;
	border: 1px solid var(--main-border-color);
	width: 21%;
	margin-left: 18px;
	font-size: 11px;
	float: left;
	margin-top: 2px;
}

.jobListDesignation{
	font-size: 22px;
	color: var(--main-border-color);
	margin-top: 3px;
	margin-left: -5px;
	font-family: 'Montserrat-SemiBold';
}

.jobListCompanyName{
	margin-top: 7px;
	margin-left: -5px;
	font-family: 'Montserrat-SemiBold';
}

.jobListExperience{
	font-size: 14px !important;
	margin-left: -5px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListMonSal{
	font-size: 10px !important; 
	border: 1px solid #D3950A;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 13px;
	margin-left: -8px;
	color: var(--main-border-color);
}

.jobListLocation{
	font-size: 16px !important;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 9px;
	margin-left: -9px;
	color: var(--main-border-color);
}

.jobListNumPositions{
	font-size: 13px !important;
	margin-left: -6px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListRightContent{
	height: 220px;
	margin-top: 18px;
}

.jobProfileVerticleIcons i{
	color: var(--main-border-color);
}

.jobProfileVerticleIcons{

}

.jobProfileVerticleIcons ul{
	list-style: none;	
	padding: 0;
}

.jobProfileVerticleIcons ul li:nth-child(1){
	border: 2px solid #D3950A;
	padding-right: 17px;
	padding-left: 3px; 
	border-radius: 3px;
	margin-left: -2px;
	margin-top: 6px;
}

.jobProfileVerticleIcons ul li:nth-child(2){
	padding-right: 16px;
	padding-left: 3px; 
	border-radius: 3px;
	margin-left: -3px;
	margin-top: 20px;
	font-size: 19px;
}

.jobProfileVerticleIcons ul li:nth-child(3){
	padding-right: 16px;
	border-radius: 3px;
	margin-top: 12px;
	font-size: 20px;	
}

.listEditBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 10px;
	margin-left: 1px;
}

.listViewBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: -1px;
}

.listDelBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 1px;
	cursor: pointer;
}

.jobProfileVerticleIcons ul li{
	cursor: pointer;
}*/
@media(min-width:992px) and (max-width:1024px){
  .jobListLeftContent .iconsBar ul li {
		margin-right: 14px;
	}
	.jobListLeftContent .infoLog {
   		 padding: 6px 3px;
   		 font-size: 10px;
   	}
}
@media(min-width:768px) and (max-width:992px){
	.jobListLeftContent .iconsBar ul li {
		margin-right: 15px;
	}

}
@media(min-width:576px) and (max-width:768px){
	.jobListLeftContent .iconsBar i{
 		font-size: 13px;
 	}
 	.jobListLeftContent .infoLog {
	    padding: 6px 3px;
	}
	.jobListLeftContent .iconsBar ul li {
		margin-right: 10px;
	}
	.jobListLeftContent .infoLog{
		font-size: 8px!important;
		height: 24px!important;
	}
	.link {
   		 font-size: 15px!important;
	}
	.jobListCompanyName {
		font-size: 13px;
	}
	.appliedListSubFont {
	    font-size: 12px;
	}
	.jobListDesignation{
		font-size: 15px;
	}
}
@media (max-width:576px){
 	.jobListLeftContent .iconsBar i{
 		font-size: 14px;
 	}
 	.jobListLeftContent .infoLog {
	    padding: 6px 3px;
	}
	.jobListLeftContent .iconsBar ul li {
		margin-right: 10px;
	}
	.jobListLeftContent .infoLog{
		font-size: 8px!important;
		height: 24px!important;
	}
	.link {
   		 font-size: 15px!important;
	}
	.jobListCompanyName {
		font-size: 12px!important;
	}
	.appliedListSubFont {
	    font-size: 11px!important;
	}
	.jobListDesignation{
		font-size: 15px;
	}
}