.kangra{
	position: absolute;
	left: 1px;
	top: 200px;
}
.chamba{
	position: absolute;
	left: 55px;
    top: 10px;
}
.keylong{
	position: absolute;
	left: 177px;
    top: -1px;
}
.kullu{
	position: absolute;
	left: 295px;
    top: 216px;
}
.mandi{
	position: absolute;
	left: 224px;
    top: 302px;
}
.hamirpur{
	position: absolute;
	left: 156px;
    top: 346px;
}
.una{
	position: absolute;
	left: 37px;
    top: 175px;
}
.balspur{
	position: absolute;
	left: 171px;
    top: 422px;
}
.solan{
	position: absolute;
	left: 215px;
    top: 484px;
}
.shimla{
	position: absolute;
	left: 298px;
    top: 396px;
}
.kinnaur{
	position: absolute;
	left: 469px;
    top: 305px;
}
.sirmaur{
	position: absolute;
	left: 303px;
    top: 570px;
}
