
.darjeeling{
	position: absolute;
	left: 369px;
    top: 31px;
}
.darjeelingText{
	position: absolute;
	top: 35%;
    left: 32%;
}
.darjeelingNumber{
	position: absolute;
	top: 45%;
    left: 55%;
}
.kalimpong{
	position: absolute;
	left: 437px;
    top: 34px;
}
.kalimpongText{
	position: absolute;
	top: 30%;
    left: 20%;
}
.kalimpongNumber{
	position: absolute;
	top: 53%;
    left: 45%;
}
.jalpaiguri{
	position: absolute;
	left: 438px;
    top: 69px;
}
.jalpaiguriText{
	position: absolute;
	top: 30%;
    left: 30%;
}
.jalpaiguriNumber{
	position: absolute;
	top: 42%;
    left: 35%;
}
.alipurduar{
	position: absolute;
	left: 543px;
    top: 87px;
}
.alipurduarText{
	position: absolute;
	top: 35%;
    left: 30%;
}
.alipurduarNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}
.coochBihar{
	position: absolute;
	left: 499px;
    top: 149px;
}
.coochBiharText{
	position: absolute;
	top: 35%;
    left: 45%;
}
.coochBiharNumber{
	position: absolute;
	top: 50%;
    left: 52%;
}
.uttarDinajpur{
	position: absolute;
	left: 345px;
    top: 162px;
}
.uttarDinajpurText{
	position: absolute;
	top: 45%;
    left: 20%;
}
.uttarDinajpurNumber{
	position: absolute;
	top: 52%;
    left: 25%;
}
.dakshinDinajpur{
	position: absolute;
	left:  408px;
    top: 323px;
}
.dakshinDinajpurText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.dakshinDinajpurNumber{
	position: absolute;
	top: 58%;
    left: 45%;
}
.malda{
	position: absolute;
	left: 341px;
    top: 338px;
}
.maldaText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.maldaNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.murshidabad{
	position: absolute;
	left: 355px;
    top: 461px;
}
.murshidabadText{
	position: absolute;
	top: 50%;
    left: 30%;
}
.murshidabadNumber{
	position: absolute;
	top: 57%;
    left: 35%;
}
.birbhum{
	position: absolute;
	left: 239px;
    top: 510px;
}
.birbhumText{
	position: absolute;
	top: 60%;
    left: 40%;
}
.birbhumNumber{
	position: absolute;
	top: 67%;
    left: 45%;
}
.purbaBardhaman{
	position: absolute;
	left:296px;
    top: 640px;
}
.purbaBardhamanText{
	position: absolute;
	top: 50%;
    left: 30%;
}
.purbaBardhamanNumber{
	position: absolute;
	top: 60%;
    left: 45%;
}
.nadia{
	position: absolute;
	left:412px;
    top: 591px;
}
.nadiaText{
	position: absolute;
	top: 50%;
    left: 50%;
}
.nadiaNumber{
	position: absolute;
	top: 55%;
    left: 55%;
}
.pashchimBardhaman{
	position: absolute;
	left:191px;
    top: 640px;
}
.pashchimBardhamanText{
	position: absolute;
	top: 28%;
    left: -20%;
}
.pashchimBardhamanNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.bankura{
	position: absolute;
	left:164px;
    top: 681px;
}
.bankuraText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.bankuraNumber{
	position: absolute;
	top: 40%;
    left: 40%;
}
.parulia{
	position: absolute;
	left:34px;
    top: 671px;
}
.paruliaText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.paruliaNumber{
	position: absolute;
	top: 47%;
    left: 40%;
}
.jhargram{
	position: absolute;
	left:157px;
    top: 835px;
}
.jhargramText{
	position: absolute;
	top: 40%;
    left: 45%;
}
.jhargramNumber{
	position: absolute;
	top: 50%;
    left: 55%;
}
.pashchimMedinipur{
	position: absolute;
	left:239px;
    top: 805px;
}
.pashchimMedinipurText{
	position: absolute;
	top: 30%;
    left: 15%;
}
.pashchimMedinipurNumber{
	position: absolute;
	top: 38%;
    left: 40%;
}
.purbaMedinipur{
	position: absolute;
	left:308px;
    top: 880px;
}
.purbaMedinipurText{
	position: absolute;
	top: 30%;
    left: 15%;
}
.purbaMedinipurNumber{
	position: absolute;
	top: 38%;
    left: 40%;
}
.hooghly{
	position: absolute;
	left:306px;
    top: 749px;
}
.hooghlyText{
	position: absolute;
	top: 50%;
    left: 50%;
}
.hooghlyNumber{
	position: absolute;
	top: 62%;
    left: 55%;
}
.howrah{
	position: absolute;
	left:369px;
    top: 832px;
}
.howrahText{
	position: absolute;
	top: 30%;
    left: 20%;
}
.howrahNumber{
	position: absolute;
	top: 43%;
    left: 30%;
}
.north24Paraganas{
	position: absolute;
	left: 448px;
    top: 743px;
}
.north24ParaganasText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.north24ParaganasNumber{
	position: absolute;
	top: 48%;
    left: 35%;
}
.kolkata{
	position: absolute;
	left: 433px;
    top: 853px;
}
.kolkataText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.kolkataNumber{
	position: absolute;
	top: 70%;
    left: 45%;
}
.south24Paraganas{
	position: absolute;
	left: 405px;
    top: 856px;
}
.south24ParaganasText{
	position: absolute;
	top: 30%;
    left: 10%;
}
.south24ParaganasNumber{
	position: absolute;
	top: 40%;
    left: 25%;
}