.kurnool{
	position: absolute;
	top: 375px;
	left: 80px;
}
.anantapur {
    position: absolute;
    top: 476px;
    left: 61px;
}
.ysr {
    position: absolute;
    top: 237px;
    left: 90px;
}
.chittoor {
    position: absolute;
    top: 602px;
    left: 195px;
}
.nellore {
    position: absolute;
    top: 486px;
    left: 288px;
}
.prakasam {
    position: absolute;
    top: 366px;
    left: 255px;
}
.guntur {
    position: absolute;
    top: 310px;
    left: 299px;
}
.krishna {
    position: absolute;
    top: 278px;
    left: 374px;
}
.westGodawari {
    position: absolute;
    top: 243px;
    left: 458px;
}
.westGodawari {
    position: absolute;
    top: 243px;
    left: 458px;
}
.eastGodawari {
    position: absolute;
    top: 179px;
    left: 519px;
}
.vishakhapatnam {
    position: absolute;
    top: 126px;
    left: 555px;
}
.vizianagaram {
    position: absolute;
    top: 58px;
    left: 655px;
}
.srikakulam {
    position: absolute;
    top: 57px;
    left: 707px;
}
