.pherzawl{
	position: absolute;
	left: 30px;
	top: 580px;
}
.pherzawlText{
    position: absolute;
    top: 43%;
    left: 30%;
}
.pherzawlNumber{
    position: absolute;
    top: 50%;
    left: 35%;
}
.churachandpur{
	position: absolute;
	left: 103px;
    top: 603px;
}
.churachandpurText{
    position: absolute;
    top: 43%;
    left: 30%;
}
.churachandpurNumber{
    position: absolute;
    top: 50%;
    left: 35%;
}
.chandel{
	position: absolute;
	left: 350px;
    top: 661px;
}
.chandelText{
    position: absolute;
    top: 43%;
    left: 40%;
}
.chandelNumber{
    position: absolute;
    top: 50%;
    left: 40%;
}
.tengnoupal{
	position: absolute;
	left: 458px;
    top: 583px;
}
.tengnoupalText{
    position: absolute;
    top: 43%;
    left: 40%;
}
.tengnoupalNumber{
    position: absolute;
    top: 50%;
    left: 50%;
}
.kakching{
	position: absolute;
	left: 389px;
    top: 627px;
}
.kakchingText{
    position: absolute;
    top: 10%;
    left: 20%;
}
.kakchingNumber{
    position: absolute;
    top: 30%;
    left: 25%;
}
.bishnupur{
	position: absolute;
	left: 321px;
    top: 541px;
}
.bishnupurText{
    position: absolute;
    top: 40%;
    left: 17%;
}
.bishnupurNumber{
    position: absolute;
    top: 50%;
    left: 22%;
}
.noney{
	position: absolute;
	left: 83px;
    top: 510px;
}
.noneyText{
    position: absolute;
    top: 30%;
    left: 45%;
}
.noneyNumber{
    position: absolute;
    top: 40%;
    left: 50%;
}
.tamenglong{
	position: absolute;
	left: 61px;
    top: 218px;
}
.tamenglongText{
    position: absolute;
    top: 40%;
    left: 45%;
}
.tamenglongNumber{
    position: absolute;
    top: 45%;
    left: 50%;
}
.senapati{
	position: absolute;
	left: 303px;
    top: 134px;
}
.senapatiText{
    position: absolute;
    top: 20%;
    left: 45%;
}
.senapatiNumber{
    position: absolute;
    top: 25%;
    left: 50%;
}
.ukhrul{
	position: absolute;
	left: 484px;
    top: 95px;
}
.ukhrulText{
    position: absolute;
    top: 50%;
    left: 45%;
}
.ukhrulNumber{
    position: absolute;
    top: 55%;
    left: 50%;
}
.kangpokpi{
	position: absolute;
	left: 386px;
    top: 338px;
}
.kangpokpiText{
    position: absolute;
    top: 10%;
    left: 35%;
}
.kangpokpiNumber{
    position: absolute;
    top: 15%;
    left: 40%;
}
.porompat{
	position: absolute;
	left: 399px;
    top: 390px;
}
.porompatText{
    position: absolute;
    top: 50%;
    left: 30%;
}
.porompatNumber{
    position: absolute;
    top: 55%;
    left: 45%;
}
.imphalWest{
	position: absolute;
	left: 347px;
    top: 393px;
}
.imphalWestText{
    position: absolute;
    top: 42%;
    left: 25%;
}
.imphalWestNumber{
    position: absolute;
    top: 48%;
    left: 35%;
}
.thoubal{
    position: absolute;
    left: 401px;
    top: 548px;
}
.thoubalText{
    position: absolute;
    top: 42%;
    left: 25%;
}
.thoubalNumber{
    position: absolute;
    top: 55%;
    left: 30%;

}
