@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.mapTextLabel{
	font-size: 10px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}

.mapCountLabel{
	font-size: 11px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}

.classHover:hover .mapTextLabel{
	font-size: 12px;
	font-family: 'Montserrat-Bold';
	z-index: 1;
}

.classHover:hover .mapCountLabel{
	font-size: 16px;
	font-family: 'Montserrat-Bold';
}
.dwarka{
	position: absolute;
	left: 1px;
	top:  400px;
}
.dwarkaText{
	position: absolute;
	left: 1px;
	top:  400px;
}
.dwarkaNumber{
	position: absolute;
	left: 1px;
	top:  400px;
}
.newDelhi{
	position: absolute;
	left: 263px;
    top: 446px;
}
.newDelhiText{
	position: absolute;
	left: 263px;
    top: 446px;
}
.newDelhiNumber{
	position: absolute;
	left: 263px;
    top: 446px;
}
.saket{
	position: absolute;
	left: 338px;
    top: 540px;
}
.saketText{
	position: absolute;
	left: 338px;
    top: 540px;
}
.saketNumber{
	position: absolute;
	left: 338px;
    top: 540px;
}
.defenceColony{
	position: absolute;
	left: 454px;
    top: 492px;
}
.defenceColonyText{
	position: absolute;
	left: 454px;
    top: 492px;
}
.defenceColonyNumber{
	position: absolute;
	left: 454px;
    top: 492px;
}
.preetVihar{
	position: absolute;
	left: 517px;
    top: 433px;
}
.preetViharText{
	position: absolute;
	left: 517px;
    top: 433px;
}
.preetViharNumber{
	position: absolute;
	left: 517px;
    top: 433px;
}
.shahdara{
	position: absolute;
	left: 517px;
    top: 355px;
}
.shahdaraText{
	position: absolute;
	left: 517px;
    top: 355px;
}
.shahdaraNumber{
	position: absolute;
	left: 517px;
    top: 355px;
}
.centralDaryaganj{
	position: absolute;
	left: 414px;
    top: 248px;
}
.centralDaryaganjText{
	position: absolute;
	left: 414px;
    top: 248px;
}
.centralDaryaganjNumber{
	position: absolute;
	left: 414px;
    top: 248px;
}
.rajouriGarden{
	position: absolute;
	left: 145px;
    top: 364px;
}
.rajouriGardenText{
	position: absolute;
	left: 145px;
    top: 364px;
}
.rajouriGardenNumber{
	position: absolute;
	left: 145px;
    top: 364px;
}
.kanjhwala{
	position: absolute;
	left: 134px;
    top: 204px;
}
.kanjhwalaText{
	position: absolute;
	left: 134px;
    top: 204px;
}
.kanjhwalaNumber{
	position: absolute;
	left: 134px;
    top: 204px;
}
.northNarela{
	position: absolute;
	left: 155px;
    top: 112px;
}
.northNarelaText{
	position: absolute;
	left: 155px;
    top: 112px;
}
.northNarelaNumber{
	position: absolute;
	left: 155px;
    top: 112px;
}
.northEastSeelampur{
	position: absolute;
	left: 464px;
    top: 248px;
}
.northEastSeelampurText{
	position: absolute;
	left: 464px;
    top: 248px;
}
.northEastSeelampurNumber{
	position: absolute;
	left: 464px;
    top: 248px;
}

