@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.mapTextLabel{
	font-size: 10px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}

.mapCountLabel{
	font-size: 11px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}


.dwarka{
	position: absolute;
	left: 1px;
	top:  400px;
}
.dwarkaText{
	position: absolute;
	left: 45%;
    top: 45%;
}
.dwarkaNumber{
	position: absolute;
	left: 50%;
    top: 50%;
}
.newDelhi{
	position: absolute;
	left: 263px;
    top: 446px;
}
.newDelhiText{
	position: absolute;
	left: 40%;
    top: 30%;
}
.newDelhiNumber{
	position: absolute;
	left: 45%;
    top: 37%;
}
.saket{
	position: absolute;
	left: 337px;
    top: 540px;
}
.saketText{
	position: absolute;
	left: 50%;
    top: 50%;
}
.saketNumber{
	position: absolute;
	left: 55%;
    top: 56%;
}
.defenceColony{
	position: absolute;
	left: 454px;
    top: 492px;
}
.defenceColonyText{
	position: absolute;
	left: 20%;
    top: 45%;
}
.defenceColonyNumber{
	position: absolute;
	left: 30%;
    top: 52%;
}
.preetVihar{
	position: absolute;
	left: 517px;
    top: 433px;
}
.preetViharText{
	position: absolute;
	left: 20%;
    top: 30%;
}
.preetViharNumber{
	position: absolute;
	left: 25%;
    top: 40%;
}
.shahdara{
	position: absolute;
	left: 517px;
    top: 355px;
}
.shahdaraText{
	position: absolute;
	left: 35%;
    top: 40%;
}
.shahdaraNumber{
	position: absolute;
	left: 50%;
    top: 53%;
}
.centralDaryaganj{
	position: absolute;
	left: 414px;
    top: 248px;
}
.centralDaryaganjText{
	position: absolute;
	left:10%;
    top: 70%;
}
.centralDaryaganjNumber{
	position: absolute;
	left: 50%;
    top: 77%;
}
.rajouriGarden{
	position: absolute;
	left: 145px;
    top: 364px;
}
.rajouriGardenText{
	position: absolute;
	left: 40%;
    top: 40%;
}
.rajouriGardenNumber{
	position: absolute;
	left: 50%;
    top: 50%;
}
.kanjhwala{
	position: absolute;
	left: 134px;
    top: 204px;
}
.kanjhwalaText{
	position: absolute;
	left: 30%;
    top: 50%;
}
.kanjhwalaNumber{
	position: absolute;
	left: 35%;
    top: 57%;
}
.northNarela{
	position: absolute;
	left: 155px;
    top: 112px;
}
.northNarelaText{
	position: absolute;
	left: 45%;
    top: 40%;
}
.northNarelaNumber{
	position: absolute;
	left: 50%;
    top: 45%;
}
.northEastSeelampur{
	position: absolute;
	left: 463px;
    top: 248px;
}
.northEastSeelampurText{
	position: absolute;
	left: 45%;
    top: 45%;
}
.northEastSeelampurNumber{
	position: absolute;
	left: 50%;
    top: 53%;
}

