


.dwarka{
	position: absolute;
	left: 30px;
    top: 320px;
}
.dwarkaText{
	position: absolute;
	left: 45%;
    top: 45%;
}
.dwarkaNumber{
	position: absolute;
	left: 50%;
    top: 50%;
}
.newDelhi{
	position: absolute;
	left:  294px;
    top: 364px;
}
.newDelhiText{
	position: absolute;
	left: 40%;
    top: 30%;
}
.newDelhiNumber{
	position: absolute;
	left: 45%;
    top: 37%;
}
.saket{
	position: absolute;
	left: 362px;
    top: 450px;
}
.saketText{
	position: absolute;
	left: 50%;
    top: 50%;
}
.saketNumber{
	position: absolute;
	left: 55%;
    top: 56%;
}
.defenceColony{
	position: absolute;
	left: 479px;
    top: 402px;
}
.defenceColonyText{
	position: absolute;
	left: 20%;
    top: 45%;
}
.defenceColonyNumber{
	position: absolute;
	left: 30%;
    top: 52%;
}
.preetVihar{
	position: absolute;
	left:541px;
    top: 343px;
}
.preetViharText{
	position: absolute;
	left: 20%;
    top: 30%;
}
.preetViharNumber{
	position: absolute;
	left: 25%;
    top: 40%;
}
.shahdara{
	position: absolute;
	left: 542px;
    top: 265px;
}
.shahdaraText{
	position: absolute;
	left: 35%;
    top: 40%;
}
.shahdaraNumber{
	position: absolute;
	left: 50%;
    top: 53%;
}
.centralDaryaganj{
	position: absolute;
	left: 439px;
    top: 159px;
}
.centralDaryaganjText{
	position: absolute;
	left:10%;
    top: 70%;
}
.centralDaryaganjNumber{
	position: absolute;
	left: 50%;
    top: 77%;
}
.rajouriGarden{
	position: absolute;
	left: 173px;
    top: 280px;
}
.rajouriGardenText{
	position: absolute;
	left: 40%;
    top: 40%;
}
.rajouriGardenNumber{
	position: absolute;
	left: 50%;
    top: 50%;
}
.kanjhwala{
	position: absolute;
	left:164px;
    top: 120px;
}
.kanjhwalaText{
	position: absolute;
	left: 30%;
    top: 50%;
}
.kanjhwalaNumber{
	position: absolute;
	left: 35%;
    top: 57%;
}
.northNarela{
	position: absolute;
	left: 183px;
    top: 30px;
}
.northNarelaText{
	position: absolute;
	left: 45%;
    top: 40%;
}
.northNarelaNumber{
	position: absolute;
	left: 50%;
    top: 45%;
}
.northEastSeelampur{
	position: absolute;
	left: 488px;
    top: 158px;
}
.northEastSeelampurText{
	position: absolute;
	left: 45%;
    top: 45%;
}
.northEastSeelampurNumber{
	position: absolute;
	left: 50%;
    top: 53%;
}

