@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.mapTextLabel{
    font-size: 10px;
    font-family: 'Montserrat-Regular';
    color: var(--main-txt-color);
}

.mapCountLabel{
    font-size: 11px;
    font-family: 'Montserrat-Regular';
    color: var(--main-txt-color);
}

.classHover:hover .mapTextLabel{
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    z-index: 1;
}

.classHover:hover .mapCountLabel{
    font-size: 16px;
    font-family: 'Montserrat-Bold';
}
.garhwa{
	position: absolute;
	left: 10px;
	top:250px;
}
.garhwaText{
    position: absolute;
    top: 30%;
    left: 25%;
}
.garhwaNumber{
    position: absolute;
    top: 40%;
    left: 30%;
}
.palamu{
	position: absolute;
	left: 87px;
    top: 231px;
}
.palamuText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.palamuNumber{
    position: absolute;
    top: 50%;
    left: 35%;
}
.chatra{
	position: absolute;
	left: 190px;
    top: 249px;
}
.chatraText{
    position: absolute;
    top: 30%;
    left: 30%;
}
.chatraNumber{
    position: absolute;
    top: 40%;
    left: 35%;
}
.hazaribag{
	position: absolute;
	left: 285px;
    top: 248px;
}
.hazaribagText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.hazaribagNumber{
    position: absolute;
    top: 50%;
    left: 35%;
}
.koderma{
	position: absolute;
	left: 332px;
    top: 197px;
}
.kodermaText{
    position: absolute;
    top: 55%;
    left: 28%;
}
.kodermaNumber{
    position: absolute;
    top: 70%;
    left: 30%;
}
.giridin{
	position: absolute;
	left: 389px;
    top: 203px;
}
.giridinText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.giridinNumber{
    position: absolute;
    top: 50%;
    left: 35%;
}
.deoghar{
	position: absolute;
    left: 515px;
    top: 228px;
}
.deogharText{
    position: absolute;
    top: 40%;
    left: 25%;
}
.deogharNumber{
    position: absolute;
    top: 55%;
    left: 30%;
}
.dumka{
	position: absolute;
    left: 586px;
    top: 221px;
}
.dumkaText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.dumkaNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.godda{
	position: absolute;
    left: 614px;
    top: 119px;
}
.goddaText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.goddaNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.pakur{
	position: absolute;
    left: 666px;
    top: 190px;
}
.pakurText{
    position: absolute;
    top: 30%;
    left: 30%;
}
.pakurNumber{
    position: absolute;
    top: 45%;
    left: 40%;
}
.sahibganj{
	position: absolute;
    left: 678px;
    top: 99px;
}
.sahibganjText{
    position: absolute;
    top: 40%;
    left: 20%;
}
.sahibganjNumber{
    position: absolute;
    top: 55%;
    left: 30%;
}
.jamtara{
	position: absolute;
    left: 521px;
    top: 310px;
}
.jamtaraText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.jamtaraNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.dhanbad{
	position: absolute;
    left: 461px;
    top: 332px;
}
.dhanbadText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.dhanbadNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.bokaro{
	position: absolute;
    left: 377px;
    top: 347px;
}
.bokaroText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.bokaroNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.ramgarh{
	position: absolute;
    left: 316px;
    top: 353px;
}
.ramgarhText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.ramgarhNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.ranchi{
	position: absolute;
    left: 262px;
    top: 394px;
}
.ranchiText{
    position: absolute;
    top: 30%;
    left: 30%;
}
.ranchiNumber{
    position: absolute;
    top: 40%;
    left: 35%;
}
.saraikelaKharsawan{
	position: absolute;
    left: 368px;
    top: 486px;
}
.saraikelaKharsawanText{
    position: absolute;
    top: 40%;
    left: 18%;
}
.saraikelaKharsawanNumber{
    position: absolute;
    top: 50%;
    left: 40%;
}
.eastSinghbhum{
	position: absolute;
    left: 455px;
    top: 516px;
}
.eastSinghbhumText{
    position: absolute;
    top: 40%;
    left: 20%;
}
.eastSinghbhumNumber{
    position: absolute;
    top: 50%;
    left: 35%;
}
.westSinghbhum{
	position: absolute;
    left: 284px;
    top: 543px;
}
.westSinghbhumText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.westSinghbhumNumber{
    position: absolute;
    top: 50%;
    left: 35%;
}
.simdega{
	position: absolute;
    left: 122px;
    top: 551px;
}
.simdegaText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.simdegaNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.khunti{
	position: absolute;
    left: 271px;
    top: 475px;
}
.khuntiText{
    position: absolute;
    top: 30%;
    left: 30%;
}
.khuntiNumber{
    position: absolute;
    top: 40%;
    left: 35%;
}
.gumla{
	position: absolute;
    left: 125px;
    top: 415px;
}
.gumlaText{
    position: absolute;
    top:50%;
    left: 40%;
}
.gumlaNumber{
    position: absolute;
    top: 60%;
    left: 45%;
}
.lohardaga{
	position: absolute;
    left: 182px;
    top: 404px;
}
.lohardagaText{
    position: absolute;
    top: 40%;
    left: 30%;
}
.lohardagaNumber{
    position: absolute;
    top: 55%;
    left: 35%;
}
.latehar{
	position: absolute;
    left: 114px;
    top: 337px;
}
.lateharText{
    position: absolute;
    top: 30%;
    left: 30%;
}
.lateharNumber{
    position: absolute;
    top: 40%;
    left: 35%;
}
