.sirsa{
	position: absolute;
	top: 180px;
	left: 30px;
}
.sirsaText{
	position: absolute;
	top: 40%;
    left: 45%;
}
.sirsaNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}

.fatehabad{
	position: absolute;
	top: 217px;
    left: 153px;
}
.fatehabadText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.fatehabadNumber{
	position: absolute;
	top: 40%;
    left: 33%;
}

.jind{
	position: absolute;
    top: 217px;
    left: 276px;
}
.jindText{
	position: absolute;
	top: 50%;
    left: 45%;
}
.jindNumber{
	position: absolute;
	top: 60%;
    left: 40%;
}

.kaithal{
	position: absolute;
    top: 157px;
    left: 312px;
}
.kaithalText{
	position: absolute;
	top: 50%;
    left: 25%;
}
.kaithalNumber{
	position: absolute;
	top: 60%;
    left: 33%;
}

.kurukshetra{
	position: absolute;
    top: 147px;
    left: 361px;
}
.kurukshetraText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.kurukshetraNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}

.ambala{
	position: absolute;
    top: 83px;
    left: 387px;
}
.ambalaText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.ambalaNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}

.panchkula{
	position: absolute;
    top: 32px;
    left: 414px;
}
.panchkulaText{
	position: absolute;
	top: 40%;
    left: 25%;
}
.panchkulaNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}

.yamunanagar{
	position: absolute;
    top: 108px;
    left: 462px;
}
.yamunanagarText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.yamunanagarNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}

.karnal{
	position: absolute;
    top: 198px;
    left: 367px;
}
.karnalText{
	position: absolute;
	top: 40%;
    left: 45%;
}
.karnalNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}

.panipat{
	position: absolute;
    top: 283px;
    left: 390px;
}
.panipatText{
	position: absolute;
	top: 30%;
    left: 35%;
}
.panipatNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}

.sonipat{
	    position: absolute;
    top: 316px;
    left: 360px;
}
.sonipatText{
	position: absolute;
	top: 30%;
    left: 35%;
}
.sonipatNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}

.rohtak{
	position: absolute;
    top: 351px;
    left: 317px;
}
.rohtakText{
	position: absolute;
	top: 30%;
    left: 35%;
}
.rohtakNumber{
	position: absolute;
	top: 50%;
    left: 43%;
}

.bhiwani{
	position: absolute;
   top: 353px;
    left: 193px;
}
.bhiwaniText{
	position: absolute;
	top: 40%;
    left: 35%;
}
.bhiwaniNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}

.hisar{
	position: absolute;
	top: 256px;
    left: 160px;
}

.hisarText{
	position: absolute;
	top: 40%;
    left: 45%;
}
.hisarNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}

.mahendragarh{
	position: absolute;
    top: 462px;
    left: 256px;
}

.mahendragarhText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.mahendragarhNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}

.rewari{
	position: absolute;
   	top: 458px;
    left: 325px;
}

.rewariText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.rewariNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}

.jhajjar{
	position: absolute;
    top: 400px;
    left: 332px;
}

.jhajjarText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.jhajjarNumber{
	position: absolute;
	top: 50%;
    left: 43%;
}

.gurgaon{
	position: absolute;
   top: 454px;
    left: 389px;
}

.gurgaonText{
	position: absolute;
	top: 10%;
    left: 35%;
}
.gurgaonNumber{
	position: absolute;
	top: 35%;
    left: 43%;
}

.mewat{
	position: absolute;
    top: 490px;
    left: 417px;
}

.mewatText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.mewatNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}

.faridabad{
	position: absolute;
    top: 462px;
    left: 473px;
}

.faridabadText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.faridabadNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}

.palwal{
	position: absolute;
    top: 528px;
    left: 475px;
}
.palwalText{
	position: absolute;
	top: 20%;
    left: 30%;
}
.palwalNumber{
	position: absolute;
	top: 55%;
    left: 43%;
}