
.jammuAndKashmir{
	position: absolute;
	top: 100px;
	left: 20px;
}
.jammuAndKashmirText{
	position: absolute;
	top: 45%;
	left: 45%;
}
.jammuAndKashmirNumber{
	position: absolute;
	top: 50%;
	left: 45%;
}
.ladakh{
	position: absolute;
	top: 203px;
    left: 329px;
}
.ladakhText{
	position: absolute;
	top: 45%;
	left: 45%;
}
.ladakhNumber{
	position: absolute;
	top: 50%;
	left: 45%;
}
