
.jammuAndKashmir{
	position: absolute;
	top: 100px;
    left: 100px;
}
.jammuAndKashmirText{
	position: absolute;
	top: 45%;
	left: 45%;
}
.jammuAndKashmirNumber{
	position: absolute;
	top: 50%;
	left: 45%;
}
