.tuipang{
	position: absolute;
	left: 400px;
	top: 800px;
}
.lawngtlai{
	position: absolute;
	left: 242px;
    top: 829px;
}
.lunglei{
	position: absolute;
	left: 173px;
    top: 551px;
}
.searchhip{
	position: absolute;
	left: 302px;
    top: 446px;
}
.aizawl{
	position: absolute;
	left: 272px;
    top: 79px;
}
.mamit{
	position: absolute;
	left: 123px;
    top: 166px;
}
.champhai{
	position: absolute;
	left: 401px;
    top: 213px;
}
.kolasib{
	position: absolute;
	left: 215px;
    top: 47px;
}
