
.kachchh{
	position: absolute;
	left: 31px;
	top:  90px;
}
.kachchhText{
	position: absolute;
	top: 45%;
	left:45%;
}
.kachchhNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.banasKantha{
	position: absolute;
	left: 437px;
    top: 85px;
}
.banasKanthaText{
	position: absolute;
	top: 35%;
	left:25%;
}
.banasKanthaNumber{
	position: absolute;
	top: 50%;
	left:30%;
}
.patan{
	position: absolute;
	left: 408px;
    top: 164px;
}
.patanText{
	position: absolute;
	top: 45%;
	left:45%;
}
.patanNumber{
	position: absolute;
	top: 60%;
	left:40%;
}
.mahesana{
	position: absolute;
	left: 527px;
    top: 169px;
}
.mahesanaText{
	position: absolute;
	top: 45%;
	left:30%;
}
.mahesanaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.sabarkantha{
	position: absolute;
	left: 628px;
    top: 116px;
}
.sabarkanthaText{
	position: absolute;
	top: 40%;
	left:30%;
}
.sabarkanthaNumber{
	position: absolute;
	top: 50%;
	left:40%;
}
.arvalli{
	position: absolute;
	left: 660px;
    top: 196px;
}
.arvalliText{
	position: absolute;
	top: 45%;
	left:45%;
}
.arvalliNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.gandhinagar{
	position: absolute;
	left: 580px;
    top: 246px;
}
.gandhinagarText{
	position: absolute;
	top: 45%;
	left:15%;
}
.gandhinagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.ahmedabad{
	position: absolute;
	left: 513px;
    top: 255px;
}
.ahmedabadText{
	position: absolute;
	top: 45%;
	left:25%;
}
.ahmedabadNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.surendraNagar{
	position: absolute;
	left: 402px;
    top: 254px;
}
.surendraNagarText{
	position: absolute;
	top: 45%;
	left:30%;
}
.surendraNagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.morbi{
	position: absolute;
	left: 327px;
    top: 298px;
}
.morbiText{
	position: absolute;
	top: 45%;
	left:45%;
}
.morbiNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.jamnagar{
	position: absolute;
	left: 236px;
    top: 332px;
}
.jamnagarText{
	position: absolute;
	top: 45%;
	left:30%;
}
.jamnagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.devbhumiDwarka{
	position: absolute;
	left: 133px;
    top: 392px;
}
.devbhumiDwarkaText{
	position: absolute;
	top: 45%;
	left:20%;
}
.devbhumiDwarkaNumber{
	position: absolute;
	top: 60%;
	left:40%;
}
.porbandar{
	position: absolute;
	left: 187px;
    top: 472px;
}
.porbandarText{
	position: absolute;
	top: 35%;
	left:35%;
}
.porbandarNumber{
	position: absolute;
	top: 50%;
	left:45%;
}
.rajkot{
	position: absolute;
	left: 276px;
    top: 384px;
}
.rajkotText{
	position: absolute;
	top: 45%;
	left:45%;
}
.rajkotNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.botad{
	position: absolute;
	left: 453px;
    top: 413px;
}
.botadText{
	position: absolute;
	top: 25%;
	left:45%;
}
.botadNumber{
	position: absolute;
	top: 35%;
	left:40%;
}
.bhavnagar{
	position: absolute;
	left: 467px;
    top: 452px;
}
.bhavnagarText{
	position: absolute;
	top: 45%;
	left:30%;
}
.bhavnagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.amreli{
	position: absolute;
	left: 367px;
    top: 464px;
}
.amreliText{
	position: absolute;
	top: 45%;
	left:45%;
}
.amreliNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.junagadh{
	position: absolute;
	left: 264px;
    top: 512px;
}
.junagadhText{
	position: absolute;
	top: 35%;
	left:35%;
}
.junagadhNumber{
	position: absolute;
	top: 50%;
	left:40%;
}
.girSomnath{
	position: absolute;
	left: 300px;
    top: 584px;
}
.girSomnathText{
	position: absolute;
	top: 45%;
	left:45%;
}
.girSomnathNumber{
	position: absolute;
	top: 65%;
	left:50%;
}
.mahisagar{
	position: absolute;
	left: 695px;
    top: 261px;
}
.mahisagarText{
	position: absolute;
	top: 45%;
	left:45%;
}
.mahisagarNumber{
	position: absolute;
	top: 35%;
	left:35%;
}
.kheda{
	position: absolute;
	left: 598px;
    top: 299px;
}
.khedaText{
	position: absolute;
	top: 45%;
	left:45%;
}
.khedaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.anand{
	position: absolute;
	left: 576px;
    top: 365px;
}
.anandText{
	position: absolute;
	top: 45%;
	left:45%;
}
.anandNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.bharuch{
	position: absolute;
	left: 596px;
    top: 431px;
}
.bharuchText{
	position: absolute;
	top: 45%;
	left:30%;
}
.bharuchNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.vadodara{
	position: absolute;
	left: 648px;
    top: 354px;
}
.vadodaraText{
	position: absolute;
	top: 45%;
	left:45%;
}
.vadodaraNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.panchMahals{
	position: absolute;
	left: 712px;
    top: 311px;
}
.panchMahalsText{
	position: absolute;
	top: 40%;
	left:10%;
}
.panchMahalsNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.dahod{
	position: absolute;
	left: 770px;
    top: 276px;
}
.dahodText{
	position: absolute;
	top: 45%;
	left:35%;
}
.dahodNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.chhotaUdaipur{
	position: absolute;
	left: 728px;
    top: 384px;
}
.chhotaUdaipurText{
	position: absolute;
	top: 45%;
	left:5%;
}
.chhotaUdaipurNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.narmada{
	position: absolute;
	left: 705px;
    top: 456px;
}
.narmadaText{
	position: absolute;
	top: 45%;
	left:30%;
}
.narmadaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.surat{
	position: absolute;
	left: 616px;
    top: 529px;
}
.suratText{
	position: absolute;
	top: 30%;
	left:30%;
}
.suratNumber{
	position: absolute;
	top: 45%;
	left:30%;
}
.tapi{
	position: absolute;
	left: 692px;
    top: 527px;
}
.tapiText{
	position: absolute;
	top: 45%;
	left:20%;
}
.tapiNumber{
	position: absolute;
	top: 55%;
	left:15%;
}
.theDangs{
	position: absolute;
	left: 729px;
    top: 607px;
}
.theDangsText{
	position: absolute;
	top: 35%;
	left:15%;
}
.theDangsNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.navsari{
	position: absolute;
	left: 630px;
    top: 599px;
}
.navsariText{
	position: absolute;
	top: 45%;
	left:40%;
}
.navsariNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.valsad{
	position: absolute;
	left: 633px;
    top: 642px;
}
.valsadText{
	position: absolute;
	top: 35%;
	left:40%;
}
.valsadNumber{
	position: absolute;
	top: 45%;
	left:40%;
}
