
.kachchh{
	position: absolute;
	left: 1px;
	top:  50px;
}
.kachchhText{
	position: absolute;
	top: 45%;
	left:45%;
}
.kachchhNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.banasKantha{
	position: absolute;
	left: 407px;
    top: 45px;
}
.banasKanthaText{
	position: absolute;
	top: 45%;
	left:45%;
}
.banasKanthaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.patan{
	position: absolute;
	left: 378px;
    top: 124px;
}
.patanText{
	position: absolute;
	top: 45%;
	left:45%;
}
.patanNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.mahesana{
	position: absolute;
	left: 497px;
    top: 129px;
}
.mahesanaText{
	position: absolute;
	top: 45%;
	left:45%;
}
.mahesanaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.sabarkantha{
	position: absolute;
	left: 598px;
    top: 76px;
}
.sabarkanthaText{
	position: absolute;
	top: 45%;
	left:45%;
}
.sabarkanthaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.arvalli{
	position: absolute;
	left: 630px;
    top: 156px;
}
.arvalliText{
	position: absolute;
	top: 45%;
	left:45%;
}
.arvalliNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.gandhinagar{
	position: absolute;
	left: 550px;
    top: 206px;
}
.gandhinagarText{
	position: absolute;
	top: 45%;
	left:45%;
}
.gandhinagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.ahmedabad{
	position: absolute;
	left: 483px;
    top: 215px;
}
.ahmedabadText{
	position: absolute;
	top: 45%;
	left:45%;
}
.ahmedabadNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.surendraNagar{
	position: absolute;
	left: 372px;
    top: 214px;
}
.surendraNagarText{
	position: absolute;
	top: 45%;
	left:45%;
}
.surendraNagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.morbi{
	position: absolute;
	left: 297px;
    top: 258px;
}
.morbiText{
	position: absolute;
	top: 45%;
	left:45%;
}
.morbiNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.jamnagar{
	position: absolute;
	left: 206px;
    top: 292px;
}
.jamnagarText{
	position: absolute;
	top: 45%;
	left:45%;
}
.jamnagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.devbhumiDwarka{
	position: absolute;
	left: 103px;
    top: 352px;
}
.devbhumiDwarkaText{
	position: absolute;
	top: 45%;
	left:45%;
}
.devbhumiDwarkaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.porbandar{
	position: absolute;
	left: 157px;
    top: 432px;
}
.porbandarText{
	position: absolute;
	top: 45%;
	left:45%;
}
.porbandarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.rajkot{
	position: absolute;
	left: 246px;
    top: 344px;
}
.rajkotText{
	position: absolute;
	top: 45%;
	left:45%;
}
.rajkotNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.botad{
	position: absolute;
	left: 423px;
    top: 373px;
}
.botadText{
	position: absolute;
	top: 45%;
	left:45%;
}
.botadNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.bhavnagar{
	position: absolute;
	left: 437px;
    top: 412px;
}
.bhavnagarText{
	position: absolute;
	top: 45%;
	left:45%;
}
.bhavnagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.amreli{
	position: absolute;
	left: 337px;
    top: 424px;
}
.amreliText{
	position: absolute;
	top: 45%;
	left:45%;
}
.amreliNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.junagadh{
	position: absolute;
	left: 234px;
    top: 472px;
}
.junagadhText{
	position: absolute;
	top: 45%;
	left:45%;
}
.junagadhNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.girSomnath{
	position: absolute;
	left: 270px;
    top: 544px;
}
.girSomnathText{
	position: absolute;
	top: 45%;
	left:45%;
}
.girSomnathNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.mahisagar{
	position: absolute;
	left: 665px;
    top: 221px;
}
.mahisagarText{
	position: absolute;
	top: 45%;
	left:45%;
}
.mahisagarNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.kheda{
	position: absolute;
	left: 568px;
    top: 259px;
}
.khedaText{
	position: absolute;
	top: 45%;
	left:45%;
}
.khedaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.anand{
	position: absolute;
	left: 546px;
    top: 325px;
}
.anandText{
	position: absolute;
	top: 45%;
	left:45%;
}
.anandNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.bharuch{
	position: absolute;
	left: 566px;
    top: 391px;
}
.bharuchText{
	position: absolute;
	top: 45%;
	left:45%;
}
.bharuchNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.vadodara{
	position: absolute;
	left: 618px;
    top: 314px;
}
.vadodaraText{
	position: absolute;
	top: 45%;
	left:45%;
}
.vadodaraNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.panchMahals{
	position: absolute;
	left: 682px;
    top: 271px;
}
.panchMahalsText{
	position: absolute;
	top: 45%;
	left:45%;
}
.panchMahalsNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.dahod{
	position: absolute;
	left: 740px;
    top: 236px;
}
.dahodText{
	position: absolute;
	top: 45%;
	left:45%;
}
.dahodNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.chhotaUdaipur{
	position: absolute;
	left: 698px;
    top: 344px;
}
.chhotaUdaipurText{
	position: absolute;
	top: 45%;
	left:45%;
}
.chhotaUdaipurNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.narmada{
	position: absolute;
	left: 675px;
    top: 416px;
}
.narmadaText{
	position: absolute;
	top: 45%;
	left:45%;
}
.narmadaNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.surat{
	position: absolute;
	left: 586px;
    top: 489px;
}
.suratText{
	position: absolute;
	top: 45%;
	left:45%;
}
.suratNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.tapi{
	position: absolute;
	left: 662px;
    top: 487px;
}
.tapiText{
	position: absolute;
	top: 45%;
	left:45%;
}
.tapiNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.theDangs{
	position: absolute;
	left: 699px;
    top: 567px;
}
.theDangsText{
	position: absolute;
	top: 45%;
	left:40%;
}
.theDangsNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.navsari{
	position: absolute;
	left: 600px;
    top: 559px;
}
.navsariText{
	position: absolute;
	top: 45%;
	left:40%;
}
.navsariNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
.valsad{
	position: absolute;
	left: 603px;
    top: 602px;
}
.valsadText{
	position: absolute;
	top: 45%;
	left:40%;
}
.valsadNumber{
	position: absolute;
	top: 55%;
	left:40%;
}
