.north_sikkim{
	position: absolute;
    top: 30px;
    left: 75px;
}
.north_sikkimText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.north_sikkimNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}

.west_sikkim{
	position: absolute;
    top: 333px;
    left: 33px;
}
.west_sikkimText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.west_sikkimNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}

.east_sikkim{
	position: absolute;
    top: 432px;
    left: 251px;
}
.east_sikkimText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.east_sikkimNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}

.south_sikkim{
	position: absolute;
    top: 374px;
    left: 163px;
}
.south_sikkimText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.south_sikkimNumber{
	position: absolute;
	top: 50%;
    left: 35%;
}