.labelformSmall{
	font-size: 10px;
    font-weight: 500;
    padding: 0;
    letter-spacing: 1px;
}
.rc-time-picker-input{
	height: 34px !important;
    border-radius: 0px !important; 
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
	border: 1px solid #ccc !important;
}
.smallInput{
	display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.noLeftPadding{
	padding-left: 0px !important;
}
.noRightPadding{
    padding-right: 0px !important;
}

/*Toggle Button*/

#toggleWay{
    width: 70%;
    padding: 8px 18px;
    border-radius: 15px;
    background:#eee;
    transition: all .4s ease;    
}
.toggleon { 
    border:1px outset;
    text-align: right;
    border-left-width: 50px;
    border-left-color: #367ea8;
}
.toggleoff {
    border:1px outset;
    text-align: left;
    border-right-width: 50px;
    /*border-right-color: #367ea8;*/
}
.leftInputIcon{
    border-left: 1px solid #cccccc !important;
    border-right: 0 !important;
}

.col1{
  width: 110px !important;
  white-space: pre-wrap!important;
}
.col2{
  width: 90px !important;
}
.col3{
  white-space: pre-wrap!important;
  width: 150px !important;
}
.col4,.col5,.col7{
  width: 60px !important;
}
.col11, .col9, .col8{
  width: 75px !important;
}
.col15, .col14{
  width: 82px !important;
}
.col16{
  width: 62px !important;
} 
 .col6, .col12, .col10, .col19, .col20{
  width: 80px !important;
}
.col13, .col14, .col15, .col17, .col18{
  width: 62px !important;
}
.scrollContent {
  display: block;
  height: 350px;
  overflow: auto;
  width: 100%;
}

.fixedHeader{
  display: table;
  overflow: auto;
  width: 100%
}