body{
 
 background-color: var(--main-bg-color )!important;
}

.confirmOTPWrapper{
	min-height: 500px;
    height: auto;
    background-color:#242931;
 	padding-bottom: 100px;
 	margin-top: 20px;
}

.confirmOTP{
	height: auto;
	min-height: 400px;
	margin-top: 115px;
	background-color: #242931;
	border:3px solid #D3950A !important;
	border-radius: 10px;
	padding-bottom: 70px;
}

.confirmOTPTitle{
	height: 140px;
	color: #D3950A;
	font-size:20px;
	text-align: center;
	padding-top: 40px;
	margin-top: 40px;
}

.confirmOTPHr{
	width:80%;
	
	border-top: 1px solid #D3950A;
}

.confirmOTPSentence{
	text-align: center;
	color: #aaa;
	height: 50px;
	line-height: 1.8;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-size: 13px;
}

.confirmOTPInputIcon1{
	font-size: 14px;
	border: 1px solid #D3950A !important;
	background-color: transparent !important;
	color: #eee;
}

.confirmOTPInputBox{
  width: 20%;
  height: 35px;
  text-align:center;
  padding-left: 10px;
  border: 1px solid #D3950A !important;
  background-color: transparent !important;
  color: #fff;
  float: left;

}

.confirmOTPInputBox:focus{
	border-color: #D3950A;
	box-shadow: 0px 1px 1px rgba(211, 149, 10, 0.075) inset, 0px 0px 8px rgba(211, 149, 10, 0.5)  !important;
}

.buttonConfirmOTP{
	background-color: #D3950A;
	color: #fff;
	border: 1px solid #D3950A !important;
	margin-bottom: 2px;
}

.buttonConfirmOTP:hover{
	background-color: transparent;
	color: #D3950A;
	border: 2px solid #D3950A !important;
	font-weight: bold;
	margin-bottom: 0px;
}

.confirmOTPLinks{
	
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	color: #aaa;
	/*background-color: pink;*/
}


.confirmOTPSignIn{
	color: #aaa !important;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
	
	
}

.confirmOTPSignIn:hover{
	color: #fff!important;
	font-size: 15px;
}

.img1LoginFP{
	position: absolute;
	height: 200px;
	width: 125px;
	top:0px;
	left:55%;
	z-index: 1;
}

.img1oginInnerFP{
	height: 200px;
	width: 125px;

	
}


.img2LoginFP{
	position: absolute;
	height: 300px;
	width: 180px;
	bottom: 70px;
	left:23%;
	z-index: 1;

	
}

.img2loginInnerFP{
	height: 300px;
	width: 180px;
}




.img3LoginFP{
	position: absolute;
	height: 290px;
	width: 110px;
	bottom: 75px;
	left:61.5%;
	z-index: 1;
	
}

.img3loginInnerFP{
	height: 290px;
	width: 110px;
}



.img4LoginFP{
	position: absolute;
	height: 100px;
	width: 50px;
	
	bottom: 65px;
    left: 38%;
	z-index: 1;
}

.img4loginInnerFP{
	height: 100px;
	width: 50px;
}

.img5LoginFP{
	position: absolute;
	height: 135px;
	width: 125px;
	bottom: 100px;
    left: 65%;
	z-index: 0;
}

.img5loginInnerFP{
	height: 135px;
	width: 125px;
}

.img6LoginFP{
	position: absolute;
	height: 80px;
	width: 60px;
	top: 130px;
    left: 29.6%;
	z-index: 0;
}

.img6loginInnerFP{
	height: 80px;
	width: 60px;
}

.input-group  .roundCorner{
	border-bottom-right-radius: 5px !important;
    border-top-right-radius:  5px !important;
    border-bottom-left-radius:  5px !important;
    border-top-left-radius: 5px !important;
}
.otpBox{
	width: 18%;
	margin-left: 3.5%;
	margin-right: 3.5%;
	float: left;

}

.buttonWrapper{
	margin-top: 20px;
}
.signUpBoxOtpForm{
	margin-top:30px;
}
.buttonOtpWrapper{
	margin-top:20px;
}