.forgotPasswordWrapper{
	min-height: 650px;
	height: auto;
	background-color:#242931;
}

.forgotPassword{
	height: 350px;
	margin-top: 150px;
	background-color: #242931;
	border:3px solid #D3950A !important;
	border-radius: 10px;
}

.forgotPasswordTitle{
	height: 80px;
	color: #D3950A;
	font-size:20px;
	text-align: center;
	padding-top: 40px;
}

.forgotPasswordHr{
	width:92%;
	
	border-top: 1px solid #D3950A;
}

.forgotPasswordSentence{
	text-align: center;
	color: #aaa;
	height: 60px;
	line-height: 1.8;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.forgotPasswordInputIcon1{
	font-size: 14px;
	border: 1px solid #D3950A !important; 
	background-color: transparent !important;
	color: #eee;
}

.forgotPasswordInputBox{
  
  text-align:left;
  padding-left: 10px;
  border: 1px solid #D3950A !important;
  background-color: transparent !important;
  color: #fff;

}

.forgotPasswordInputBox:focus{
	border-color: #D3950A;
	box-shadow: 0px 1px 1px rgba(211, 149, 10, 0.075) inset, 0px 0px 8px rgba(211, 149, 10, 0.5)  !important;
}

.buttonSendOTP{
	background-color: #D3950A;
	color: #fff;
	border: 1px solid #D3950A;
	margin-bottom: 2px;
}

.buttonSendOTP:hover{
	background-color: transparent;
	color: #D3950A;
	border: 2px solid #D3950A !important;
	font-weight: bold;
	margin-bottom: 0px;
}

.forgotPasswordLinks{
	text-align: center;
	margin-top: 20px;
	height: 30px;
	/*background-color: pink;*/
}


.forgotPasswordSignIn{
	color: #aaa !important;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
	
	
}

.forgotPasswordSignIn:hover{
	color: #fff!important;
	font-size: 15px;
}