
.signUpBoxWrapper1{
    min-height: 560px;


}
.signUpBoxTitle{
    font-family: "Montserrat-Bold",Sans-Serif;
    font-size: 22px;
    font-weight: bold;
    color: var(--main-border-color);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.registrationInputBox{
    font-size: 13px !important;
    font-family: 'Montserrat-Regular',Sans-Serif!important;
    color:#999!important;
}
.signUpBoxFormWrapper{
	margin-top: 5px;
}

/*.signUpBoxForm{
	margin-top: 20px;
}*/

.buttonNext {
    height: 28px;
   
    background-color:var(--main-bg-color);
    border: 1px solid var(--main-border-color)!important;
    border-radius: 5px;
    font-family: 'Montserrat-Medium',Sans-Serif;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*transition: all 2s;*/
    color: #ccc;
}
.buttonNext:hover{
	color: #eee;
	cursor: pointer;
	background-color: var(--main-border-color);
}
.inputBox{
	text-transform:capitalize!important;
}
.inputBox1{
    text-transform: none!important;
}
.signUpBoxForm .input-group{
    width: 100%;

}
.
.signUpBoxForm .react-tel-input .selected-flag {
    width: 44px!important;
}
 
.registrationLinks1{
  text-align: left;
  margin-top: 20px;
  height: 30px;
  float: left;
  /*background-color: pink;*/;

}

 .form-control{
     /* border-bottom-right-radius: 5px !important;
    border-top-right-radius:  5px !important;
  border-bottom-left-radius:  5px !important;
    border-top-left-radius: 5px !important;*/
}

/************Images*************/


.img1EmpSignUp{
    position: absolute;
    height: 200px;
    width: 125px;
    top:-115px;
    left:55%;
    z-index: 1;
}

.img1oginInner{
    height: 200px;
    width: 125px;

    
}


.img2EmpSignUp{
    position: absolute;
    height: 300px;
    width: 180px;
    bottom: -20px;
    left: -34%;
    z-index: 1;

    
}

.img2EmpSignUpInner{
    height: 300px;
    width: 180px;
}




.img3EmpSignUp{
    position: absolute;
    height: 290px;
    width: 110px;
    bottom:-10px;
    left:86%;
    z-index: 1;
    
}

.img3EmpSignUpInner{
    height: 290px;
    width: 110px;
}



.img4EmpSignUp{
    position: absolute;
    height: 100px;
    width: 50px; 
   bottom: -35px;
    left: 20%;
    z-index: 1;
}

.img4EmpSignUpInner{
    height: 100px;
    width: 50px;
}

.img5EmpSignUp{
    position: absolute;
    height: 135px;
    width: 125px;
    bottom: 10px;
    left: 100%;
    z-index: 0;
}

.img5EmpSignUpInner{
    height: 135px;
    width: 125px;
}

.img6EmpSignUp{
    position: absolute;
    height: 80px;
    width: 60px;
    top: 130px;
    left: -14.6%;
    z-index: 0;
}

.img6EmpSignUpInner{
    height: 80px;
    width: 60px;
}
