.successWrapper{
	height: 430px;
	background-color: var(--form-field-background-color);
	border:1px solid var(--main-border-color);
	border-radius: 7px;
	color: #fff;
	margin-top: 50px;
}
.successHeader{
	height: 70px;
	background-color: var(--main-border-color);
	border-radius-top-left: 6px;
}
.successTitle{
	color: var(--main-heading-font-color);
    font-family: 'Montserrat-Bold',Sans-Serif;
    font-weight: 600;
    font-size: 25px;
    text-align:center;
    margin-top: 50px;

}
.successSubTitle{
	font-family: 'Montserrat-SemiBold',Sans-Serif;
	 text-align:center;
	 margin-bottom: 10px;
	  letter-spacing: 1px;
}
.successPointTitle{
	font-family: 'Montserrat-Regular',Sans-Serif;
 	font-size: 12px;
 	margin-top: 5px;
}
.buttonWrapperSuccess{
	margin-top: 10px;
	
}
.headerCircle{
	height: 80px;
	width: 80px;
	position: absolute;
	border-radius: 50%;
	background-color: var(--form-field-background-color);
	border:2px solid var(--main-border-color);
	margin-left: 50%;
	transform: translateX(-50%);
	top: -38px;
	font-size: 40px;
	padding-top: 10px;
	
}
.headerCircleIcon{
	margin-left: 25%;
	margin-top: 30px;
}