.uttarkashi{
	position: absolute;
    top: 30px;
    left:72px;
}
.uttarkashiText{
	position: absolute;
	top: 50%;
    left: 40%;
}
.uttarkashiNumber{
	position: absolute;
	top: 55%;
    left: 37%;
}

.dehradun{
	position: absolute;
    top: 154px;
    left: 30px;
}
.dehradunText{
	position: absolute;
	top: 50%;
    left: 30%;
}
.dehradunNumber{
	position: absolute;
	top: 58%;
    left: 40%;
}

.haridwar{
	position: absolute;
    top: 337px;
    left: 58px;
}
.haridwarText{
	position: absolute;
	top: 50%;
    left: 30%;
}
.haridwarNumber{
	position: absolute;
	top: 58%;
    left: 40%;
}

.tehri_garhwal{
	position: absolute;
    top: 177px;
    left: 108px;
}
.tehri_garhwalText{
	position: absolute;
	top: 55%;
    left: 40%;
}
.tehri_garhwalNumber{
	position: absolute;
	top: 63%;
    left: 45%;
}

.rudraprayag{
	position: absolute;
    top: 196px;
    left: 302px;
}
.rudraprayagText{
	position: absolute;
	top: 40%;
    left: 10%;
}
.rudraprayagNumber{
	position: absolute;
	top: 50%;
    left: 30%;
}

.chamoli{
	position: absolute;
    top: 129px;
    left: 353px;
}
.chamoliText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.chamoliNumber{
	position: absolute;
	top: 45%;
    left: 40%;
}

.pithoragarh{
	position: absolute;
    top: 188px;
    left: 518px;
}
.pithoragarhText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.pithoragarhNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}

.bageshwar{
	position: absolute;
    top: 318px;
    left: 440px;
}
.bageshwarText{
	position: absolute;
	top: 50%;
    left: 40%;
}
.bageshwarNumber{
	position: absolute;
	top: 60%;
    left: 50%;
}

.pauri_garhwal{
	position: absolute;
    top: 334px;
    left: 160px;
}
.pauri_garhwalText{
	position: absolute;
	top: 50%;
    left: 40%;
}
.pauri_garhwalNumber{
	position: absolute;
	top: 60%;
    left: 50%;
}

.almora{
	position: absolute;
    top: 396px;
    left: 346px;
}
.almoraText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.almoraNumber{
	position: absolute;
	top: 50%;
    left: 30%;
}

.nainital{
	position: absolute;
    top: 500px;
    left: 304px;
}
.nainitalText{
	position: absolute;
	top: 40%;
    left: 45%;
}
.nainitalNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}

.champawat{
	position: absolute;
    top: 518px;
    left: 516px;
}
.champawatText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.champawatNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}

.udham_singh_nagar{
	position: absolute;
    top: 554px;
    left: 280px;
}
.udham_singh_nagarText{
	position: absolute;
	top: 45%;
    left: 25%;
}
.udham_singh_nagarNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}

