
.kangra{
	position: absolute;
	left: 32px;
	top: 230px;
}
.kangraText{
	position: absolute;
	left: 50%;
	top: 45%;
}
.kangraNumber{
	position: absolute;
	left: 50%;
	top: 55%;
}
.chamba{
	position: absolute;
	left: 85px;
    top: 40px;
}
.chambaText{
	position: absolute;
	left: 30%;
	top: 45%;
}
.chambaNumber{
	position: absolute;
	left: 30%;
	top: 50%;
}
.keylong{
	position: absolute;
	left: 206px;
    top: 30px;
}
.keylongText{
	position: absolute;
	left: 50%;
	top: 40%;
}
.keylongNumber{
	position: absolute;
	left: 50%;
	top: 45%;
}
.kullu{
	position: absolute;
	left: 326px;
    top: 247px;
}
.kulluText{
	position: absolute;
	left: 50%;
	top: 40%;
}
.kulluNumber{
	position: absolute;
	left: 50%;
	top: 45%;
}
.mandi{
	position: absolute;
	left: 254px;
    top: 332px;
}
.mandiText{
	position: absolute;
	left: 40%;
	top: 40%;
}
.mandiNumber{
	position: absolute;
	left: 40%;
	top: 45%;
}
.Hamirpur{
	position: absolute;
	left: 186px;
    top: 376px;
}
.HamirpurText{
	position: absolute;
	left: 30%;
	top: 40%;
}
.HamirpurNumber{
	position: absolute;
	left: 40%;
	top: 50%;
}
.una{
	position: absolute;
	left: 104px;
    top: 382px;
}
.unaText{
	position: absolute;
	left: 50%;
	top: 40%;
}
.unaNumber{
	position: absolute;
	left: 50%;
	top: 50%;
}
.Bilaspur{
	position: absolute;
	left: 201px;
    top: 452px;
}
.BilaspurText{
	position: absolute;
	left: 45%;
	top: 45%;
}
.BilaspurNumber{
	position: absolute;
	left: 45%;
	top: 60%;
}
.solan{
	position: absolute;
	left: 244px;
    top: 513px;
}
.solanText{
	position: absolute;
	left: 40%;
	top: 40%;
}
.solanNumber{
	position: absolute;
	left: 40%;
	top: 50%;
}
.shimla{
	position: absolute;
	left: 328px;
    top: 426px;
}
.shimlaText{
	position: absolute;
	left: 50%;
	top: 45%;
}
.shimlaNumber{
	position: absolute;
	left: 50%;
	top: 52%;
}
.kinnaur{
	position: absolute;
	left: 499px;
    top: 335px;
}
.kinnaurText{
	position: absolute;
	left: 50%;
	top: 40%;
}
.kinnaurNumber{
	position: absolute;
	left: 50%;
	top: 47%;
}
.sirmaur{
	position: absolute;
	left: 333px;
    top: 600px;
}
.sirmaurText{
	position: absolute;
	left: 50%;
	top: 50%;
}
.sirmaurNumber{
	position: absolute;
	left: 50%;
	top: 60%;
}
