@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.mapTextLabel{
	font-size: 10px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}

.mapCountLabel{
	font-size: 11px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
}

.classHover:hover .mapTextLabel{
	font-size: 12px;
	font-family: 'Montserrat-Bold';
	z-index: 1;
}

.classHover:hover .mapCountLabel{
	font-size: 16px;
	font-family: 'Montserrat-Bold';
}
.kasaragod{
	position: absolute;
	left: 10px;
	top: 10px;
}
.kasaragodText{
	position: absolute;
	top: 35%;
    left: 30%;
}
.kasaragodNumber{
	position: absolute;
	top: 43%;
    left: 40%;
}
.kannur{
	position: absolute;
	left: 65px;
    top: 101px;
}
.kannurText{
	position: absolute;
	top: 25%;
    left: 30%;
}
.kannurNumber{
	position: absolute;
	top: 35%;
    left: 34%;
}
.wayand{
	position: absolute;
	left: 177px;
    top: 160px;
}
.wayandText{
	position: absolute;
	top: 30%;
    left: 30%;
}
.wayandNumber{
	position: absolute;
	top: 42%;
    left: 34%;
}
.kozhikode{
	position: absolute;
	left: 133px;
    top: 195px;
}
.kozhikodeText{
	position: absolute;
	top: 28%;
    left: 20%;
}
.kozhikodeNumber{
	position: absolute;
	top: 40%;
    left: 34%;
}
.malappuram{
	position: absolute;
	left: 186px;
    top: 250px;
}
.malappuramText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.malappuramNumber{
	position: absolute;
	top: 43%;
    left: 34%;
}
.palakkad{
	position: absolute;
	left: 225px;
    top: 300px;
}
.palakkadText{
	position: absolute;
	top: 23%;
    left: 40%;
}
.palakkadNumber{
	position: absolute;
	top: 33%;
    left: 45%;
}
.thrissur{
	position: absolute;
	left: 213px;
    top: 388px;
}
.thrissurText{
	position: absolute;
	top: 30%;
    left: 20%;
}
.thrissurNumber{
	position: absolute;
	top: 40%;
    left: 25%;
}
.ernakulam{
	position: absolute;
	left: 253px;
    top: 479px;
}
.ernakulamText{
	position: absolute;
	top: 30%;
    left: 30%;
}
.ernakulamNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.idukki{
	position: absolute;
	left: 336px;
    top: 466px;
}
.idukkiText{
	position: absolute;
	top: 30%;
    left: 35%;
}
.idukkiNumber{
	position: absolute;
	top: 38%;
    left: 40%;
}
.kottayam{
	position: absolute;
	left: 289px;
    top: 557px;
}
.kottayamText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.kottayamNumber{
	position: absolute;
	top: 45%;
    left: 34%;
}
.alappuzha{
	position: absolute;
	left: 270px;
    top: 554px;
}
.alappuzhaText{
	position: absolute;
	top: 50%;
    left: 10%;
}
.alappuzhaNumber{
	position: absolute;
	top: 60%;
    left: 20%;
}
.pathanamthitta{
	position: absolute;
    left: 308px;
    top: 630px;
}
.pathanamthittaText{
	position: absolute;
    top: 30%;
    left: 30%;
}
.pathanamthittaNumber{
	position: absolute;
    top: 45%;
    left: 40%;
}
.kollam{
	position: absolute;
	left: 310px;
    top: 691px;
}
.kollamText{
	position: absolute;
	top: 30%;
    left: 40%;
}
.kollamNumber{
	position: absolute;
	top: 43%;
    left: 45%;
}
.thiruvanthapuram{
	position: absolute;
	left: 340px;
    top: 748px;
}
.thiruvanthapuramText{
	position: absolute;
	top: 30%;
    left: 20%;
}
.thiruvanthapuramNumber{
	position: absolute;
	top: 40%;
    left: 35%;
}
