:root {
  --main-bg-color: #242931;
  --main-txt-color: #ffffff;
  --main-border-color: #D3950A;
  --main-heading-font-color: #D3950A;
  --main-subheading-font-color: #D3950A;
  --yellow-button-color: #FAAD00;
}
