
.northTripura{
	position: absolute;
	left: 736px;
	top:  0px;
}
.northTripuraText{
	position: absolute;
	top: 48%;
    left: 43%;
}
.northTripuraNumber{
	position: absolute;
	top: 51%;
    left: 50%;
}
.unakoti{
	position: absolute;
	left: 642px;
    top: 95px;
}
.unakotiText{
	position: absolute;
	top: 45%;
    left: 35%;
}
.unakotiNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.dhalai{
	position: absolute;
	left: 548px;
    top: 195px;
}
.dhalaiText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.dhalaiNumber{
	position: absolute;
	top: 38%;
    left: 40%;
}
.khowai{
	position: absolute;
	left: 396px;
    top: 207px;
}
.khowaiText{
	position: absolute;
	top: 50%;
    left: 50%;
}
.khowaiNumber{
	position: absolute;
	top: 55%;
    left: 55%;
}
.westTripura{
	position: absolute;
	left: 253px;
    top: 289px;
}
.westTripuraText{
	position: absolute;
	top: 45%;
    left: 40%;
}
.westTripuraNumber{
	position: absolute;
	top: 52%;
    left: 45%;
}
.gomati{
	position: absolute;
	left: 351px;
    top: 506px;
}
.gomatiText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.gomatiNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.sepahijala{
	position: absolute;
	left: 213px;
    top: 495px;
}
.sepahijalaText{
	position: absolute;
	top: 35%;
    left: 25%;
}
.sepahijalaNumber{
	position: absolute;
	top: 40%;
    left: 30%;
}
.southTripura{
	position: absolute;
	left: 321px;
    top: 726px;
}
.southTripuraText{
	position: absolute;
	top: 40%;
    left: 45%;
}
.southTripuraNumber{
	position: absolute;
	top: 45%;
    left: 50%;
}
