
.mumbai{
	position: absolute;
	top: 175px;
	left: 100px;
}

.raigad{
	position: absolute;
	top: 192px;
	left: 108px;	
}

.ratnagiri{
	position: absolute;
	top: 307px;
	left: 123px;	
}
.sindhudurg{
	position: absolute;
	top: 458px;
	left: 152px;	
}
.kolhapur{
	position: absolute;
	top: 395px;
	left: 177px;	
}
.sangli{
	position: absolute;
	top: 352px;
	left: 182px;	
}
