.detailBox {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    color: #666;
}
.detailBoxImg {
    margin-top: 10px;
    height: 70px;
    background-size: 100% 100%;
}
.downloadicon{
    font-size: 16px !important;
    color: #333;
    margin: 10px !important;
}
.headerupperborder{
    border-top: 6px solid var(--waikawagrey-background);
    margin-bottom: 20px;
}
.headersubtitle{
    margin-top: 20px;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
}
.headerlogo{
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
}
.greyheaderdiv{
    -webkit-print-color-adjust: exact;
    background: #ebebeb;
    padding: 13px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 4px;
}
.headerbottomborder{
    border-top: 4px solid var(--waikawagrey-background);
    margin-bottom: 20px;
}
.companyinfo{
    background: var(--whitesmoke-color);
    padding: 8px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 4px;
    text-transform: uppercase;
}
.entityinfo{
    background: var(--whitesmoke-color);
    padding: 8px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 4px;
    text-transform: uppercase;
}
.contracttext p{
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.terminfo{
    background: var(--whitesmoke-color);
    padding: 8px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}
.packageinfo{
    background: var(--whitesmoke-color);
    padding: 8px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}
.signtitle{
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 150px;
}
.signborder{
    border-top: 2px solid  #ccc;
    margin-bottom: 20px;
}
.footerbottomborder{
    border-top: 4px solid var(--waikawagrey-background);
    margin-top: 20px;
    margin-bottom: 20px;
}
.termDiv{
    overflow: hidden;
    word-break: break-word;
}
.viewBoxImg{
    margin-top: 10px;
    height: 100px;
    background-size: 100% 100%;
}
.redColor{
    color:#f00;
}