.boxshadeOP{
    padding: 0px 0px 20px 0px;
    margin-top: 15px;
}
.OrgListTitle{
    font-size: 16px;
    font-weight: 600;
    color: #4e4e4e;
    padding: 11px 0px 5px !important;
    margin-top: 15px;
}
.customBtnCP{
    text-align: center;
    border-radius: 3px;
    padding: 10px !important;

}
.onhoverBlue:hover{
    color: var(--blue-color);
}
.customPadding{
    padding: 10px;
}
.labelformCP{
    margin-top: 5px;
    font-weight: normal !important;
}

.loadingImg img{
    margin-left: 200px;
    height: 60%;
    width: 60%;
}
.imgtabCP{
    height: 30px !important;
    width: 30px !important;
}
.editOption{
    margin-top: 15px;
}
.editOptionView{
    top: 18px;
    position: absolute;
    right: 12px;
}
.orgHead{
    margin-top: 5px;
    padding-top: 10px !important;

    
}
.orgHead label{
    font-size: 25px;
    color: var(--blue-color)
}
.orgHead span{
    font-size: 13px;
}
.orgHeadview{
    margin-top: 5px;
    padding-top: 10px !important;
    padding-bottom: 10px;
    width: 420px;
}
.orgHeadview label{
    font-size: 20px;
    color: var(--blue-color)
}
.orgHeadview span{
    font-size: 13px;
}
.blueBack{
    background-image: url("/images/orgbackground.jpg");
    background-repeat: no-repeat;
    height: 100px;
}
.companyLogoImage{
    position: absolute;
    height: 130px;
    border:1px solid #eee;
    border-radius: 5px;
    top: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 15px -4px;
}
.companyLogoImage img{
    height: 100%;
    width: 100%;
}
.companyLogoImageView{
    position: absolute;
    height: 80px;
    border:1px solid #eee;
    border-radius: 5px;
    top: 65px;
    background-color: #fff;
    box-shadow: 0px 2px 15px -4px;
}
.companyLogoImageView img{
    height: 100%;
    width: 100%;
}
.borderAllED{
    border: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom:10px;
}
.listLI li{
    padding-bottom: 3px !important;
}
.changeColor{
    color: #999;
}
.coiImage{
    height: 20px;
    border: 1px solid #aaa;
    cursor: pointer;
}
.empHeadview{
    margin-top: 5px;
    padding-top: 10px !important;
    width: 420px;
}
.empHeadview label{
    font-size: 20px;
    color: var(--blue-color)
}
.empHeadview span{
    font-size: 13px;
}
.padding20{
    padding: 30px !important;
}
.seperaterBorder{
    border-bottom: 1.5px solid #eee;
    margin:5px 0px 25px 0px; 
}
.marginLeft5{
    margin-left: 14px;
}
.marginRight5{
    margin-right: 14px;
}
.width18px{
    width: 18px;
}
.fz18{
    font-size: 15px;
}

.colorWhite{
    position: absolute;
    right: -40px;
    bottom: 10px;
    font-size: 14px;
    cursor: default;
    color: #fff;
}
.newProfile{
    background-color:#ff9b12;
    text-align: center;
    padding: 5px;
    font-size: 11px;
    color: #fff;
    cursor: default;
    border-radius: 5px;
}
.approvedProfile{
    background-color:#7cbf00;
    text-align: center;
    padding: 5px;
    font-size: 11px;
    color: #fff;
    cursor: default;
    border-radius: 5px;
}
.marginTop12 {
    margin-top: 12px;
}
