.AddressWrapper{
	min-height:0px;
	height:auto;
	border-radius:3px;
	background:var(--main);
	font-family: 'Montserrat-Medium',Sans-Serif;
}

.SearchListContainer{
	position:absolute;
	top:34px!important;
	z-index:1!important;
	background-color: var(--input-bg-color);
}
.SearchListContainer1{
	width: 235px;
}
.SearchListContainer2{
	width: 219px;
}
.addRightbtn a{
	color:var(--main-txt-color );
	text-decoration: none;
}
.addWrapper{
	height:150px;
	font-family:'Montserrat-Regular',Sans-Serif;
	margin-bottom:15px;
	margin-top:15px;
	border: 1px solid var(--main-border-color);
	border-radius: 5px;
	text-transform:capitalize;
}
.addLeftWrapper{
	height:40px;
	overflow: hidden!important;
	padding: 0px;
	border-bottom:1px solid var(--main-border-color);
	font-family:'Montserrat-Bold',Sans-Serif;
	font-size:16px;
	padding-top: 5px;
	/*text-align: center;*/
	/*color: var(--main-border-color);*/
}

.addLogoDiv{
	font-size:25px;
	padding-top: 3px;
	padding-right: 0px!important;
	padding-left: 10px!important;
}
.addLogoTextDiv{
	font-family:'Montserrat-Bold',Sans-Serif;
	font-size:15px;
	height:40px;
	padding-top: 10px;
	padding-right: 0px!important;
	padding-left: 20px!important;
}
/*.addRightWrapper{
	height:158px;
}*/
.addRightText{
	height: 100px;
    padding-top: 9px;
	font-size:12px;
	overflow: hidden!important;
	margin-bottom:5px;
	font-family: 'Montserrat-Medium',Sans-Serif;
}
.paddingAddress{
	padding-top:10px;
}
.editBtn{
	height: 25px;
	width: 70px;
	margin-top:10px;
	border:1px solid var(--main-border-color)!important;
	border-radius:4px;
	background-color:var(--main-bg-color);
	font-family: 'Montserrat-Medium',Sans-Serif;
	font-size:13px;
	transition:all 0.5s;
	text-align: center;
	padding-top:3px;
}
.dltBtn{
	height: 25px;
	width: 70px;
	margin-top:10px;
	border:1px solid var(--main-border-color)!important;
	border-radius:4px;
	background-color:var(--main-bg-color);
	font-family: 'Montserrat-Medium',Sans-Serif;
	font-size:13px;
	transition:all 0.5s;
	text-align: center;
	padding-top:3px;
}
.editBtn:hover{
	cursor: pointer;
	background-color: var(--main-border-color);
}
.dltBtn:hover{
	cursor: pointer;
	background-color: #f00;
	border:1px solid #f00!important;
}
.inputSearch{
	font-size:13.5px!important;
	border: 1px solid var(--main-border-color);
	border-top:none;
	
}

.AddressInnerWrapper{
	border-radius:4px;
	height:200px;
	overflow: hidden;
	box-shadow:0px 0px 5px var(--main-border-color );
	padding-top:15px;
	padding-bottom:15px;
	background:var(--input-bg-color);
}
.AddressBoxHead{
	font-weight:bold;
	color:var(--main-subheading-font-color);
	text-align:center;
	margin-bottom:15px;
}
.AddressBoxLeftIcon{
	color:var(--main-subheading-font-color);
}
.AddressBoxRightIcon{
	position:absolute;
	color:var(--main-subheading-font-color);
	top:0px;
	right:-5px;
	width:50px;
}
.AddressBoxRightIcon:hover{
	position:absolute;
	cursor:pointer;
}
.AddressBoxTextWrapper{
	margin-bottom:15px;
	padding-bottom:15px;
}
.rightIconHideWrapper{
	position:relative;
	height:50px;
	width:30px;
	left:5px;
	top: 12px;
	font-size:12px;
	border:1px solid var(--main-border-color );
	border-radius:4px;
	color:#fff!important;
	text-align:left;
}
.rightIconHide{
	padding-left:8px;
	padding-top:5px;
}
.rightIconHideText{
	padding-left:8px;
	font-size:10px;

}

.AddressBoxText{
	margin-top:1px;
	font-size:12px;
	font-family: 'Montserrat-Medium',Sans-Serif;
}
.AddressOuterWrapper{
	margin-top:20px;
	
}
.hoverEdit:hover{
	cursor:pointer;
	
}
.hoverEdit:hover  .rightIconHideWrapper {
	display:block!important;
}
.rightIconHide:hover{
	color:var(--main-subheading-font-color)!important;
}
.rightIconHideWrapper a{
	color:#fff;
	text-decoration: none!important;
}
.rightIconHideWrapper a:hover{
	color:var(--main-subheading-font-color)!important;
}
.SearchListContainer{
	position:absolute;
	top:50px;
}
.noData{
	font-size: 13px;
	font-family: 'Montserrat-Medium',Sans-Serif;
	padding-top: 5px;
	border-radius: 5px;
	text-align: center;
}
.editAdd {
    padding-right: 10px;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
    height: 40px;
    transition: all 0.2s;
}
.editAdd:hover{
	cursor: pointer;
	color: var(--main-border-color);
}
.deleteAdd{
	font-size: 14px;
	height: 40px;
	transition: all 0.5s;
}
.deleteAdd:hover{
	cursor: pointer;
	color: var(--red-button-color);
}
.iconAdd{
	font-size: 20px;
	height:40px;
	margin-left:-5px;
	margin-right: 5px;
	/*margin-left: -5px;
	padding-right: 5px;*/
}
.buttonAdd {
    padding-top: 3px;
}
.buttonAdd a{
	color: #fff;
}
.titleAdd{
	padding-left: 15px;
	padding-top: 5px;
	font-size: 14px;
	height: 25px;
	overflow: hidden;
}
.rightIconHideDel:hover{
	color: var(--red-button-color)!important;
}
.candidatePlaceHolderWrappper{
	width: 84%;
}
@media(min-width:992px) and (max-width:1024px){
    .candidatePlaceHolderWrappper {
        width: 77%;
    }
}
@media(min-width:768px) and (max-width:992px){
    .candidatePlaceHolderWrappper {
        width: 77%;
    }
}
@media(min-width:576px) and (max-width:768px){
   .candidatePlaceHolderWrappper {
        width: 79%;
    }
}
@media (max-width:576px){
    .candidatePlaceHolderWrappper {
        width: 84%;
    }
}