.AddressWrapper{
	min-height:0px;
	height:auto;
	border-radius:3px;
	background:var(--main);
	font-family: 'Montserrat-Medium',Sans-Serif;
}

.SearchListContainer{
	width:87%;
	position:absolute;
	top:33px!important;
	z-index:1!important;
	background-color: var(--input-bg-color);
}
.addRightbtn a{
	color:var(--main-txt-color );
	text-decoration: none;
}
.addWrapper{
	height:156px;
	font-family:'Montserrat-Regular',Sans-Serif;
	margin-bottom:25px;
	border: 3px inset var(--main-border-color);
	text-transform:capitalize;
}
.addLeftWrapper{
	background:var(--main-border-color );
	height:150px;
	text-align: center;
	overflow: hidden!important;
	padding: 0px
}
.addLogoDiv{
	font-size:45px;
	padding-top:15px;
	padding-bottom:15px;

}
.addLogoTextDiv{
	font-family:'Montserrat-Bold',Sans-Serif;
	font-size:0.8em;
}
.addRightWrapper{
	height:150px;
	background-color: var(--input-bg-color );

}
.addRightText{
	height:100px;
	padding-top:5px;
	font-size:12px;
	overflow: hidden!important;
	margin-bottom:5px;
}
.paddingAddress{
	padding-top:15px;
}
.editBtn{
	height: 25px;
	width: 70px;
	margin-top:10px;
	border:1px solid var(--main-border-color)!important;
	border-radius:4px;
	background-color:var(--main-bg-color);
	font-family: 'Montserrat-Medium',Sans-Serif;
	font-size:13px;
	transition:all 0.5s;
	text-align: center;
	padding-top:3px;
}
.dltBtn{
	height: 25px;
	width: 70px;
	margin-top:10px;
	border:1px solid var(--main-border-color)!important;
	border-radius:4px;
	background-color:var(--main-bg-color);
	font-family: 'Montserrat-Medium',Sans-Serif;
	font-size:13px;
	transition:all 0.5s;
	text-align: center;
	padding-top:3px;
}
.editBtn:hover{
	cursor: pointer;
	background-color: var(--main-border-color);
}
.dltBtn:hover{
	cursor: pointer;
	background-color: #f00;
	border:1px solid #f00!important;
}
.inputSearch{
	font-size:13.5px!important;
	border: 1px solid var(--main-border-color);
	border-top:none;
	
}

.AddressInnerWrapper{
	border-radius:4px;
	height:200px;
	overflow: hidden;
	box-shadow:0px 0px 5px var(--main-border-color );
	padding-top:15px;
	padding-bottom:15px;
	background:var(--input-bg-color);
}
.AddressBoxHead{
	font-weight:bold;
	color:var(--main-subheading-font-color);
	text-align:center;
	margin-bottom:15px;
}
.AddressBoxLeftIcon{
	color:var(--main-subheading-font-color);
}
.AddressBoxRightIcon{
	position:absolute;
	color:var(--main-subheading-font-color);
	top:0px;
	right:-30px;
	width:100px;
}
.AddressBoxRightIcon:hover{
	position:absolute;
	cursor:pointer;
}
.AddressBoxTextWrapper{
	margin-bottom:15px;
	padding-bottom:15px;
}
.rightIconHideWrapper{
	position:relative;
	height:55px;
	width:80px;
	left:-5px;
	font-size:12px;
	box-shadow:0px 0px 5px var(--main-border-color );
	border-radius:4px;
	display:none;
	color:#fff!important;
	text-align:left;
}
.rightIconHide{
	padding-left:10px;
	padding-top:7px;
}
.rightIconHideText{
	padding-left:8px;
	font-size:10px;

}

.AddressBoxText{
	margin-top:5px;
	padding-left:15px;
	font-size:12px;
	font-family: 'Montserrat-Medium',Sans-Serif;
}
.AddressOuterWrapper{
	margin-top:20px;
	
}
.hoverEdit:hover{
	cursor:pointer;
	
}
.hoverEdit:hover  .rightIconHideWrapper {
	display:block!important;
}
.rightIconHide:hover{
	color:var(--main-subheading-font-color)!important;
}
.rightIconHideWrapper a{
	color:#fff;
	text-decoration: none!important;
}
.rightIconHideWrapper a:hover{
	color:var(--main-subheading-font-color)!important;
}
.SearchListContainer{
	position:absolute;
	top:50px;
}