.tawang{
	position: absolute;
	top: 375px;
	left: 20px;
}
.tawangText{
    position: absolute;
    top: 375px;
    left: 20px;
}
.westKameng{
    position: absolute;
    top: 189px;
    left: 40px;
}
.eastKameng{
    position: absolute;
    top: 355px;
    left: 134px;
}
.kurungKumey{
    position: absolute;
    top: 325px;
    left: 161px;
}
.papumPare{
    position: absolute;
    top: 400px;
    left: 234px;
}
.papumPare{
    position: absolute;
    top: 400px;
    left: 234px;
}
.lowerSubansiri{
    position: absolute;
    top: 349px;
    left: 270px;
}
.upperSubansiri{
    position: absolute;
    top: 247px;
    left: 223px;
}
.kraDaadi{
    position: absolute;
    top: 297px;
    left: 182px;
}
.upperSubansiri{
    position: absolute;
    top: 247px;
    left: 222px;
}
.westSiang{
    position: absolute;
    top: 192px;
    left: 315px;
}
.yingkiong{
    position: absolute;
    top: 151px;
    left: 344px;
}
.eastSiang{
    position: absolute;
    top: 259px;
    left: 416px;
}
.dibangValley{
    position: absolute;
    top: 123px;
    left: 476px;
}
.lowerDibangValley{
    position: absolute;
    top: 252px;
    left: 490px;
}
.lohit{
    position: absolute;
    top: 267px;
    left: 552px;
}
.anjaw{
    position: absolute;
    top: 260px;
    left: 612px;
}
.changlang{
    position: absolute;
    top: 370px;
    left: 540px;
}
.namsai{
    position: absolute;
    top: 363px;
    left: 552px;
}
.khonsa{
    position: absolute;
    top: 435px;
    left: 508px;
}
.langding{
    position: absolute;
    top: 456px;
    left: 486px;
}

