.jobListWrapper{
	min-height: 700px;
	height: auto;
	color: var(--main-txt-color);
	background-color: var(--main-bg-color);
}

.JobListWrapperMain{
	background-color: var(--main-bg-color);
	padding-bottom: 30px;
}

.appliedJobListContainer{
	height: 280px;
	margin-top: 30px;
	border-radius: 10px;
	background-color: var(--form-field-background-color);
	border: 1px solid var(--main-border-color);
}

.appliedJobListContainer .jobListLeftContent{
	height: 240px;
	margin-top: 20px;
	border-right: 1px solid var(--main-border-color);
}

.jobListLeftContent .iconsBar{
	margin-top: -5px;
}

.jobListLeftContent .iconsBar ul{
	list-style: none;
	height: 29px;
	margin: 0px;
	padding: 0px;
	padding-top: 2px;	
	float: left;
	margin-bottom: 10px;
}

.jobListLeftContent .iconsBar ul li{
	float: left;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-right: 25px;
}
 
.appliedListSubFont{
	font-size: 13px;
}
.jobListLeftContent .iconsBar i{
	color: var(--main-border-color);
	font-size: 20px;
	height: 20px;
}

.jobListLeftContent .infoLog{
	padding: 6px 10px;
	height: 29px;
	border-radius: 3px;
	font-size: 11px;
	margin-top: -5px;
	font-weight: 500;
	border: 1px solid var(--main-border-color);
	color: var(--main-border-color);
	background-color: var(--form-field-background-color);
}

.jobListDesignation{
	font-size: 22px;
	color: var(--main-border-color);
	margin-top: 3px;
	margin-left: -5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.jobListCompanyName{
	margin-top: 7px;
	font-size: 15px;
	margin-left: -5px;
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.jobListExperience{
	font-size: 14px !important;
	margin-left: -5px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListMonSal{
	font-size: 10px !important; 
	border: 1px solid #D3950A;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 13px;
	margin-left: -8px;
	color: var(--main-border-color);
}

.jobListLocation{
	font-size: 16px !important;
	padding: 3px 5px;
	border-radius: 50%;
	margin-top: 9px;
	margin-left: -9px;
	color: var(--main-border-color);
}

.joblistLocationInfo{
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
  	overflow: hidden !important;
  	margin-left: -10px; 
}

.jobListNumPositions{
	font-size: 13px !important;
	margin-left: -6px;
	margin-top: 13px;
	color: var(--main-border-color);
}

.jobListRightContent{
	height: 220px;
	margin-top: 18px;
}

.jobProfileVerticleIcons i{
	color: var(--main-border-color);
}

.jobProfileVerticleIcons{
	cursor: pointer;
}

.jobProfileVerticleIcons ul{
	list-style: none;	
	padding: 0;
}

.jobProfileVerticleIcons ul li:nth-child(1){
	padding-right: 17px;
	padding-left: 3px; 
	border-radius: 3px;
	margin-left: -2px;
	margin-top: 6px;
	font-size: 20px;
}

.jobProfileVerticleIcons ul li:nth-child(2){
	padding-right: 16px;
	padding-left: 3px; 
	border-radius: 3px;
	margin-left: -3px;
	margin-top: 20px;
	font-size: 19px;
}

.jobProfileVerticleIcons ul li:nth-child(3){
	padding-right: 16px;
	border-radius: 3px;
	margin-top: 12px;
	font-size: 20px;	
}

.listEditBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 10px;
	margin-left: 20px;
}

.listViewBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 18px;
}

.listDelBtn i{
	color: var(--main-border-color);
	font-size: 21px;
	margin-top: 15px;
	margin-left: 20px;
	cursor: pointer;
}

/*******************Search Tab********************/

.jobListSearchTab{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);
}

.searchTabAddOn{
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-border-color);
	color: var(--main-txt-color);	
}

.searchMainTab{
	margin-top: 32px;
	margin-left: -20px;
	margin-right: 20px;
}
@media(min-width:992px) and (max-width:1024px){
  .jobListLeftContent .iconsBar ul li {
		margin-right: 17px;
	}
}
@media(min-width:768px) and (max-width:992px){
	.jobListLeftContent .iconsBar ul li {
		margin-right: 15px;
	}

}
@media(min-width:576px) and (max-width:768px){
	.jobListLeftContent .iconsBar i{
 		font-size: 13px;
 	}
 	.jobListLeftContent .infoLog {
	    padding: 6px 3px;
	}
	.jobListLeftContent .iconsBar ul li {
		margin-right: 12px;
	}
}
@media (max-width:576px){
 	.jobListLeftContent .iconsBar i{
 		font-size: 14px;
 	}
 	.jobListLeftContent .infoLog {
	    padding: 6px 3px;
	}
	.jobListLeftContent .iconsBar ul li {
		margin-right: 15px;
	}
}