@font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}





.loginFormOuter{
	min-height: 500px;
    height: auto;
  /*background-color:#242931;*/
}

.loginFormInner{
	height: auto;
	min-height: 295px;
	margin-top: 100px;
	background-color: #242931;
	border:3px solid #D3950A !important;
	border-radius: 10px;
}

.signInTitle{
	height: 70px;
	color: #D3950A;
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
	font-family: 'Montserrat-Bold';
}

.loginSocialMedia{
	height: 50px;
	width: 100%;	
	float: left;
	margin: auto;
}

.loginSocialMediaInner{
	height: 50px;
	width: 28%;	
	
	margin: auto;
}

.loginLinkedIn{
	height: 38px;
	width: 40px;
	margin: 6px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	border: 1px solid #D3950A !important;
	border-radius: 5px;
	float: left;
	background-color: transparent;
}

.loginLinkedIn:hover{
	height: 42px;
	width: 44px;
	margin: 4px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	border: 1px solid #D3950A !important;
	border-radius: 5px;
	float: left;
	background-color: #D3950A;
}


.loginGoogle{
	height: 38px;
	width: 40px;
	margin: 6px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	border: 1px solid #D3950A !important;
	border-radius: 5px;
	float: left;
	background-color: transparent;
}

.loginGoogle:hover{
	height: 42px;
	width: 44px;
	margin: 5px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	border: 1px solid #D3950A !important;
	border-radius: 5px;
	float: left;
	background-color: #D3950A;
}

.loginOr{
	width: 100%;
	height: 30px;
	margin-bottom: 20px;	
}

.loginHr{
	width:47%;
	float: left;
	border-top: 1px solid #D3950A;
}

.loginOrText{
	width: 6%;
	float: left;
	text-align: center;
	color: #eee;
	height: 20px;
	padding-top: 10px;
	font-family: 'Montserrat-Regular';
}

.loginInputBox{
  
  text-align:left;
  padding-left: 10px;
  border: 1px solid #D3950A !important;
  background-color: #242933 !important;
  color: #fff ;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  letter-spacing: 1px;
  height: 34px;

}

.loginInputBox:focus{
	border-color: #D3950A;
	box-shadow: 0px 1px 1px rgba(211, 149, 10, 0.075) inset, 0px 0px 8px rgba(211, 149, 10, 0.5)  !important;
}

.loginInputIcon1{
	font-size: 20px;
	border: 1px solid #D3950A !important;
	background-color: transparent !important;
	color: #eee;
}

.loginInputIcon2{
	font-size: 18px;
	border: 1px solid #D3950A !important;
	background-color: transparent !important;
	color: #eee;
	padding: 5px 13px 5px 13px;
	/*border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;*/
}

.loginInputIcon3{
	font-size: 18px;
	border: 1px solid #D3950A !important;
	/*border-left: none !important;*/
	background-color: transparent !important;
	color: #eee;
	padding: 5px 10px 5px 10px;
	z-index: 100;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

input-group.loginPwdField{
	border-radius: 4px !important;
}

.loginformGroup{
	margin-top: 50px !important;
}

.buttonSignIn{
	background-color: #D3950A;
	color: #fff;
	border: 1px solid #D3950A !important;
	margin-bottom: 2px;
	font-size: 11px;
	font-family: 'Montserrat-Bold';
	/*margin-right: -79px;*/
}

.buttonSignIn:hover{
	background-color: transparent;
	color: #D3950A;
	border: 2px solid #D3950A !important;
	font-weight: bold;
	margin-bottom: 0px;
}



.loginLinks{
	margin-top: 20px;
	height: 30px;
	margin-bottom: 30px;
}

.loginSignUp1{
	height: 50px !important;
	margin-top: -35px !important;
	margin-bottom: -11px !important;
	color: #ccc !important;
	text-align: center !important;
	font-size: 10px;
	font-family: 'Montserrat-Regular';
	float: center;
}
.loginSignUp{
	height: 50px !important;;
	margin-top: 25px !important;;
	margin-bottom: 40px !important;;
	color: #ccc !important;
	text-align: center !important;
	font-size: 10px;
	font-family: 'Montserrat-Regular';
	float: center;
	cursor: pointer;
}

.loginSignUp:hover{
	color: #ccc!important;
	/*font-size: 14px;*/
}

.loginForgotPassword{
	color: #ccc !important;
	/*text-align: right;*/
	font-size: 9px;
	margin-top: 6px;
	font-family: 'Montserrat-Regular';
	float: left;
}

.loginForgotPassword:hover{
	color: #fff!important;
	
}

.img1Login{
	position: absolute;
	height: 200px;
	top: 31px;
	right: 77px;
	z-index: 1;
}

.img1oginInner{
	height: 125px;
}

.img2Login{
	position: absolute;
	height: 300px;
	bottom: -49px;
	left: 2%;
	z-index: 1;
	display: none;
}

.img2loginInner{
	height: 174px;
}

.img3Login{
	position: absolute;
	height: 290px;
	bottom: -37px;
	left: 68.1%;
	z-index: 1;
	display: none;
}

.img3loginInner{
	height: 170px;
}

.img4Login{
	position: absolute;
	height: 100px;
	bottom: 43px;
    left: 35%;
	z-index: 1;
	display: none;
}

.img4loginInner{
	height: 100px;
}

.img5Login{
	position: absolute;
	height: 135px;
	bottom: 47px;
    left: 79%;
	z-index: 0;
	display: none;
}

.img5loginInner{
	height: 48px;
}

.img6Login{
	position: absolute;
	height: 80px;
	top: 132px;
    left: 32px;
	z-index: 0;
	display: none;
}

.img6loginInner{
	height: 60px;
}


.errorMsg{
	color: #f00;
	font-family: 'Montserrat-Regular';
	font-size: 11px;
}

.modal-content{
	background-color:#242931 !important;
}

.closebtnmodal{
	position: absolute;
	right: 14px;
	font-size: 30px !important;
}

/*.modal-body{
	background: none !important; 
}*/

.OTPSentWrapper{
	min-height: 536px;
	z-index: 900 !important;
	height: auto;
	background-color:#242931 !important;
	margin-top: 30px;
}

.OTPSentLoginWrapper{
	/*padding-top: 80px;*/
}

.OTPSent{
	height: 250px;
	margin-top: 150px;
	background-color: #242931;
	border:3px solid #D3950A;
	border-radius: 10px;
}

.OTPSentTitle{
	height: 80px;
	color: #D3950A;
	font-size:20px;
	text-align: center;
	padding-top: 40px;
}

.OTPSentHr{
	width:92%;
	border-top: 1px solid #D3950A;
}

.OTPSentSentence{
	text-align: center;
	color: #aaa;
	height: 60px;
	line-height: 1.8;
	letter-spacing: 1px;
	margin-top: 10px;
}

.buttonOTPSent{
	background-color: #D3950A;
	color: #fff;
	border: 1px solid #D3950A;
	margin-bottom: 2px;
}

.buttonOTPSent:hover{
	background-color: transparent;
	color: #D3950A;
	border: 2px solid #D3950A;
	font-weight: bold;
	margin-bottom: 0px;
}

.form-group{
	margin-bottom: 24px;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #242931 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill
{
 -webkit-text-fill-color: #efefef !important;
}


.forgotpwdLabel{
	margin-left: -15px;
}


/* NNNNNNNNNNNNNNNNNNNNNNNNN ++  Start Media Query  ++ NNNNNNNNNNNNNNNNNNNNNNNNN */

@media(min-width:1920px) and (max-width:2560px){

.img1Login {
    right: 118px;
    top: -15px;
    right: 423px;
}

.img1oginInner {
    height: 204px;
}

.img2Login{
	display: block;
    bottom: 556px;
    left: 15.6%;
}

.img2loginInner {
    height: 309px;
}

.img3Login{
	display: block;
    bottom: 572px;
    left: 69.6%;
}

.img3loginInner {
    height: 309px;
}

.img4Login{
	display: block;
    bottom: 562px;
    left: 35%;
}

.img4loginInner {
    height: 168px;
}

.img5Login{
	display: block;
    bottom: 590px;
    left: 74.7%;
}

.img5loginInner {
    height: 96px;
}

.img6Login{
	display: block;
	top: 132px;
    left: 246px;
}

.img6loginInner {
    height: 129px;
}

.loginFormWrapper{
	min-height: 1138px !important;
	margin-top: 430px;
}

.loginFormInner{
	min-height: 450px;
	margin-top: 100px;
}

.signInTitle {
    margin-top: 69px;
}

.loginSignUp1 {
    margin-bottom: 10px !important;
}

.loginForgotPassword{
	font-size: 10px;
}

.errorMsg {
    font-size: 10px;
}

}	

@media(min-width:1536px) and (max-width:1919px){

.img1Login {
    right: 118px;
    top: 15px;
    right: 254px;
}

.img1oginInner {
    height: 153px;
}

.img2Login{
	display: block;
    bottom: 112px;
    left: 13.3%;
}

.img2loginInner {
    height: 240px;
}

.img3Login{
	display: block;
    bottom: 126px;
    left: 67.7%;
}

.img3loginInner {
    height: 240px;
}

.img4Login{
	display: block;
    bottom: 149px;
    left: 35%;
}

.img4loginInner {
    height: 104px;
}

.img5Login{
	display: block;
    bottom: 175px;
    left: 72.7%;
}

.img5loginInner {
    height: 95px;
}

.img6Login{
	display: block;
	top: 132px;
    left: 144px;
}

.img6loginInner {
    height: 93px;
}

.loginFormWrapper{
	min-height: 670px !important;
	margin-top: 60px;
}

.loginFormInner{
	min-height: 370px;
	margin-top: 100px;
}

.signInTitle {
    margin-top: 37px;
}

.loginSignUp1 {
    margin-bottom: 10px !important;
}

.loginForgotPassword{
	font-size: 10px;
}

.errorMsg {
    font-size: 10px;
}	

}

@media(min-width:1366px) and (max-width:1535px){

.img1Login {
    right: 118px;
    top: 15px;
    right: 226px;
}

.img1oginInner {
    height: 153px;
}

.img2Login{
	display: block;
    bottom: 99px;
    left: 12.2%;
}

.img2loginInner {
    height: 240px;
}

.img3Login{
	display: block;
    bottom: 111px;
    left: 66.9%;
}

.img3loginInner {
    height: 240px;
}

.img4Login{
	display: block;
    bottom: 138px;
    left: 35%;
}

.img4loginInner {
    height: 104px;
}

.img5Login{
	display: block;
    bottom: 161px;
    left: 72.7%;
}

.img5loginInner {
    height: 95px;
}

.img6Login{
	display: block;
	top: 132px;
    left: 121px;
}

.img6loginInner {
    height: 93px;
}

.loginFormWrapper{
	min-height: 656px !important;
	margin-top: 80px;
}

.loginFormInner{
	min-height: 370px;
	margin-top: 100px;
}

.signInTitle {
    margin-top: 43px;
}

.loginSignUp1 {
    margin-bottom: -3px !important;
}

.loginForgotPassword {
    font-size: 8px;
}	

}

@media(min-width:1024px) and (max-width:1365px){

.img1Login {
    right: 181px;
}

.loginFormWrapper{
	min-height: 666px !important;
	margin-top: 70px;
}

.loginFormInner{
	min-height: 370px;
	margin-top: 100px;
}

.signInTitle {
    margin-top: 37px;
}

.loginSignUp1 {
    margin-bottom: 30px !important;
}	

}

@media(min-width:993px) and (max-width:1023px){

.img1Login {
    right: 185px;
}

.loginFormWrapper{
	min-height: 595px !important;
	margin-top: 140px;
}		

}

@media(min-width:851px) and (max-width:992px){

/*.img1Login {
    right: 172px;
}*/

.img1Login {
    right: 155px;
}

.loginFormWrapper{
	min-height: 100px !important;
	margin-top: 0px;
}	

.loginFormInner{
	min-height: 295px;
	margin-top: 100px;
}	


}

@media(min-width:812px) and (max-width:850px){

.img1Login {
    right: 141px;
}

.loginFormWrapper{
	min-height: 100px !important;
	margin-top: 0px;
}		


}

@media(min-width:768px) and (max-width:811px){

.img1Login {
    right: 141px;
}

.loginFormWrapper{
	min-height: 770px !important;
	margin-top: 220px;
}

.loginFormInner{
	min-height: 348px;
	margin-top: 100px;
}

.signInTitle {
    margin-top: 37px;
}

.loginSignUp1 {
    margin-bottom: 30px !important;
}			

}

@media(min-width:576px) and (max-width:767px){

.img1Login {
    right: 160px;
}

}

@media (max-width:576px){

.loginFormWrapper{
	min-height: 588px !important;
	margin-top: 20px;
}

}

@media (max-width:480px){

.loginFormWrapper{
	min-height: 585px !important;
	margin-top: 50px;
}

	
}

@media (max-width:415px){

.loginFormWrapper{
	min-height: 624px !important;
	margin-top: 80px;
}
	
}

@media (max-width:394px){

.loginFormWrapper{
	min-height: 668px !important;
	margin-top: 150px;
}
	
}

@media (max-width:376px){

.loginFormWrapper{
	min-height: 580px !important;
	margin-top: 55px;
}
	
}

@media (max-width:360px){

.loginFormWrapper{
	min-height: 578px !important;
	margin-top: 30px;
}
	
}

@media (max-width:320px){

.loginFormWrapper{
	min-height: 400px !important;
	margin-top: 0px;
}

.loginForgotPassword{
	font-size: 10px;
	margin-top: 1px;
}

}

/*ipad pro*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait){

.loginFormWrapper{
	min-height: 964px !important;
	margin-top: 370px;
}


}

/*iPhone x*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

.loginFormWrapper{
	min-height: 630px !important;
	height: auto;
	margin-top: 150px;
}

}