@font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.resetPasswordWrapper{
	min-height: 300px;
	height: auto;
	background-color:transparent;
}

.resetPassword{
	height: auto;
	min-height: 300px;
	margin-top: 50px;
	background-color: #242931;
	border:3px solid #D3950A !important;
	border-radius: 10px;
	padding-bottom: 50px;
}

.resetPasswordTitle{
	height: 80px;
	color: #D3950A;
	font-size:20px;
	text-align: center;
	padding-top: 40px;
	font-family: 'Montserrat-Bold';
	/*background-color: pink;*/
}

.resetPasswordHr{
	width:92%;
	
	border-top: 1px solid #D3950A !important;
}

.resetPasswordInputBox{
  
  text-align:left;
  padding-left: 10px;
  border: 1px solid #D3950A !important;
  background-color: transparent !important;
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat-Regular';


}

.resetPasswordInputBox:focus{
	border-color: #D3950A !important;
	box-shadow: 0px 1px 1px rgba(211, 149, 10, 0.075) inset, 0px 0px 8px rgba(211, 149, 10, 0.5)  !important;
}


.resetPasswordInputIcon{
	font-size: 20px;
	border: 1px solid #D3950A !important;
	background-color: transparent !important;
	color: #eee;
}


.resetPasswordInputIcon1{
	font-size: 14px;
	 border: 1px solid #D3950A !important;
	background-color: transparent !important;
	color: #eee;
}
.buttonResetPassword{
	background-color: #D3950A;
	color: #fff;
	border: 1px solid #D3950A;
	margin-bottom: 2px;
	font-size: 16px;
	font-family: 'Montserrat-Bold';
}

.buttonResetPassword:hover{
	background-color: transparent;
	color: #D3950A;
	border: 2px solid #D3950A !important;
	font-weight: bold;
	margin-bottom: 0px;
}



.errorMsg{
	color: #f00;
	font-family: 'Montserrat-Regular';
	font-size: 11px;
}