.addJobForm{
	margin-top: 100px;
	min-height: 500px;
	height: auto;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

.addJobBackgroundColor{
	background-color: var(--main-bg-color);	
}

.addJobBorderColor{
	border-color: var(--main-border-color); 
}

.addJobHeadingColor{
	color: var(--main-heading-color); 
}

.addJobWrapperBorder{
	border: 3px solid var(--main-border-color);
	border-radius: 10px;
	background-color: var(--form-field-background-color);
}

.addJobFormHeading{
	margin-top: 25px;
	font-size: 27px;
	/*font-weight: bold;*/
	color: var(--main-heading-font-color);
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.addJobFormHr{
	border-top: 1px solid var(--main-border-color);
	margin-top: 18px;
	margin-bottom: 18px;
}

.addJobMainHead{
	font-size: 21px;
	font-weight: 600;
	color: var(--main-subheading-font-color);
	/*font-family: 'Montserrat-SemiBold'; */
}

.addJobMainHead i{
	color: var(--main-txt-color);
	border: 1px solid #fff;
	padding: 1px 7px;
	font-size: 18px;
	border-radius: 6px;
}

.addJobMainHead .labelLeftPadding{
	padding-left: 39px;
	margin-top: -28px;
}

.addJobSubHead{
	font-size: 21px;
	font-weight: bold;
	color: var(--main-subheading-font-color);
	/*font-family: 'Montserrat-SemiBold';*/
	font-weight: 600;
}

.addJobSubHead i{
	color: var(--main-txt-color);
	font-size: 25px;
	margin-top: 18px;
}

.addJobSubHead .labelLeftPadding{
	padding-left: 40px;
	margin-top: -32px;
}

.addJobSubHeadSalary .labelLeftPadding{
	padding-left: 40px;
	margin-top: -30px;
}

.addJobSubHeadSkills .labelLeftPadding{
	padding-left: 40px;
	margin-top: -32px;
}

/***********************************************************Geolocation Css Properties************************************************/

.location-search-input{
	padding: 0 !important;
	padding-left: 10px !important;
	background-color: var(--form-field-background-color);
	border: none;
	height: 30px;
	margin-top: -5px;
	margin-left: -12px;
	width: 102%;
}

.autocomplete-dropdown-container{
  margin-top: 1px;
  border-left: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: var(--form-field-background-color);
  margin-left: -12px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /*border: 1px solid var(--main-border-color);*/
}

.location-search-input,
.location-search-input:focus,
.location-search-input:active {
  outline: none;
}

.addJobFixzIndex{
	z-index: 1;
}

.addJobState{
	border-radius: 4px !important;
}

/*********************************************************End Of Geolocation Css Properties******************************************/

.jobDesc{
	margin-top: 20px;
	padding-bottom: 6px;
	/*font-family: 'Montserrat-Regular';*/
	font-weight: 600;
}

.mainFormSection{
	border: 3px solid var(--main-border-color);
	padding-bottom: 40px;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
}

.addjobformLable{
	/*font-family: 'Montserrat-Medium';*/
	font-size: 13px; 
	font-weight: 300;
	color: var(--main-txt-color);
	letter-spacing: 1px;
}

.addJobFieldRow{
    margin-top: 15px;
}

.addJobFormField{
    border: 1px solid var(--main-border-color);
    background-color: var(--form-field-background-color);
    color: var(--main-txt-color);
}

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.input-group{
	width: 100%
}
.input-group .form-control:first-child{
	border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.addJobFieldRow .minSalaryDropdown{
	margin-left: 2px;
}

.addJobFieldRow .maxSalaryDropdown{
	margin-left: 2px;
}

.addJobFormField:hover{
	color: var(--main-txt-color);
}

.form-control:focus{
	border-color: rgba(211,149,10,0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(211, 149, 10, 0.6);
}

.addJobLocationIcon{
	font-size: 14px;
}

.addJobSubHead .salaryIcon{
	font-size: 17px;
	border: 1px solid #fff;
	border-radius: 50%;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 2px;
}

.addJobrupee{
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 1px;
	border-radius: 50%;
	border: 1px solid #fff;
}

/*********************************Custom Gender Field Properties********************************/

.addJobGenderTitle{
	/*font-family: 'Montserrat-Medium';*/
	font-size: 13px;
	font-weight: 500;
	color: var(--main-txt-color);
}

.addJobGenderFeildWrapper{
	height: 32px;
	border: 1px solid var(--main-border-color)!important;
	width: 100%;
	border-radius: 5px;
}

.addJobGenderField{
	height: 32px;
	border-radius: 5px;
	font-size: 12px;
	color: #fff;
	/*font-weight: 100 !important;*/
	font-weight: 500;
	padding-top: 8px;
	text-align:center;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: var(--input-bg-color);
}

.addJobGenderField:hover{
	cursor: pointer;
}

.addJobGenderActive{
	background-color:var(--main-border-color);
	height: 32px;
	transition: all 0.7s;
}

.buttonYellow{
	background-color: var(--yellow-button-color);
	color: #fff;
	height: 30px;
	line-height: 15px;
}

.addJobPreviewBtn{
	height: 40px;
	width: 150px;
	margin-top: 40px;
	margin-right: 30px;
	margin-left: 110px;
	color: #fff;
	font-weight: 600;
}

.addJobSubmitBtn{
	height: 40px;
	width: 150px;
	margin-top: 40px;
	font-weight: 600;
}

.addJobSubmitBtn:hover{
	background-color: var(--form-field-background-color);
	border: 1px solid var(--main-border-color);
	color: #fff;	 
	transition: all 500ms ease; 
}

.errorMsgJobPost{
	/*color: #d93025;*/
	/*color: var(--main-border-color);*/
	color: #fff;
	/*font-family: 'Montserrat-Regular';*/
	font-weight: 400;
	font-size: 13px;
}

.asterisk{
	content: "\002A";
	color: #c73030;
}

/***********************************End of Custom Gender Field Properties**************************/

/***************************************React Phone Input Properties*******************************/

.react-tel-input .form-control{
	/*width: 255px !important;*/
	border-radius: 4px !important;
	background-color: var(--form-field-background-color) !important;
	border: 1px solid var(--main-border-color) !important;
	color: var(--main-txt-color) !important;
}

.react-tel-input .flag-dropdown{
	background-color: var(--main-bg-color) !important;
	border: 1px solid var(--main-border-color) !important;
	color: #fff !important;
	z-index: 100 !important;
}

.react-tel-input .flag-dropdown:hover{
	background-color: var(--main-bg-color) !important;
}

.react-tel-input .selected-flag{
	background-color: var(--main-bg-color) !important;
	background-color: var(--form-field-background-color) !important;
}

.react-tel-input .selected-flag:hover{
	background-color: var(--main-bg-color) !important;
}

[role=button] {
	background-color: var(--main-bg-color) !important;
}

.react-tel-input .selected-flag .arrow{
    border-top: 4px solid #fff !important;
}

.react-tel-input .selected-flag .arrow.up{
	border-bottom: 0px solid #555 !important;
}

.react-tel-input .country-list{
	background-color: var(--main-bg-color) !important;
	border: 1px solid var(--main-border-color) !important;
	border-radius: 5px !important;
	margin-top: 4px !important;
}

.react-tel-input .country-list .country:hover{
	background-color: var(--main-border-color) !important;
}

.react-tel-input .country-list .country.highlight{
	background-color: var(--main-border-color) !important;
}

.react-tel-input .country-list .country .dial-code{
	color: var(--main-txt-color) !important;
}
.react-autosuggest__suggestions-container--open{
	top:34px;
	width: 100%;
}
/**********************************************End Of React Phone Input Properties*********************************************/

/***************************************************HTML Date Input Properties*************************************************/
 
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*.picker__box .picker__header .picker__date-display .picker__weekday-display {
	background-color: red !important;
}*/

/************************************************End of HTML Date Input Properties*********************************************/

/********************************************************Custom Checkbox*******************************************************/

.containerWfh{
	display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 8px;
    padding-top: 2px;
    font-size: 13px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    color: var(--main-txt-color);
    /*font-family: 'Montserrat-Regular';*/
    /*background-color: red;*/
}
  
.containerWfh input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark2{
	position: absolute;
	top: 0;
	left: 0;
	height: 21px;
	width: 21px;
	border-radius: 3px;
	cursor: pointer;
	border: 2px solid var(--main-border-color); 
}
  
.containerWfh:hover input ~ .checkmark2{
	background-color: transparent;
}
  
.containerWfh input:checked ~ .checkmark2{
	background-color: var(--main-border-color);	
}
  
.checkmark2:after {
	content: "";
	position: absolute;
    display: none;
}
  
.containerWfh input:checked ~ .checkmark2:after{
	display: block;
}
  
.containerWfh .checkmark2:after{
	left: 5px;
	top: 3px;
	width: 6px;
	height: 9px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
 }

/***************************************End Of Custom Checkbox Properties******************************************/

/*********************************************Properties Of Ckeditor***********************************************/

.ck-editor {
     /* Overrides the border radius setting in the theme. */
    --ck-border-radius: 4px;

    /* Overrides the default font size in the theme. */
    --ck-font-size-base: 14px;

    /* Helper variables to avoid duplication in the colors. */
    --ck-custom-background: hsl(270, 1%, 29%);
    --ck-custom-foreground: hsl(255, 3%, 18%);
    --ck-custom-border: hsl(300, 1%, 22%);
    --ck-custom-white: hsl(0, 0%, 100%);

    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-foreground: var(--ck-custom-background);
    --ck-color-focus-border: hsl(208, 90%, 62%);
    --ck-color-text: hsl(0, 0%, 98%);
    --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2);
    --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

    --ck-color-button-default-background: var(--ck-custom-background);
    --ck-color-button-default-hover-background: /*hsl(270, 1%, 22%);*/ var(--main-border-color) !important;
    --ck-color-button-default-active-background: hsl(270, 2%, 20%);
    --ck-color-button-default-active-shadow: hsl(270, 2%, 23%);
    --ck-color-button-default-disabled-background: var(--ck-custom-background);

    /*--ck-color-button-on-background: var(--ck-custom-foreground);
    --ck-color-button-on-hover-background: hsl(255, 4%, 16%);
    --ck-color-button-on-active-background: hsl(255, 4%, 14%);
    --ck-color-button-on-active-shadow: hsl(240, 3%, 19%);
    --ck-color-button-on-disabled-background: var(--ck-custom-foreground);*/

    --ck-color-button-action-background: hsl(168, 76%, 42%);
    --ck-color-button-action-hover-background: hsl(168, 76%, 38%); 
    --ck-color-button-action-active-background: hsl(168, 76%, 36%);
    --ck-color-button-action-active-shadow: hsl(168, 75%, 34%);
    --ck-color-button-action-disabled-background: hsl(168, 76%, 42%);
    --ck-color-button-action-text: var(--ck-custom-white);

    --ck-color-button-save: hsl(120, 100%, 46%);
    --ck-color-button-cancel: hsl(15, 100%, 56%);

    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

    --ck-color-dropdown-panel-background: var(--ck-custom-background);
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

    --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-split-button-hover-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

    --ck-color-input-background: var(--ck-custom-foreground);
    --ck-color-input-border: hsl(257, 3%, 43%);
    --ck-color-input-text: hsl(0, 0%, 98%);
    --ck-color-input-disabled-background: hsl(255, 4%, 21%);
    --ck-color-input-disabled-border: hsl(250, 3%, 38%);
    --ck-color-input-disabled-text: hsl(0, 0%, 46%);

    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

    --ck-color-list-background: var(--ck-custom-background);
    --ck-color-list-button-hover-background: var(--ck-color-base-foreground);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: var(--ck-color-base-background);

    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

    --ck-color-panel-background: var(--ck-custom-background);
    --ck-color-panel-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

    --ck-color-toolbar-background: var(--main-bg-color);
    --ck-color-toolbar-border: var(--main-border-color);

    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

    --ck-color-tooltip-background: hsl(252, 7%, 14%);
    --ck-color-tooltip-text: hsl(0, 0%, 93%);

    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);

    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

    --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
    --ck-color-widget-hover-border: hsl(43, 100%, 68%);
    --ck-color-widget-editable-focus-background: var(--ck-custom-white);

    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

    --ck-color-link-default: hsl(190, 100%, 75%);
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
	background-color: var(--form-field-background-color) !important;
	border: 1px solid var(--main-border-color) !important;
}

.ck-rounded-corners .ck.ck-button{
	background-color: var(--main-bg-color);
}

.ck-content{
	color: var(--main-txt-color) !important;
}

.ck.ck-editor__main>.ck-editor__editable{
	background-color: var(--form-field-background-color) !important;
	border: 1px solid var(--main-border-color) !important;
	height: 370px;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners{
	background-color: var(--form-field-background-color) !important;
}

/*.ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label{
	background-color: var(--form-field-background-color) !important;
}*/

.ck.ck-dropdown .ck-button.ck-dropdown__button.ck-on{
	background-color: var(--form-field-background-color) !important;
}

.ck.ck-list__item .ck-button.ck-on{
	background-color: var(--main-border-color) !important
}

.ck .ck-insert-table-dropdown-grid-box.ck-on{
	border-color: var(--main-border-color) !important;
	background-color: var(--form-field-background-color) !important;
}

.ck .ck-insert-table-dropdown__grid{
	background-color: #444 !important;
}

.ck.ck-media-form{
	background-color: #444 !important;
}

.ck.ck-link-form{
	background-color: #444 !important;
	border: none !important;
} 

/********************************************Properties Of ReactTags******************************************/

div.ReactTags__tags {
    position: relative;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid var(--main-border-color);
    background-color: var(--form-field-background-color);
    /*padding-bottom: 1px;*/
}

div.ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
}

.ReactTags__tagInputField{
	/*border: 1px solid var(--main-border-color) !important;*/
	background-color: var(--form-field-background-color) !important;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 34px;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    border: none;
    width: 100%;
    padding: 0 4px;
    background-color: var(--main-bg-color);
    outline: none;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    background: #eee;
    font-size: 12px;
    display: inline-block;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0 5px;
    cursor: move;
    border-radius: 10px;
    margin-top: 5px;
}

div.ReactTags__selected a.ReactTags__remove {
    color: #fff;
    border-radius: 100%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: var(--main-bg-color);
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
	margin-left: 5px;
    position: absolute;
    z-index: 100 !important;
    background-color: var(--main-bg-color);
}

div.ReactTags__suggestions ul {
	width: 200px;
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    margin-top: 3px;
    /*background-color: var(--main-bg-color);*/
    border: 1px solid var(--main-border-color);
    color: #fff !important;
    border-radius: 4px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

div.ReactTags__suggestions li {
    /*border-bottom: 1px solid #ddd;*/
    padding: 5px 10px;
    margin: 0;
    margin-left: -40px !important;
}

div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
    /*color: #fff !important;*/
    color: var(--main-border-color) !important;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    cursor: pointer;
    background-color: var(--main-bg-color) !important;
    color: #fff !important;
    /*background-color: var(--main-border-color) !important;*/
}

input:focus {
    outline-offset: 0px !important;
}

user agent stylesheet:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.primarySkillsField{
	z-index: 3 !important;
}

/*****************************************************End Of ReactTags Properties****************************************************/

/*********************************************************HTML Custom Classes********************************************************/

input::placeholder{
	color: #ccc !important;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

::selection {
  color: #fff;
  background-color: var(--main-border-color);
}