.malkangir{
	position: absolute;
	left: 10px;
	top: 600px;
}
.koraput{
	position: absolute;
	left: 92px;
    top: 541px;
}
.nabarangpur{
	position: absolute;
	left: 66px;
    top: 422px;
}
.rayagada{
	position: absolute;
	left: 193px;
    top: 439px;
}
.kalahandi{
	position: absolute;
    left: 149px;
    top: 377px;
}
.nuapada{
	position: absolute;
    left: 129px;
    top: 290px;
}
.balangir{
	position: absolute;
    left: 171px;
    top: 296px;
}
.kandhamal{
	position: absolute;
    left: 271px;
    top: 348px;
}
.ganpati{
	position: absolute;
    left: 307px;
    top: 483px;
}
.ganjam{
	position: absolute;
    left: 350px;
    top: 398px;
}
.puri{
	position: absolute;
    left: 477px;
    top: 409px;
}
.khordha{
	position: absolute;
    left: 451px;
    top: 376px;
}
.nayagarh{
	position: absolute;
    left: 393px;
    top: 359px;
}
.boudh{
	position: absolute;
    left: 282px;
    top: 318px;
}
.subarnapur{
	position: absolute;
    left: 265px;
    top: 282px;
}
.bargarh{
	position: absolute;
    left: 164px;
    top: 208px;
}
.jharsugunda{
	position: absolute;
    left: 263px;
    top: 169px;
}
.sambalpur{
	position: absolute;
    left: 311px;
    top: 147px;
}
.deogarh{
	position: absolute;
    left: 392px;
    top: 206px;
}
.angul{
	position: absolute;
    left: 366px;
    top: 214px;
}
.dhenkanal{
	position: absolute;
    left: 474px;
    top: 280px;
}
.bhubaneswar{
	position: absolute;
    left: 437px;
    top: 342px;
}
.jagatsinghpur{
	position: absolute;
    left: 583px;
    top: 381px;
}
.kendrapara{
	position: absolute;
    left: 615px;
    top: 327px;
}
.jaipur{
	position: absolute;
    left: 542px;
    top: 280px;
}
.kendujhar{
	position: absolute;
    left: 479px;
    top: 148px;
}
.sundararh{
	position: absolute;
    left: 274px;
    top: 99px;
}
.mayurbhanj{
	position: absolute;
    left: 539px;
    top: 94px;
}
.baleswar{
	position: absolute;
    left: 624px;
    top: 175px;
}
.bhadrak{
	position: absolute;
    left: 614px;
    top: 269px;
}
