.bodyWrapper{
	min-height: 1100px;
	height: auto!important;
	background-color: #1f262d;
	color: #f5a721;
}
.mapWrapper{
	min-height: 1150px;
	height: auto;
	margin-top: 30px;
	width: 100%;
	color: var(--main-txt-color);
}


.stateWrapper{
	width:100%;
	min-height: 900px;
	height: auto;
	margin: auto;
	/*border: 1px solid #ff0;*/
	/*position: absolute;
	left: 50%;*/
	/*transform: translate(-50%);*/
	background-color: transparent;
	position: absolute;
	top: -100px;

}


@font-face {
  font-family:'Montserrat-Regular';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.mapTextLabel{
	font-size: 10px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
	text-align: center;
}

.mapCountLabel{
	font-size: 11px;
	font-family: 'Montserrat-Regular';
	color: var(--main-txt-color);
	text-align: center;
}

.classHover:hover .mapTextLabel{
	font-size: 10px;
	font-family: 'Montserrat-Bold';
	z-index: 1;
}

.classHover:hover .mapCountLabel{
	font-size: 11px;
	font-family: 'Montserrat-Bold';
	z-index: 1;
}

.classHover:hover{
	cursor: pointer;
}
