.sharanpur{
	position: absolute;
	left: 40px;
	top:  31px;
}
.sharanpurText{
	position: absolute;
	top: 50%;
    left: 25%;
}
.sharanpurNumber{
	position: absolute;
	top: 60%;
    left: 35%;
}
.shamli{
	position: absolute;
	left: 35px;
    top: 126px;
}
.shamliText{
	position: absolute;
	top: 30%;
    left: 15%;
}
.shamliNumber{
	position: absolute;
	top: 53%;
    left: 25%;
}
.muzaffarnagar{
	position: absolute;
	left: 78px;
    top: 126px;
}
.muzaffarnagarText{
	position: absolute;
	top: 35%;
    left: 20%;
}
.muzaffarnagarNumber{
	position: absolute;
	top: 50%;
    left: 25%;
}
.bijnor{
	position: absolute;
	left: 140px;
    top: 125px;
}
.bijnorText{
	position: absolute;
	top: 40%;
    left: 30%;
}
.bijnorNumber{
	position: absolute;
	top: 53%;
    left: 35%;
}
.satari{
	position: absolute;
	left: 342px;
    top: 162px;
}
.satariText{
	position: absolute;
	top: 45%;
    left: 50%;
}
.satariNumber{
	position: absolute;
	top: 52%;
    left: 52%;
}
.meerut{
	position: absolute;
	left: 63px;
    top: 190px;
}
.meerutText{
	position: absolute;
	top: 35%;
    left: 40%;
}
.meerutNumber{
	position: absolute;
	top: 52%;
    left: 45%;
}
.bagpat{
	position: absolute;
	left: 37px;
    top: 182px;
}
.bagpatText{
	position: absolute;
	top: 25%;
    left: -10%;
}
.bagpatNumber{
	position: absolute;
	top: 45%;
    left: 25%;
}
.ghaziabad{
	position: absolute;
	left: 42px;
    top: 233px;
}
.ghaziabadText{
	position: absolute;
	top: 30%;
    left: -20%;
}
.ghaziabadNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.hapur{
	position: absolute;
	left:  78px;
    top: 235px;
}
.hapurText{
	position: absolute;
	top: 20%;
    left: 30%;
}
.hapurNumber{
	position: absolute;
	top: 40%;
    left: 35%;
}
.amroha{
	position: absolute;
	left: 147px;
    top: 208px;
}
.amrohaText{
	position: absolute;
	top: 25%;
    left: 30%;
}
.amrohaNumber{
	position: absolute;
	top: 40%;
    left: 35%;
}
.moradabad{
	position: absolute;
	left: 215px;
    top: 189px;
}
.moradabadText{
	position: absolute;
	top: 25%;
    left: 30%;
}
.moradabadNumber{
	position: absolute;
	top: 40%;
    left: 35%;
}
.rampur{
	position: absolute;
	left: 237px;
    top: 207px;
}
.rampurText{
	position: absolute;
	top: 25%;
    left: 30%;
}
.rampurNumber{
	position: absolute;
	top: 40%;
    left: 35%;
}
.bareilly{
	position: absolute;
	left: 254px;
    top: 243px;
}
.bareillyText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.bareillyNumber{
	position: absolute;
	top: 45%;
    left: 40%;
}
.pilibhit{
	position: absolute;
	left: 332px;
    top: 240px;
}
.pilibhitText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.pilibhitNumber{
	position: absolute;
	top: 45%;
    left: 40%;
}
.gautamVuddhaNagar{
	position: absolute;
	left: 57px;
    top: 281px;
}
.gautamVuddhaNagarText{
	position: absolute;
	top: 25%;
    left: 35%;
}
.gautamVuddhaNagarNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.bulandshahr{
	position: absolute;
	left: 93px;
    top: 268px;
}
.bulandshahrText{
	position: absolute;
	top: 50%;
    left: 20%;
}
.bulandshahrNumber{
	position: absolute;
	top: 65%;
    left: 30%;
}
.sambhal{
	position: absolute;
	left: 184px;
    top: 244px;
}
.sambhalText{
	position: absolute;
	top: 50%;
    left: 20%;
}
.sambhalNumber{
	position: absolute;
	top: 65%;
    left: 30%;
}
.aligarh{
	position: absolute;
	left:  42px;
    top: 338px;
}
.aligarhText{
	position: absolute;
	top: 30%;
    left: 40%;
}
.aligarhNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.budaun{
	position: absolute;
	left: 167px;
    top: 297px;
}
.budaunText{
	position: absolute;
	top: 30%;
    left: 35%;
}
.budaunNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.shahjahanpur{
	position: absolute;
	left:  298px;
    top: 300px;
}
.shahjahanpurText{
	position: absolute;
	top: 45%;
    left: 25%;
}
.shahjahanpurNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.lakhimpurKheri{
	position: absolute;
	left: 383px;
    top: 269px;
}
.lakhimpurKheriText{
	position: absolute;
	top: 45%;
    left: 25%;
}
.lakhimpurKheriNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.aligarh{
	position: absolute;
	left: 72px;
    top: 338px;
}
.aligarhText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.aligarhNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.kasganj{
	position: absolute;
	left:  192px;
    top: 359px;
}
.kasganjText{
	position: absolute;
	top: 35%;
    left: 35%;
}
.kasganjNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.mathura{
	position: absolute;
	left:  47px;
    top: 369px;
}
.mathuraText{
	position: absolute;
	top: 30%;
    left: 20%;
}
.mathuraNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.hathras{
	position: absolute;
	left:  109px;
    top: 383px;
}
.hathrasText{
	position: absolute;
	top: 30%;
    left: 30%;
}
.hathrasNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.etah{
	position: absolute;
	left: 153px;
    top: 403px;
}
.etahText{
	position: absolute;
	top: 25%;
    left: 30%;
}
.etahNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.farrukhabad{
	position: absolute;
	left: 270px;
    top: 403px;
}
.farrukhabadText{
	position: absolute;
	top: 25%;
    left: 30%;
}
.farrukhabadNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.hardoi{
	position: absolute;
	left:338px;
    top: 396px;
}
.hardoiText{
	position: absolute;
	top: 40%;
    left: 20%;
}
.hardoiNumber{
	position: absolute;
	top: 55%;
    left: 25%;
}
.sitapur{
	position: absolute;
	left: 410px;
    top: 380px;
}
.sitapurText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.sitapurNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.bahraich{
	position: absolute;
	left:502px;
    top: 308px;
}
.bahraichText{
	position: absolute;
	top: 60%;
    left: 40%;
}
.bahraichNumber{
	position: absolute;
	top: 65%;
    left: 45%;
}
.shravasti{
	position: absolute;
	left:571px;
    top: 372px;
}
.shravastiText{
	position: absolute;
	top: 28%;
    left: 20%;
}
.shravastiNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.balrampur{
	position: absolute;
	left: 618px!important;
    top: 389px!important;
}
.balrampurText{
	position: absolute;
	top: 28%!important;
    left: 20%!important;
}
.balrampurNumber{
	position: absolute;
	top: 45%!important;
    left: 45%!important;
}
.siddhathnagar{
	position: absolute;
	left: 669px;
    top: 424px;
}
.siddhathnagarText{
	position: absolute;
	top: 28%;
    left: 20%;
}
.siddhathnagarNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.maharajhanj{
	position: absolute;
	left: 756px;
    top: 428px;
}
.maharajhanjText{
	position: absolute;
	top: 28%;
    left: 20%;
}
.maharajhanjNumber{
	position: absolute;
	top: 45%;
    left: 45%;
}
.agra{
	position: absolute;
	left:  59px;
    top: 438px;
}
.agraText{
	position: absolute;
	top: 28%;
    left: 30%;
}
.agraNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.firozabad{
	position: absolute;
	left:  151px;
    top: 427px;
}
.firozabadText{
	position: absolute;
	top: 30%;
    left: 30%;
}
.firozabadNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.manipuri{
	position: absolute;
	left:  221px;
    top: 432px;
}
.manipuriText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.manipuriNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.kannauj{
	position: absolute;
	left: 292px;
    top: 461px;
}
.kannaujText{
	position: absolute;
	top: 30%;
    left: 25%;
}
.kannaujNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.etawah{
	position: absolute;
	left: 224px;
    top: 497px;
}
.etawahText{
	position: absolute;
	top: 30%;
    left:30%;
}
.etawahNumber{
	position: absolute;
	top: 50%;
    left: 45%;
}
.auraiya{
	position: absolute;
	left:282px;
    top: 504px;
}
.auraiyaText{
	position: absolute;
	top: 30%;
    left:25%;
}
.auraiyaNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.kanpurDehat{
	position: absolute;
	left:314px;
    top: 503px;
}
.kanpurDehatText{
	position: absolute;
	top: 35%;
    left:25%;
}
.kanpurDehatNumber{
	position: absolute;
	top: 50%;
    left: 40%;
}
.kanpurNagar{
	position: absolute;
	left:367px;
    top: 500px;
}
.kanpurNagarText{
	position: absolute;
	top: 45%;
    left:30%;
}
.kanpurNagarNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.unnao{
	position: absolute;
	left: 380px;
    top: 492px; 
}
.unnaoText{
	position: absolute;
	top: 30%;
    left:35%;
}
.unnaoNumber{
	position: absolute;
	top: 40%;
    left: 40%;
}
.luchknow{
	position: absolute;
	left: 440px;
    top: 476px;
}
.luchknowText{
	position: absolute;
	top: 30%;
    left:25%;
}
.luchknowNumber{
	position: absolute;
	top: 45%;
    left: 40%;
}
.barabanki{
	position: absolute;
	left: 485px;
    top: 449px;
}
.barabankiText{
	position: absolute;
	top: 40%;
    left:25%;
}
.barabankiNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.gonda{
	position: absolute;
	left:560px;
    top: 441px;
}
.gondaText{
	position: absolute;
	top: 40%;
    left:25%;
}
.gondaNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.basti{
	position: absolute;
	left:644px;
    top: 489px;
}
.bastiText{
	position: absolute;
	top: 40%;
    left:35%;
}
.bastiNumber{
	position: absolute;
	top: 55%;
    left: 40%;
}
.santKabirNagar{
	position: absolute;
	left:722px;
    top: 491px;
}
.santKabirNagarText{
	position: absolute;
	top: 20%;
    left:-15%;
}
.santKabirNagarNumber{
	position: absolute;
	top: 35%;
    left: 30%;
}
.gorakhpur{
	position: absolute;
	left:752px;
    top: 495px;
}
.gorakhpurText{
	position: absolute;
	top: 40%;
    left:15%;
}
.gorakhpurNumber{
	position: absolute;
	top: 55%;
    left: 20%;
}
.kushinagar{
	position: absolute;
	left:807px;
    top: 448px;
}
.kushinagarText{
	position: absolute;
	top: 40%;
    left:25%;
}
.kushinagarNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}
.deoria{
	position: absolute;
	left:804px;
    top: 531px;
}
.deoriaText{
	position: absolute;
	top: 40%;
    left:25%;
}
.deoriaNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}
.jalaun{
	position: absolute;
	left:241px;
    top: 571px;
}
.jalaunText{
	position: absolute;
	top: 40%;
    left:25%;
}
.jalaunNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}
.hamirpur{
	position: absolute;
	left:294px;
    top: 610px;
}
.hamirpurText{
	position: absolute;
	top: 40%;
    left:25%;
}
.hamirpurNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}
.fatehpur{
	position: absolute;
	left: 397px;
    top: 601px;
}
.fatehpurText{
	position: absolute;
	top: 40%;
    left:45%;
}
.fatehpurNumber{
	position: absolute;
	top: 50%;
    left: 50%;
}
.raeBareli{
	position: absolute;
	left: 457px;
    top: 552px;
}
.raeBareliText{
	position: absolute;
	top: 40%;
    left:45%;
}
.raeBareliNumber{
	position: absolute;
	top: 50%;
    left: 50%;
}
.gauriganj{
	position: absolute;
	left: 563px;
    top: 544px;
}
.gauriganjText{
	position: absolute;
	top: 40%;
    left:-10%;
}
.gauriganjNumber{
	position: absolute;
	top: 55%;
    left: 30%;
}
.faizabad{
	position: absolute;
	left:  577px;
    top: 520px;
}
.faizabadText{
	position: absolute;
	top: 30%;
    left:30%;
}
.faizabadNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.ambedkarNagar{
	position: absolute;
	left:  651px;
    top: 545px;
}
.ambedkarNagarText{
	position: absolute;
	top: 25%;
    left:20%;
}
.ambedkarNagarNumber{
	position: absolute;
	top: 45%;
    left: 35%;
}
.sultanpur{
	position: absolute;
	left:  608px;
    top: 569px;
}
.sultanpurText{
	position: absolute;
	top: 35%;
    left:20%;
}
.sultanpurNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.azamgarh{
	position: absolute;
	left: 702px;
    top: 571px;
}
.azamgarhText{
	position: absolute;
	top: 35%;
    left:20%;
}
.azamgarhNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.mau{
	position: absolute;
	left:775px;
    top: 595px;
}
.mauText{
	position: absolute;
	top: 35%;
    left:40%;
}
.mauNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.ballia{
	position: absolute;
	left:833px;
    top: 603px;
}
.balliaText{
	position: absolute;
	top: 35%;
    left:30%;
}
.balliaNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.jhansi{
	position: absolute;
	left:163px;
    top: 641px;
}
.jhansiText{
	position: absolute;
	top: 35%;
    left:60%;
}
.jhansiNumber{
	position: absolute;
	top: 50%;
    left: 65%;
}
.hamirpur{
	position: absolute;
	left:294px;
    top: 609px;
}
.hamirpurText{
	position: absolute;
	top: 45%;
    left:40%;
}
.hamirpurNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.mahoba{
	position: absolute;
	left:286px;
    top: 701px;
}
.mahobaText{
	position: absolute;
	top: 25%;
    left:40%;
}
.mahobaNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.banda{
	position: absolute;
	left:389px;
    top: 647px;
}
.bandaText{
	position: absolute;
	top: 40%;
    left:40%;
}
.bandaNumber{
	position: absolute;
	top: 55%;
    left: 45%;
}
.chitrakoot{
	position: absolute;
	left:460px;
    top: 696px;
}
.chitrakootText{
	position: absolute;
	top: 40%;
    left:30%;
}
.chitrakootNumber{
	position: absolute;
	top: 55%;
    left: 35%;
}
.kaushambi{
	position: absolute;
	left:515px!important;
    top: 659px!important;
}
.kaushambiText{
	position: absolute;
	top: 40%!important;
    left:30%!important;
}
.kaushambiNumber{
	position: absolute;
	top: 55%!important;
    left: 35%!important;
}
.pratapgarh{
	position: absolute;
	left:534px!important;
    top: 610px!important;
}
.pratapgarhText{
	position: absolute;
	top: 40%!important;
    left:30%!important;
}
.pratapgarhNumber{
	position: absolute;
	top: 55%!important;
    left:35%!important;
}
.jaunpur{
	position: absolute;
	left:634px;
    top: 606px;
}
.jaunpurText{
	position: absolute;
	top: 40%;
    left:30%;
}
.jaunpurNumber{
	position: absolute;
	top: 55%;
    left:35%;
}
.allahabad{
	position: absolute;
	left:565px;
    top: 667px;
}
.allahabadText{
	position: absolute;
	top: 50%;
    left:25%;
}
.allahabadNumber{
	position: absolute;
	top: 60%;
    left:35%;
}
.varanasi{
	position: absolute;
	left:705px;
    top: 690px;
}
.varanasiText{
	position: absolute;
	top: 30%;
    left:20%;
}
.varanasiNumber{
	position: absolute;
	top: 50%;
    left:35%;
}
.santRavidasNagar{
	position: absolute;
	left:644px;
    top: 698px;
}
.santRavidasNagarText{
	position: absolute;
	top: 25%;
    left:-50%;
}
.santRavidasNagarNumber{
	position: absolute;
	top: 50%;
    left:35%;
}
.ghazipur{
	position: absolute;
	left: 751px;
    top: 645px;
}
.ghazipurText{
	position: absolute;
	top: 30%;
    left:40%;
}
.ghazipurNumber{
	position: absolute;
	top: 50%;
    left:45%;
}
.chandauli{
	position: absolute;
	left: 746px;
    top: 696px;
}
.chandauliText{
	position: absolute;
	top: 30%;
    left:30%;
}
.chandauliNumber{
	position: absolute;
	top: 45%;
    left:45%;
}
.mirzapur{
	position: absolute;
	left: 635px;
    top: 727px;
}
.mirzapurText{
	position: absolute;
	top: 30%;
    left:30%;
}
.mirzapurNumber{
	position: absolute;
	top: 45%;
    left:45%;
}
.sonbhandra{
	position: absolute;
	left: 687px;
    top: 783px;
}
.sonbhandraText{
	position: absolute;
	top: 30%;
    left:30%;
}
.sonbhandraNumber{
	position: absolute;
	top: 45%;
    left:45%;
}
.lalitpur{
	position: absolute;
	left: 146px;
    top: 742px;
}
.lalitpurText{
	position: absolute;
	top: 40%;
    left:25%;
}
.lalitpurNumber{
	position: absolute;
	top: 50%;
    left:30%;
}