.Andaman_Nicobar{
	position: absolute;
	top: 100px;
    left: 100px;
}
.Andaman_NicobarText{
	position: absolute;
	top: 45%;
	left: 45%;
}
.Andaman_NicobarNumber{
	position: absolute;
	top: 50%;
	left: 45%;
}
