
.fazilka{
	position: absolute;
	top: 540px;
	left: 30px;
}
.fazilkaText{
	position: absolute;
	top: 50%;
    left: 25%;
}
.fazilkaNumber{
	position: absolute;
	top: 58%;
    left: 25%;
}

.sri_muktsar_sahib{
	position: absolute;
	top: 574px;
    left: 122px;
}
.sri_muktsar_sahibText{
	position: absolute;
	top: 47%;
    left: 17%;
}
.sri_muktsar_sahibNumber{
	position: absolute;
    top: 56%;
    left: 37%;
}

.bathinda{
	position: absolute;
	top: 604px;
    left: 217px;
}
.bathindaText{
	position: absolute;
	top: 47%;
    left: 38%;
}
.bathindaNumber{
	position: absolute;
    top: 56%;
    left: 40%;
}

.faridkot{
	position: absolute;
	top: 529px;
    left: 179px;
}
.faridkotText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.faridkotNumber{
	position: absolute;
    top: 52%;
    left: 50%;
}

.ferozepur{
	position: absolute;
	top: 435px;
    left: 138px;
}
.ferozepurText{
	position: absolute;
	top: 40%;
    left: 45%;
}
.ferozepurNumber{
	position: absolute;
    top: 52%;
    left: 45%;
}

.tarn_taran{
	position: absolute;
	top: 313px;
    left: 192px;
}
.tarn_taranText{
	position: absolute;
	top: 37%;
    left: 30%;
}
.tarn_taranNumber{
	position: absolute;
    top: 52%;
    left: 30%;
}

.amritsar{
	position: absolute;
	top: 173px;
    left: 200px;
}
.amritsarText{
	position: absolute;
	top: 50%;
    left: 30%;
}
.amritsarNumber{
	position: absolute;
    top: 60%;
    left: 30%;
}

.gurdaspur{
	position: absolute;
	top: 131px;
    left: 292px;
}
.gurdaspurText{
	position: absolute;
	top: 45%;
    left: 35%;
}
.gurdaspurNumber{
	position: absolute;
    top: 54%;
    left: 40%;
}

.pathankot{
	position: absolute;
	top: 49px;
    left: 403px;
}
.pathankotText{
	position: absolute;
	top: 52%;
    left: 16%;
}
.pathankotNumber{
	position: absolute;
    top: 65%;
    left: 20%;
}

.hoshiarpur{
	position: absolute;
	top: 169px;
    left: 433px;
}
.hoshiarpurText{
	position: absolute;
	top: 42%;
    left: 27%;
}
.hoshiarpurNumber{
	position: absolute;
    top: 48%;
    left: 30%;
}

.kapurthala{
	position: absolute;
    top: 294px;
    left: 306px;
}
.kapurthalaText{
	position: absolute;
	top: 50%;
    left: 40%;
}
.kapurthalaNumber{
	position: absolute;
    top: 60%;
    left: 45%;
}

.jalandhar{
	position: absolute;
    top: 305px;
    left: 332px;
}
.jalandharText{
	position: absolute;
	top: 65%;
    left: 40%;
}
.jalandharNumber{
	position: absolute;
    top: 75%;
    left: 42%;
}

.singh_nagar{
	position: absolute;
    top: 405px;
    left: 507px;
}
.singh_nagarText{
	position: absolute;
	top: 50%;
    left: 35%;
}
.singh_nagarNumber{
	position: absolute;
    top: 65%;
    left: 45%;
}

.rupnagar{
	position: absolute;
    top: 360px;
    left: 632px;
}
.rupnagarText{
	position: absolute;
	top: 45%;
    left: 30%;
}
.rupnagarNumber{
	position: absolute;
    top: 55%;
    left: 48%;
}

.a_Kapurthala{
	position: absolute;
    top: 376px;
    left: 481px;
}
.a_KapurthalaText{
	position: absolute;
	top: 25%;
    left: 4%;
}
.a_KapurthalaNumber{
	position: absolute;
    top: 45%;
    left: 25%;
}

.moga{
	position: absolute;
    top: 451px;
    left: 284px;
}
.mogaText{
	position: absolute;
	top: 35%;
    left: 40%;
}
.mogaNumber{
	position: absolute;
    top: 45%;
    left: 40%;
}

.ludhiana{
	position: absolute;
    top: 477px;
    left: 402px;
}
.ludhianaText{
	position: absolute;
	top: 35%;
    left: 40%;
}
.ludhianaNumber{
	position: absolute;
    top: 45%;
    left: 40%;
}

.barnala{
	position: absolute;
    top: 597px;
    left: 373px;
}
.barnalaText{
	position: absolute;
	top: 35%;
    left: 40%;
}
.barnalaNumber{
	position: absolute;
    top: 45%;
    left: 40%;
}

.mansa{
	position: absolute;
    top: 709px;
    left: 347px;
}
.mansaText{
	position: absolute;
	top: 35%;
    left: 40%;
}
.mansaNumber{
	position: absolute;
    top: 45%;
    left: 40%;
}

.sangrur{
	position: absolute;
    top: 575px;
    left: 449px;
}
.sangrurText{
	position: absolute;
	top: 40%;
    left: 40%;
}
.sangrurNumber{
	position: absolute;
    top: 45%;
    left: 40%;
}

.fatehgarh_sahib{
	position: absolute;
    top: 523px;
    left: 578px;
}
.fatehgarh_sahibText{
	position: absolute;
	top: 45%;
    left: 20%;
}
.fatehgarh_sahibNumber{
	position: absolute;
    top: 60%;
    left: 40%;
}


.patiala{
	position: absolute;
    top: 594px;
    left: 542px;
}
.patialaText{
	position: absolute;
	top: 34%;
    left: 42%;
}
.patialaNumber{
	position: absolute;
    top: 40%;
    left: 40%;
}


.mohali{
	position: absolute;
    top: 506px;
    left: 691px;
}
.mohaliText{
	position: absolute;
	top: 45%;
    left: 35%;
}
.mohaliNumber{
	position: absolute;
    top: 55%;
    left: 45%;
}




