
.fazilka{
	position: absolute;
	top: 550px;
	left: 50px;
}
.fazilkaText{
	position: absolute;
	top: 50%;
    left: 25%;
}
.fazilkaNumber{
	position: absolute;
	top: 60%;
    left: 33%;
}

.sri_muktsar_sahib{
	position: absolute;
	top: 584px;
    left: 142px;
}
.sri_muktsar_sahibText{
	position: absolute;
	top: 47%;
    left: 17%;
}
.sri_muktsar_sahibNumber{
	position: absolute;
    top: 57%;
    left: 40%;
}

.bathinda{
	position: absolute;
	top: 614px;
    left: 237px;
}
.bathindaText{
	position: absolute;
	top: 47%;
    left: 38%;
}
.bathindaNumber{
	position: absolute;
    top: 56%;
    left: 47%;
}

.faridkot{
	position: absolute;
	top: 539px;
    left: 199px;
}
.faridkotText{
	position: absolute;
	top: 37%;
    left: 39%;
}
.faridkotNumber{
	position: absolute;
        position: absolute;
    top: 52%;
    left: 52%;
}

.ferozepur{
	position: absolute;
	top: 445px;
    left: 158px;
}
.ferozepurText{
	position: absolute;
	top: 37%;
    left: 39%;
}
.ferozepurNumber{
	position: absolute;
    top: 52%;
    left: 52%;
}

.tarn_taran{
	position: absolute;
	top: 323px;
    left: 212px;
}
.tarn_taranText{
	position: absolute;
	top: 37%;
    left: 30%;
}
.tarn_taranNumber{
	position: absolute;
    top: 52%;
    left: 40%;
}

.amritsar{
	position: absolute;
	top: 183px;
    left: 220px;
}
.amritsarText{
	position: absolute;
	top: 50%;
    left: 30%;
}
.amritsarNumber{
	position: absolute;
    top: 65%;
    left: 40%;
}

.gurdaspur{
	position: absolute;
	top: 141px;
    left: 312px;
}
.gurdaspurText{
	position: absolute;
	top: 37%;
    left: 30%;
}
.gurdaspurNumber{
	position: absolute;
    top: 52%;
    left: 40%;
}

.pathankot{
	position: absolute;
	top: 59px;
    left: 423px;
}
.pathankotText{
	position: absolute;
	top: 37%;
    left: 30%;
}
.pathankotNumber{
	position: absolute;
    top: 52%;
    left: 40%;
}

.hoshiarpur{
	position: absolute;
	top: 179px;
    left: 453px;
}
.hoshiarpurText{
	position: absolute;
	top: 37%;
    left: 23%;
}
.hoshiarpurNumber{
	position: absolute;
    top: 44%;
    left: 36%;
}

.kapurthala{
	position: absolute;
    top: 304px;
    left: 326px;
}
.kapurthalaText{
	position: absolute;
	top: 50%;
    left: 40%;
}
.kapurthalaNumber{
	position: absolute;
    top: 63%;
    left: 48%;
}

.jalandhar{
	position: absolute;
    top: 315px;
    left: 352px;
}
.jalandharText{
	position: absolute;
	top: 65%;
    left: 40%;
}
.jalandharNumber{
	position: absolute;
    top: 75%;
    left: 48%;
}

.singh_nagar{
	position: absolute;
    top: 415px;
    left: 527px;
}
.singh_nagarText{
	position: absolute;
	top: 45%;
    left: 30%;
}
.singh_nagarNumber{
	position: absolute;
    top: 65%;
    left: 48%;
}


