
@media(min-width:992px) and (max-width:1024px){
 .overFlow{
	overflow-x: scroll;
	z-index: 500;
}
}
@media(min-width:768px) and (max-width:992px){
	.overFlow{
	overflow-x: scroll;
	z-index: 500;
}

.india{
	top: 0px;
}

.viewDiv{
	width: 100%;
	margin: auto;
	height: 50px;
	border: 1px solid var(--yellow-button-color);
	border-radius: 5px;
	background-color: var(--main-bg-color);
	margin-bottom: 10px;
	text-align: center;
	margin-bottom: 20px;
	float: left !important;
	color: var(--main-txt-color) !important;
	font-family: 'Montserrat-Regular' !important;
	padding:12px !important;
	font-size: 12px !important;
	float: left !important;


}

.viewDiv.active{
	height: 50px !important;
	background-color: var(--yellow-button-color) !important;
	color: var(--main-txt-color) !important;
	font-family: 'Montserrat-Regular' !important;
	padding:12px !important;
	font-size: 12px !important;

}

}
@media(min-width:576px) and (max-width:768px){
	.overFlow{
	overflow-x: scroll;
	z-index: 500;
}

.viewDiv{
	width: 100%;
	margin: auto;
	height: 50px;
	border: 1px solid var(--yellow-button-color);
	border-radius: 5px;
	background-color: var(--main-bg-color);
	margin-bottom: 10px;
	text-align: center;
	margin-bottom: 20px;
	float: left !important;
	color: var(--main-txt-color) !important;
	font-family: 'Montserrat-Regular' !important;
	padding:12px !important;
	font-size: 12px !important;
	float: left !important;


}
.viewDiv.active{
	height: 50px !important;
	background-color: var(--yellow-button-color) !important;
	color: var(--main-txt-color) !important;
	font-family: 'Montserrat-Regular' !important;
	padding:12px !important;
	font-size: 12px !important;

}

}
@media (max-width:576px){
 	.overFlow{
	overflow-x: scroll;
	z-index: 500;
}
}