.garhwa{
	position: absolute;
	left: 10px;
	top:250px;
}
.palamu{
	position: absolute;
	left: 87px;
    top: 231px;
}
.chatra{
	position: absolute;
	left: 190px;
    top: 249px;
}
.hazaribag{
	position: absolute;
	left: 285px;
    top: 248px;
}
.koderma{
	position: absolute;
	left: 332px;
    top: 197px;
}
.giridin{
	position: absolute;
	left: 389px;
    top: 203px;
}
.deoghar{
	position: absolute;
    left: 515px;
    top: 228px;
}
.dumka{
	position: absolute;
    left: 586px;
    top: 221px;
}
.godda{
	position: absolute;
    left: 614px;
    top: 119px;
}
.pakur{
	position: absolute;
    left: 666px;
    top: 190px;
}
.sahibganj{
	position: absolute;
    left: 678px;
    top: 99px;
}
.jamtara{
	position: absolute;
    left: 521px;
    top: 310px;
}
.dhanbad{
	position: absolute;
    left: 461px;
    top: 332px;
}
.bokaro{
	position: absolute;
    left: 377px;
    top: 347px;
}
.ramgarh{
	position: absolute;
    left: 316px;
    top: 353px;
}
.ranchi{
	position: absolute;
    left: 263px;
    top: 395px;
}
.saraikelaKharsawan{
	position: absolute;
    left: 369px;
    top: 486px;
}
.eastSinghbhum{
	position: absolute;
    left: 455px;
    top: 516px;
}
.westSinghbhum{
	position: absolute;
    left: 284px;
    top: 543px;
}
.simdega{
	position: absolute;
    left: 122px;
    top: 551px;
}
.khunti{
	position: absolute;
    left: 272px;
    top: 475px;
}
.gumla{
	position: absolute;
    left: 125px;
    top: 415px;
}
.lohardaga{
	position: absolute;
    left: 181px;
    top: 404px;
}
.latehar{
	position: absolute;
    left: 114px;
    top: 337px;
}
