.detailBox{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    color: #666;
}
.detailBoxImg{
    margin-top: 10px;
    height: 65px;
    background-size: 100% 100%;
}
.detailtitle{
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.packagedisabled {
  background: #eeeeee !important;
}
input#check {
	position: absolute;
	opacity: 0;
	
	&:checked + label svg path {
		stroke-dashoffset: 0;
	}
	
	&:focus + label {
		transform: scale(1.03);
	}
}
/* The entitycheckLabel */
.entitycheckLabel {
    /* display: block; */
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .entitycheckLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmarks {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #333;
    background-color: #fff;
  }
  
  /* On mouse-over, add a grey background color */
  .entitycheckLabel:hover input ~ .checkmarks {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .entitycheckLabel input:checked ~ .checkmarks {
    background-color: #fff;
    border: 1px solid #333;
  }
  
  /* Create the checkmarks/indicator (hidden when not checked) */
  .checkmarks:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmarks when checked */
  .entitycheckLabel input:checked ~ .checkmarks:after {
    display: block;
  }
  
  /* Style the checkmarks/indicator */
  .entitycheckLabel .checkmarks:after {
    left: 6px;
    top: 1px;
    text-align: center;
    width: 7px;
    height: 13px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .packages{
    padding-bottom: 15px;
    border-right: 1px solid #e6e5e5;
  }
  .dropdown-contractLocation{
    min-width: 90px !important;
  }
  .dropdown-contractLocation ul>li> a{
    padding: 10px 22px !important;
  }
  .packageList>tr{
    box-shadow: 0px 1px 0px 0px #ddd;
  }
  .percentspan{
    /* padding: 9px; */
    text-align: center;
    font-weight: 600;
  }