
.progressBarWrapper{
	height:170px;
	background-color: var(--main-bg-color);
	padding-top:40px;
	padding-bottom:20px;
	font-family: 'Montserrat-Medium',Sans-Serif;

}
.progressBar{
	display:flex;
	color:#999;
}
.step{
	text-align:center;
	width: 25%;
	z-index:;
}
.step6{
	text-align:center;
	width: 2%;
}
.stepText{
	font-size:11px;
	
}
.bullet{
	display:inline-block;
	position:relative;
	height:20px;
	width: 20px;
	font-size:10px;
	padding-top:2px;
	border:1px solid var(--main-border-color);
	background-color:var(--main-bg-color);
	margin-bottom:5px;
	text-align:center;
	z-index:2;

}
.step .active{
	color:#fff;
	background:var(--yellow-button-color)!important;
}
.bullet::after{
	content:'';
	position:absolute;
	width:200px; 
	height:1px;
	left:18px;
	top:8px;
	background:var(--yellow-button-color);
	z-index:-2;

}
.step:nth-child(5) .bullet::after{
	width:0px;
	
}


.progressBar2{
	height: 20px;
	margin-top:25px;
	border:1px solid var(--main-border-color);
	background-color:var(--main-bg-color)!important;
	margin-bottom:0px;

}

.progressBar2 img{
	height:35px;
	position:absolute;
	top:15px;
	transition:all 2s;
	
}
.progress-bar {
    background-color: var(--main-border-color);
    transition:all 2s;
}
.progress-bar-striped {
    background-image: linear-gradient(135deg, rgba(20, 40, 60, 0.9) 25%, transparent 25%, transparent 50%, rgba(20, 40, 60, 0.9) 50%, rgba(20, 40, 60, 0.9) 75%, transparent 75%, transparent)!important;
    background-size: 1.3rem 1.3rem!important;
}
.step a{
	color:#999!important;
}

@media (min-width:1400px){
	.bullet::after{
		width: 220px;
	}
}
@media (min-width: 1140px) and (max-width: 1245px){
	.bullet::after {
	    width: 180px;
	}
}
@media (min-width: 1040px) and (max-width: 1140px){
	.bullet::after {
	    width: 161px;
	}
}
@media (min-width: 992px) and (max-width: 1040px){
	.bullet::after {
	    width: 155px;
	}
}
@media(min-width:868px) and (max-width:992px){
    .bullet::after{
		width: 134px;
	}
}
@media(min-width:768px) and (max-width:868px){
    .bullet::after{
		width: 117px;
	}
}
@media(min-width:660px) and (max-width:768px){
    .bullet::after{
		width: 131px;
	}
	.progressBar,.progressbarOuterWrapper{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(min-width:576px) and (max-width:660px){
    .bullet::after{
		width: 110px;
	}
	.progressBar,.progressbarOuterWrapper{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(min-width:470px) and (max-width:576px){
    .bullet::after{
		width: 94px;
	}
	.progressBar,.progressbarOuterWrapper{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(max-width:470px){
	.bullet::after{
		width: 68px;
	}
	.progressBar,.progressbarOuterWrapper{
		padding-left: 0px;
		padding-right: 0px;
	}
}
