:root {
  --main-bg-color                   : #fff;
  --header-bg-color                 : #191c24;
  --footer-bg-color                 : #191c24;
  --input-bg-color                  : #fff;

  --main-txt-color                  : #333;

  --main-heading-font-color         : #f5a721;
  --main-subheading-font-color      : #f5a721;
  --main-white-subheading-font-color: #f5a721;

  --header-border-color             : #4b5666;
  --main-border-color               : #ccc;

  --yellow-button-color             : #f5a721;
  --red-button-color                : #ff4444;

  --blue-color                      : #367ea8;
}
.basicInfoWrapper{
	min-height: 100px;
	height: auto;
	color:#fff;
 
  padding-bottom:70px;
}
.BasicInfoBlock{
  min-height: 430px;
  height: auto;
	border:3px solid var(--main-border-color);
	border-radius: 10px;
	padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff!important;
}
.mainPagesWrapper{
  margin-top: 30px;
  padding-top: 30px;
  min-height: 430px;
  height:auto;
  background-color: #fff!important;
}


